[2021-09-23 01:18] kinseywk commented on #3160
Ah, that makes sense. I didn't know to use meta.inspect(). My apologies. Still, it strikes me as inconsistent that cases $a through $d produce the same strings.

[2021-09-23 02:19] muaytau opened #3162 "Import mixins not work."
Hi everyone. I just started my career as a junior full stack developer.
I ran into this issue. But I have no idea how to fix this. :(
![image](https://user-images.githubusercontent.com/86136164/134445745-08284e1d-0ca7-45cf-ba91-c1c77851adb3.png)

Can anybody help me please? :)

[2021-09-23 15:38] Awjin commented on #3162
This is a great question for the [Sass StackOverflow community](https://stackoverflow.com/questions/ask?tags=sass)! We try to keep this issue tracker focused on bugs and feature requests that need the core team's attention in particular, while requests for support are usually better handled by the community at large.

[2021-09-23 15:38] #3162 closed, assigned to nobody

[2021-09-24 16:52] lehni commented on #818
@nex3 thanks for taking care of this already! I was a way for a couple of days.

PS: The strange error message I posted above is caused by this issue: https://github.com/sass/dart-sass/issues/1511

[2021-09-24 16:55] lehni opened #3163 "Nested calc() inside min() gets wrongly discarded"
The title says it all. With this input:

[code]

I get the following output with `v1.42.1`:

[code]

The expected output:

[code]

As you can see, the `calc()` gets currently removed, the rest remains. `calc()` should be preserved too.

[2021-09-24 17:04] lehni commented on #3163
@nex3 I just noticed I should probably have posted this on https://github.com/sass/dart-sass instead?

[2021-09-24 17:10] #3163 closed, assigned to nobody

[2021-09-26 01:55] jeanlescure opened #3164 "Versions v1.42.x broken (and maybe other previous ones...)"
Our team had to downgrade back to `1.38.2` because latest versions are reporting errors that were not errors before:

![2021-09-25_19-47](https://user-images.githubusercontent.com/3330339/134790456-b5fb7a5b-bdf0-4819-910e-bde58fc54e8b.png)

The previous error happenes both with `v1.42.1` and `1.42.0`. Since this was affecting a time-sensitive deployment I simply switched `^1.38.2` to `1.38.2` on o

[2021-09-26 16:15] ngdangtu-vn opened #3165 "--embed-source-map flag doesn't work with many-to-many mode"
I want to embed source map files to source files but I keep getting this error:

[code]

I tried to move the flag to behind of the inputs but the result didn't change. This is a bug right?

Here is my computer spec:

- Windows 10
- Sass-dart 1.42.1 (installed via choco)

[2021-09-28 00:04] nex3 commented on #3165
It looks like your second dash in `-–embed-source-map` is actually a U+2013 EN DASH character, which is causing Sass to interpret the entire argument as a filename rather than a flag. If you write `--embed-source-map` instead, it should work.

[2021-09-28 00:04] #3165 closed, assigned to nobody

[2021-09-28 06:15] ngdangtu-vn commented on #3165
My bad, I'm sorry about this. Btw, can we have a better error message for this case? The current message kept making me thought that I'd added input/output incorrectly. Maybe we can display a message like:

[code]

(I think I copied the whole `-–embed-source-map` from the doc site to my editor so I miss it. Sb'll probably make the same mistakes as well)

[2021-09-28 06:23] ngdangtu-vn opened #3166 "Suggestion: Improve error message for command flags case"
This issue is inherit from this #3165

My case was I accidently use a similar character that looks like dash and it cause an error message (which origin of it is, I believe, from Dart language). As the result, I got confused with input/output. Usually, in other cli app, I should receive some messages that tells me I got a weird characters, but it isn't the case in Sass. So I suggest we should add

[2021-09-28 10:44] stof commented on #3165
@ngdangtu-vn the issue is that the U+2013 EN DASH character is valid in filenames. If dart-sass rejects such filenames due to maybe being confused for a dash character denoting the option, it would force you to rename the file for it to be usable.

[2021-09-28 10:46] stof commented on #3165
this looks weird (unless you editor changed the dash when pasting it), as the doc site does not seem to use U+2013 EN DASH

[2021-09-28 10:46] stof commented on #3166
see my comment on https://github.com/sass/sass/issues/3165#issuecomment-929072441

This can only be achieved by forbidding some file names

[2021-09-28 10:48] stof commented on #3164
@nex3 this one is a duplicate of https://github.com/sass/dart-sass/issues/1512 (where it has been discussed)

[2021-09-28 10:52] stof commented on #2954
Note that the CSS spec seems to support the `infinity` and `nan` constants only in calculations, thanks to the new `<calc-constant>` production (which also supports `e` and `pi` btw)

[2021-09-28 11:38] #3164 closed, assigned to nobody

[2021-09-28 12:34] ngdangtu-vn commented on #3165
I've checked and it is my bad. Not exactly sure what source causes this but indeed that the document doesn't use the character.

About this. I understand that Sass is very generous in using name (support Unicode right?), but I don't see why sb would use such a similar character in filenames. Do we have any special reason for it?

And I wonder how does the app parse the command input? Since we have

[2021-09-28 12:57] stof commented on #3165
@ngdangtu-vn it uses https://pub.dev/packages/args

[2021-09-28 14:13] ngdangtu-vn commented on #3165
Maybe this is the scope of args package :?

[2021-09-28 14:16] stof commented on #3165
well, for your case where you use an EN DASH in place of the *second* dash, this might be solved in the `args` package if it expects that everything starting with a DASH must be an option (if not placed after a `--` separator of course, as that one disables parsing options). It would then report EN DASH as an invalid option shortcut (as there is no such shortcut defined in dart-sass).

[2021-09-29 20:28] hawkeye64 opened #3170 "When using a wrapper, sass inadvertantly wraps css @ constructs"
I don't know if I am doing this wrong and there is an alternative way, but I will explain.

I am using Carbon Charts and need to wrap their SCSS to avoid CSS pollution.

Here is an example of the sass file:

[code]

I get output like this:

[code]

This is fine, but it created an issue as well, for instance:

[code]

This is illegal CSS.

Am I doing something wrong? Is there an alternative to this

[2021-09-29 20:57] jathak commented on #3166
There are a lot of Unicode characters that look similar to dashes, and special casing them isn't something that's worth the effort for this edge case.

[2021-09-29 20:57] #3166 closed, assigned to nobody

[2021-09-29 23:14] stof opened #3171 "Read-only variables for used modules"
Currently, built-in modules and userland modules have a big difference (which is not clearly explained in the doc IMO): in userland modules, any exported variable is writable by downstream modules, and this impacts other modules importing the same module later. This is even true for variables that are not configurable in `@use`. On the other hand, variables exported by built-in modules (`math.$pi`

[2021-10-03 12:05] cpoftea commented on #3171
I checked a [`sass-spec/`](https://github.com/sass/sass-spec) repo to find tests to this behavior:
- directives/use/member/namespaced
  - [variable_assignment/top_level](https://github.com/sass/sass-spec/blob/94477a2341a86a861a83f742e58c25f5e5f3492c/spec/directives/use/member/namespaced.hrx#L16-L33)
  - [variable_assignment/nested](https://github.com/sass/sass-spec/blob/94477a2341a86a861a83f742e58

[2021-10-04 15:42] stof commented on #2901
I recently looked in detail at the implementation of the selector parsing and selector unification in dart-sass (to port it to scssphp to have a spec compliant logic), and I was quite surprised to discover the support for multiple combinators and trailing combinators, and the code complexity related to (partially) handle them.
So I think this deprecation makes sense (and I don't see any reason why

[2021-10-04 22:32] nex3 commented on #3171
Although I don't think we can change the default behavior here, I do think it's reasonable to allow module authors to opt into making their variables read-only outside of their module. I don't have a strong design for such a thing in mind, though.

[2021-10-04 23:57] stof commented on #3171
Do you have any examples of usages that explicitly rely on the writable nature of those variables (I'm not counting sass-spec as such a usage of course, as it is about testing the spec, not about doing actual usages). All open-source examples I found are either explicitly avoiding public module variables (cf guten-type from @Awjin) or are never writing to them from their own downstream modules and

[2021-10-05 19:24] asyncliz opened #3176 "First-class plain CSS functions"
Similar to the new [calculation](https://sass-lang.com/documentation/values/calculations) type, it would be fantastic to add first-class support for the [`var()` function](https://developer.mozilla.org/en-US/docs/Web/CSS/var()) as a new `variable` type.

## Desired Features

### Meta type recognition

[code]

### Inspection of name and values

[code]

### Interpolation

[code]
[code]

## Motivatio

[2021-10-05 22:03] nex3 commented on #3176
A more general way to do this would be to treat *all* plain-CSS functions as first-class values whose names and arguments could be directly inspected, rather than eagerly converting them to strings. So we'd something like `meta.fn-name()` and `meta.fn-args()` which work analogously to `meta.calc-name()` and `meta.calc-args()`. We could potentially even subsume the latter into the former by saying

[2021-10-05 22:20] asyncliz commented on #3176
That sounds like an excellent idea! The type returned by `meta.type-of()` would need to distinguish itself from `"function"` (perhaps `"cssfunction"`?)

I'm all in favor of this alternative if we can make it clear in naming the difference between a Sass function (for things like `meta.function-exists()` and `meta.get-function()` and a CSS function.

[2021-10-05 22:24] nex3 commented on #3176
Yeah, I think we'd have `type-of` return `css-function`.

[2021-10-05 22:32] asyncliz commented on #3176
Happy to work on a proposal for this direction! 😊

[2021-10-05 23:20] nex3 commented on #3171
The cost of a breaking change like this is extremely high, and not something I'm willing to pay unless the old way of doing things is actively causing major harm which I don't think is the case here. Besides, although you may be right that upon consideration most users would choose for most of their module variables to be write-protected, that doesn't necessarily mean that they'd *expect* them to

[2021-10-05 23:30] nex3 commented on #2901
Feel free to write up a proposal!

[2021-10-06 17:16] #2906 closed, assigned to Awjin

[2021-10-06 20:22] jathak commented on #3170
Duplicate of https://github.com/sass/sass/issues/1251

[2021-10-06 20:22] #3170 closed, assigned to nobody

[2021-10-06 20:40] Awjin commented on #3171
@stof I think read-only module members is an interesting idea, though I'm not sure that guten-type is the most illustrative use-case, since it's a toy project and small in scope. It will be interesting to see what user needs arise for read-only vs. writable members, especially in non-trivial use cases (maybe something like Material Web).

[2021-10-07 13:08] zaydek opened #3182 "Question about deprecation warnings"
Is my understanding correct that previous to ~v1.32 Sass wasn't logging deprecation warnings to stderr? I'm finding that the JS API is not programmatic enough for my needs because from what I can tell, there's not programmatic way to silence deprecation warnings using the JS API. I'm aware I can use `--quiet` as a flag for the CLI, but I need programmatic control over stdout / stderr, which is why

[2021-10-08 14:29] miguelesquirol opened #3184 "Question about math.div"
I'm migrating manually my code with a new way to do divisions. But every time I use a variable inside a division it gives me the alert:

"math.div() will only support number arguments in a future release. Use list.slash() instead for a slash separator."

a![image](https://user-images.githubusercontent.com/594913/136574251-e05957c7-545a-4764-b742-1b135b4eee74.png)

[2021-10-08 17:13] Awjin commented on #3184
It looks like `$track-height` is not a number.

[2021-10-08 17:14] #3184 closed, assigned to nobody

[2021-10-11 18:06] jathak commented on #3182
As of 1.43.0, you can now [pass a logger](https://github.com/sass/dart-sass/blob/main/CHANGELOG.md#1430) to the JS API. `Logger.silent` should silence all messages; you can also pass a custom `Logger` to more precisely control the output.

[2021-10-11 18:06] #3182 closed, assigned to nobody

[2021-10-12 03:53] HypeNeutron opened #3187 "SASS compiler complaint in google API"

[2021-10-12 04:04] HypeNeutron opened #3188 "SASS compiler complaint in google font API, How exactly using?"
### This is complaint in my generated
`@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800&display=swap");`

### In terminal
`Invalid CSS after "...&display=swap")": expected media query list, was ";" on line 2 of assets/css/main.prefix.css`

[2021-10-12 04:04] #3187 closed, assigned to nobody

[2021-10-12 04:22] #3188 closed, assigned to nobody

[2021-10-12 04:26] HypeNeutron commented on #3188
It's maybe because I use compile compress CSS (SCSS compiled) but if compile compress  SCSS to CSS it exactly ok

[2021-10-12 08:40] zaydek commented on #3182
Thanks @jathak. I thought I tried that but maybe I did something wrong. Will follow-up only if there's an issue. Thanks!

[2021-10-12 19:59] fecou opened #3189 "string concatenation to form hex color"
I have webpack with sass loader.
I'm trying to convert a string to define hex color.
This code should work
`
$primaryBg0: "#";
$primaryBg1: "5a8";
$primaryBg2: "264";
$primaryBg: unquote(#{$primaryBg0}#{$primaryBg1}#{$primaryBg2});
@debug "primaryBg: #{$primaryBg}";
$test:darken(#{$primaryBg}, 10%);
`
The @debug returns DEBUG: primaryBg: #5a8264
But I get an error :  SassError: SassError: argument

[2021-10-13 08:20] KasparRosin commented on #3189
Unrelated to darken method, but having the same issue with rbga() function.
[code]

[2021-10-13 09:02] HypeNeutron opened #3190 "Why is not compile when use @use ?"
### I maybe misunderstand about @ use?  this is my CLI

`"watch:sass": "sass --watch  assets/scss/main.scss:assets/css/main.css",`

### My main.scss
[code]

[2021-10-14 13:40] cpoftea commented on #3189
I'm not sure Sass support type conversions.
For now, unquoted string is still a string.
You can debug your variable with module `sass:meta` function `meta.type-of($variable)`.

By the way, [first link](https://kittygiraudel.com/2014/01/27/sassycast-type-conversion-in-sass/) at the google dated 2014. Color section redirects to [git repository](https://github.com/KittyGiraudel/SassyJSON/tree/master/

[2021-10-14 16:07] fecou commented on #3189
Thanks for your answers.
As my version from sass is too old ("node-sass": "^5.0.0", "sass-loader": "^11.1.1"), i can't use string.to-lower-case($string) for example.
But I finally found a solution for may problem.
I use this code (see https://codepen.io/roshanakjamali/pen/ExxeobY) :
`
// Thanks Hugo for convert string to number function
// https://hugogiraudel.com/2014/01/15/sass-string-to-number/

[2021-10-14 16:07] #3189 closed, assigned to nobody

[2021-10-16 13:03] #3190 closed, assigned to nobody

[2021-10-16 13:05] HypeNeutron commented on #3190
I don't know how but yarn global install can't use SASS command line in NPM script

[2021-10-18 15:52] brandonmcconnell opened #3191 "Addition of native functions stringify, str-repeat, pad-start, and pad-end to match JavaScript counterparts"
I have implemented several JavaScript core functions as Sass/SCSS functions which have been very useful when dynamically building strings to use with the `content` property of pseudo-elements in certain cases.

I think it would be worthwhile to add these to Sass/SCSS core as well. Here are the Sass-implemented functions for each, where both `pad-start` and `pad-end` are dependant on both `stringif

[2021-10-27 20:21] Awjin commented on #3191
There could be a case made to add more native string functions to Sass, but it seems that these functions are simple enough to write in SassScript. For example `str-stringify($var)` could be expressed with interpolation as `"#{$var}"`.

[2021-10-27 20:21] #3191 closed, assigned to nobody

[2021-11-01 18:10] AprilArcus commented on #3171
@stof wrote:

I had no idea, and I would have assumed modules were immutable and that equivalent functionality should be achieved with `@forward hide ...` and `@use with (...)`. Because `@use` makes a guarantee that styles are not multiply included, I assumed that all `@use` and `@forward` constructs would be invariant with respect to ordering and the structure of the import graph.

How would one

[2021-11-02 09:16] zhoufanglu opened #3196 "How do I use the time variable in mixin"
// normal
[code]
// use mixin

[code]
* error
` animation: move $durations $delays linear infinite;`

[2021-11-02 11:20] stof commented on #3171
@AprilArcus styles are compiled on the module execution, the first time it is used. So any module variable re-assignment will not affect the module styles. But it will affect the module API used by other modules (the value of the exported variable, the output of the exported functions/mixins if they use that variable, etc...)

[2021-11-02 14:08] stof commented on #3196
your variable is named `$duration`, not `$durations`

[2021-11-02 14:43] stof commented on #3196
btw, I'm 100% sure that what you provided as `error` is *not* the error message of the compiler.

[2021-11-03 01:12] zhoufanglu commented on #3196
Thank you for your answer, it is indeed a misspelling, such a vulgar mistake

[2021-11-03 01:12] #3196 closed, assigned to nobody

[2021-11-04 13:23] roydukkey commented on #3176
Does this cause any more complexity?

[code]

[2021-11-04 14:25] roydukkey commented on #3056
Is there any benefit in allowing the new Functions spec to include an option for grouping them into custom module namespaces?

[code]

I can see this as beneficial in allowing isolation, when packages might contain the same functions (potentially out of the consumer's control).

[code]

An additional, less important thought, is that module namespaces provided from the JS API may/must contain colon

[2021-11-05 00:17] nex3 commented on #3056
Supporting module-ized custom functions is an interesting question, although one I think we shouldn't block this feature on. I think a better solution than building it into the `functions` argument might be making it part of the importer API, since that already has well-defined behavior for locating and resolving URLs. That would also open the door for distributing function plugins on npm and havi

[2021-11-05 16:02] rolandoff commented on #2565
Hey guys.
In the project that I'm currently working on, we update our dependencies and now we're having this issue where we get this error at build time:

`512:7  ✖  Expected modern color-function notation  color-function-notation`

So this is happening when doing this in one of our sass files:

`color: rgba($primary-color, 0.5);`

The problem comes now if we try to update to the modern notation,

[2021-11-05 16:35] Awjin commented on #2565
@rolandoff You can use the [`list.slash` function](https://sass-lang.com/documentation/modules/list#slash) to create a slash separated list: `color: rgba(list.slash($primary-color, 0.5))`.

[2021-11-05 17:41] rolandoff commented on #2565
Hey! Thanks for your answer.
I just tried out and it didn't work. This is the error that I'm getting:
![image](https://user-images.githubusercontent.com/456184/140554760-2ac850c8-e884-4d47-b024-13f2045ebab2.png)

I really think there is an issue on using sass variables within this new notation.

[2021-11-05 21:55] nex3 commented on #2565
@rolandoff The issue is that `rgba($primary-color, 5%)` wasn't CSS syntax to begin with. That's a special Sass-only syntax that's equivalent to `color.change($primary-color, $alpha: 5%)`. So `rgba($primary-color / 5%)` isn't expected to work because (for example) `rgba(red / 5%)` isn't valid CSS. You should just keep on using `rgba($primary-color, 5%)` without the slash.

[2021-11-09 11:27] stof opened #3197 "[JS API] Add an sourceMapEmbedSources option in the sourcemap API"
The CLI has a `embed-sources` option for the source-map to control whether the sources are embedded. The dart API allows to access this feature because it exposes the SingleMapping object directly which has the feature. the legacy JS API also has an option for that
However, the new JS API does not seem to expose such feature. and the issue on the embedded protocol has been closed without feedback:

[2021-11-09 11:55] emattias opened #3198 "`Invalid parent selector` when parent selector has pseudo selectors and appending"
This crashes sass with `Invalid parent selector ":not(.no-global-styles)"`

[code]

This is a workaround I did:
[code]

Which changes the order of the selectors which can change what selector takes precedent. This can cause unintended consequences.

Is there another way to handle this case where you need to append to a selector that has pseudo selectors? Could sass change it so that it appends pse

[2021-11-10 20:28] pjeweb opened #3199 "Support "empty" namespace attribute selector [|attr] (pipe symbol)"
While migrating from LibSass we encountered a small difference that breaks our - admittedly uncommen - but css spec compliant use of "empty" xml namespace attribute selectors [1].

Input:
`[|att] { color: green }`

Expected output (no changes):
`[|att] { color: green }`

Actual error message:
[code]

1) https://www.w3.org/TR/selectors-3/#attrnmsp

[2021-11-10 21:23] Awjin commented on #3197
It would be useful to support this behavior. @stof do you want to drive the design process for this?

[2021-11-10 21:24] jathak commented on #3198
This is working as intended. Appending to the parent selector always just adds the suffix to the end of the parent. When that's invalid (`.parent-selector:not(.no-global-styles)--active` in this case), it results in an error.

If you need more complex handling here, you should just write it by hand. If this sort of logic is repeated in multiple places, consider writing a mixin.

[2021-11-10 21:24] #3198 closed, assigned to nobody

[2021-11-10 23:36] nex3 commented on #3176
No, the interpolation would be evaluated first so the function call would just receive `--my-pkg-foo` as an argument.

[2021-11-11 09:55] pjeweb commented on #3199
Current workaround for us is patching the JS blob. This is for DartSass (`npm install sass@1.43.4`):
[code]

Where `124` is the Code for the Pipe symbol (vertical line).

This should relate to the source at https://github.com/sass/dart-sass/blob/55cb4fd5097975dc8fe11fa423ac9c1520c4f950/lib/src/parse/parser.dart#L170. I am not sure if this should be a change to `isNameStart` or an addition in this

[2021-11-11 22:48] stof commented on #3199
Well, your proposed fix is the wrong one. `|` is not a name start character at all (your change would allow `|` in all identifiers, which is clearly wrong). The right fix would have to happen in the selector parser.

[2021-11-11 22:53] stof commented on #3198
btw, this sort of things is exactly why the upcoming CSS nesting spec won't allow such selector suffixes in the CSS nesting feature...

[2021-11-14 01:06] michaelurban commented on #2831
Any movement on this? It would make implementing Material 3's tonal color palettes a breeze.

[2021-11-15 03:23] brandonmcconnell commented on #3191
@Awjin For the stringify example, I can certainly see that being the case, but I think the others are valid examples of common functions that would be much more intricate to add to a project manually, yet they are native functions with other scripting language (e.g. JavaScript).

Another similar case I came across today was needing a function that would perform a function to every item in a Sass l

[2021-11-16 10:30] pjeweb commented on #3199
Thanks for the feedback. That was my first look at the (dart) sass source, so I was missing the bigger picture. I hope I found the right place now (see pull requests).

[2021-11-16 12:23] qxxt opened #3201 "Sass --watching multiple files with different rules?"
Is it possible to watch multiple files with different rules/ configuration?

Hypothetical example:
[code]

[2021-11-17 11:54] slynagh opened #3202 "[Request] Allow default mixins, functions, variables refrenced by namespace only."
I'm working on a project where all mixins are defined within their own file, grouped in a mixins folder and `@forward`ed via `_index.scss`. This works fine in the following example:
[code]

When a mixin needs to `@use` other mixins, this system becomes problematic,
since it @using a @forwarded version of itself, and leads to errors.
[code]

So instead I need to use those mixin files explicitly.
[c

[2021-11-17 23:40] ygoe opened #3203 "@import deprecation without LibSass support of its alternative?"
I've just read about [the deprecation of `@import`](https://github.com/sass/sass/blob/main/accepted/module-system.md#timeline) and its replacement `@use`. While I haven't fully understood the reasons behind this yet (and not making variables available globally completely destroys my use of a settings file with all these variables), I'm worried about the future of the language if LibSass doesn't su

[2021-11-18 17:54] patrick99e99 opened #3204 "variables are now out of scope when declared above import statements?"
My stylesheets do something like:

[code]
[code]

I am using webpack with sass-loader, and previously this would work just fine-- but since upgrading to webpack 5, I am now getting `SassError: Undefined variable` in regard to `$color`.

Sass' documentation says:
Variables declared at the top level of a stylesheet are global

Why am I getting undefined variable errors?

I opened this issue on sass-

[2021-11-19 19:10] jathak commented on #3203
`@import` is not yet deprecated. It will be eventually, and our original plan had been to do so two years after the module system release, but we've pushed that back to give more time for the ecosystem to migrate.

[LibSass, however, _**is**_ deprecated](https://sass-lang.com/blog/libsass-is-deprecated), so future language changes are not blocked on LibSass support, just as has been the case with

[2021-11-19 19:10] #3203 closed, assigned to nobody

[2021-11-19 19:22] jathak commented on #3204
I'm unable to reproduce this in Sass on it's own, which makes me think this is indeed a sass-loader bug (and should be reopened there).

What version of Sass is sass-loader using?

[2021-11-19 19:34] jathak commented on #3202
This is something we're unlikely to add, as it's not clear if I see something like `@include icon()` whether that's supposed to refer to the default mixin in namespace `icon` or a mixin called `icon` declared in the current file.

I'm not seeing why forwarding all your mixins through an `_index.scss` file isn't working. There shouldn't be a difference between getting the mixin directly from the de

[2021-11-19 19:34] #3202 closed, assigned to nobody

[2021-11-19 19:35] patrick99e99 commented on #3204
[code]

[2021-11-19 19:36] jathak commented on #3204
Can you try bumping the Sass version up to the latest (1.43.4)?

[2021-11-19 19:41] patrick99e99 commented on #3204
Just updated to latest, no change...  Still get: `SassError: SassError: Undefined variable.`

[2021-11-19 19:45] jathak commented on #3204
My guess is that Webpack is attempting to compile `waffles.scss` as a standalone file, in which case it doesn't have access to the `$color` variable from `application.scss`. That sounds like either a bug in Webpack/sass-loader or a misconfiguration, so I'm going to close out this issue.

In general, we recommend avoiding this pattern by explicitly `@import`-ing or `@use`-ing each file that you nee

[2021-11-19 19:45] #3204 closed, assigned to nobody

[2021-11-19 19:57] patrick99e99 commented on #3204
Ok...  I reopened the issue on sass-loader.

If this is in-fact an anti-pattern, can you give me a suggestion on how to properly override variables?

For example, bootstrap-sass says to do:
[code]

How am I supposed to alternatively set this $icon-font-path?

Also, my app, based off of user preferences knows to use `application.scss` vs `application_dark.scss` (for dark colors).

This has been imp

[2021-11-19 21:43] nex3 commented on #3203
For some historical context, we did originally work with the LibSass maintainers to come up with a timeline that would have seen the module system launched simultaneously in both Dart Sass and LibSass. However, they didn't end up having enough bandwidth to implement it then or at any point since then, which was a major factor in our decision to deprecate that implementation in the first place.

[2021-11-20 15:25] nanxiaobei commented on #3036
`rgba(#000, 0.1)` has become a habit and is widely used.
It seems strange not to support `rgb(#000 / 0.1)`(Level 4).

[2021-11-24 21:15] nex3 commented on #2831
@mirisuzanne is planning to start working on a design here in December.

[2021-11-24 21:27] Awjin commented on #3201
This is not possible; you have to run the commands separately.

[2021-11-24 21:27] #3201 closed, assigned to nobody

[2021-11-24 21:30] Awjin commented on #3191
That's a good point. I can see functions like `map` (and others like `filter`, `some`, `every`) being valuable. Feel free to open another issue as a feature request.

[2021-11-24 22:07] brandonmcconnell opened #3205 "Addition of native functions to match JavaScript counterparts"
I have implemented several JavaScript core functions/methods in Sass/SCSS which has been very useful when working with different types and has actually made working with Sass even simpler for me as it feels just like JavaScript, another web language most Sass developers are familiar with.

I think it would be worthwhile to add these to Sass/SCSS core for the same reason. Including the few I've alr

[2021-11-24 22:08] brandonmcconnell commented on #3191
@Awjin thanks! I've posted it with that update. I don't appear to be able to add any assignees or a label for `feature suggestion` myself though. Could you add that, please?

Issue #3205

[2021-11-24 23:20] #3199 closed, assigned to nex3

[2021-11-25 00:23] michaelurban commented on #2831
@nex3, @mirisuzanne Always nice when either of you two pop up in an issue. Usually means things are going to work eventually.

@mirisuzanne I'm currently using blend to get *pretttttty* close to Material 3's tonal palettes, thanks!

![in-browser-over-web](https://user-images.githubusercontent.com/56766/143328587-af5cf762-4144-4fb2-bab3-45315c82a030.png)

[2021-11-25 02:56] zaydek commented on #2956
@devhoussam I just came across this.

[code]

[2021-11-30 14:21] jd-solanki opened #3206 "How to override placeholders?"
I want to allow overriding placeholders.

Sample code:
[code]

I expect it to generate:
[code]

but it generates:
[code]

[2021-12-01 02:35] nex3 commented on #3056
This is now usable in Dart Sass 1.45.0-rc.1! We'd love people's feedback on it before we launch a full stable release some time next week. @alexander-akait I'm particularly interested in any feedback you have on this from a sass-loader perspective.

[2021-12-01 02:35] nex3 commented on #2510
This is now usable in Dart Sass 1.45.0-rc.1! We'd love people's feedback on it before we launch a full stable release some time next week.

[2021-12-01 02:35] nex3 commented on #2509
This is now usable in Dart Sass 1.45.0-rc.1! We'd love people's feedback on it before we launch a full stable release some time next week.

[2021-12-01 08:34] stof commented on #3206
placeholders work like CSS selectors in that aspect: reusing the same one with new rules does not disable the previous rules.

[2021-12-01 09:59] jd-solanki commented on #3206
Can we somehow override or replace content then?

[2021-12-01 10:47] alexander-akait commented on #3056
@nex3 Could you briefly describe all implemented features/api/etc? We already use `logger` API, migrate on `compileAsync` is not a problem. I see improvement for `importer`, can `canonicalize` can be async? Anyway other improvements?

[2021-12-01 11:22] maoxiaoke opened #3207 "Multiplying by a negative number with compressed causes different results"
Here is my code:

[code]

Then I compile it with `style: compressed`:

[code]

I got the unexpectable result:

[code]

While no space before negative number may cause a compile error according to https://github.com/facebook/create-react-app/issues/10880#issuecomment-905426538

[2021-12-01 21:24] Awjin commented on #3206
@stof is correct about the behavior of placeholders.

One way to achieve the behavior you want is with mixins:

[code]

[2021-12-01 21:24] #3206 closed, assigned to nobody

[2021-12-02 01:42] nex3 commented on #3207
Sass is emitting valid CSS here. To quote [Values and Units Level 4](https://www.w3.org/TR/css-values-4/#typedef-calc-sum):

It seems like the bug is in whatever code is parsing this, since it's rejecting valid CSS.

[2021-12-02 01:42] #3207 closed, assigned to nobody

[2021-12-02 01:53] nex3 commented on #3056
The summary in [the original JS API blog post](https://sass-lang.com/blog/request-for-comments-new-js-api) is still essentially accurate. You can also check out [the API documentation](https://sass-lang.com/documentation/js-api), and I'm happy to answer any specific questions.

Yes, as long as you're using `compileAsync()` or `compileStringAsync()`. However, I think you might be better off using a

[2021-12-02 04:47] arthurio commented on #649
Another bug I found...

`right: max(0px, calc((100vw - 1600px)/2))` will convert to `right: max(0, (100vw - 1600px)/2)` which is invalid.

- ❌  <img width="262" alt="Notivize" src="https://user-images.githubusercontent.com/950449/144359472-45327909-5b8e-48a0-aef2-651c18b3924b.png">
- ✅  <img width="270" alt="Notivize" src="https://user-images.githubusercontent.com/950449/144359443-f2a6ed07-b7b1-46

[2021-12-02 07:58] nex3 commented on #649
@arthurio When I compile that example with Dart Sass 1.44.0 I get `max(0px, (100vw - 1600px) / 2)`. I suspect you have another tool in your pipeline which is incorrectly removing the units.

[2021-12-02 08:00] arthurio commented on #649
@nex3 Good to know, I'll do some digging and report back. Thanks for letting me know 👍🏻

[2021-12-02 15:04] ygoe opened #3208 "No replacement for to-be-deprecated @import available"
I've now switched my toolset from libsass/sassc to dart-sass to use the latest language features. I also tried to remove the `@import` that should be deprecated at some time. But I wasn't able to get things to work as before.

First off, I'm writing a single library. No external code, no external users, no external contributors outside of my source files. So there is zero name conflict potential.

[2021-12-02 16:02] ygoe opened #3209 "Percentage, division, and deprecation warnings"
I've got an issue with the big deprecation warning about the division slash. After reading all of the documentation, I understand the problem. I'm not sure if I find that good but for now I just try to get rid of the warning message without patching the source code.

Here's my code:

[code]

Source: https://css-tricks.com/snippets/sass/strip-unit-function/

The problem is the division used to get

[2021-12-03 03:17] Roy-Orbison commented on #2535
I don't know why @canonic-epicure's [comment](https://github.com/sass/sass/issues/2535#issuecomment-888997351) was marked as spam, it seems to be an honest assessment of the current status.

Indeed it is a complex issue to completely resolve, evident from the detailed discussion, but there has been a pressing need need for _some_ solution for years. The simple, common case of referencing files wit

[2021-12-07 06:36] sandeeppatidar30 opened #3210 "No provision to check sass function exists in outer module"
We have a requirement where we are checking if function exists or not in outer module.

This was working fine with `@import` because it allows to define a function before `@import`.

Working scenario --

[code]

[code]

After upgrading it to sass module system my scenario is completely breaking -

Breaking scenario -

[code]

[code]
Please check this scenario and let me know if i can achieve same

[2021-12-07 08:13] slynagh commented on #3202
Then perhaps this is a bug report.
![image](https://user-images.githubusercontent.com/7286688/144991230-ccbe6115-7161-452f-91e5-46e6b782afd9.png)

What is expected behaviour if a module loads its parent index file? In effect it is loading itself.

The above example, `mixins/_card.scss` uses other mixins.

[2021-12-07 08:58] slynagh opened #3211 "Should a module be able to @use its parent index file?"
I don't know if this is a bug.

What is expected behaviour if a module loads its parent index file? In effect it is loading itself?

In a project all mixins and components are defined in their own file and forwarded through `mixins/_index.scss`.

`mixin-a.scss` @uses `../mixins` to access `mixin-b`.

`component-a` then @uses `../mixins`.

This creates a module loop error.

![image](https://user-im

[2021-12-07 19:06] jathak commented on #3202
That is working as intended. You're not allowed to create a dependency loop. If you have multiple files that need to depend on each other and you want to expose them as a single module, you can still forward them all through one entrypoint for downstream users, but they should `@use` each other directly when necessary.

If the members of the two files are so intermingled that you truly need them t

[2021-12-07 19:07] jathak commented on #3211
Whoops. Just saw that you opened a new issue for this. Copying my response from the other thread:

That is working as intended. You're not allowed to create a dependency loop. If you have multiple files that need to depend on each other and you want to expose them as a single module, you can still forward them all through one entrypoint for downstream users, but they should @use each other directl

[2021-12-07 19:07] #3211 closed, assigned to nobody

[2021-12-07 20:47] nex3 commented on #3056
@alexander-akait Have you had a chance to play around with the new API?

[2021-12-08 18:51] arthurio commented on #649
@nex3 Sorry I forgot to report back, the issue was indeed further down the pipeline... Our minifier is the one which was replacing `0px` with `0`.

[2021-12-08 19:48] dabrahams opened #3212 "Document syntax of placeholder selectors"
A small thing, but I couldn't find it in the docs.  Information on which tokens are allowed in a placeholder selector, and how `\`-escaping can be used to include anything, might be useful.  Thanks!

[2021-12-08 22:06] jathak opened #3213 "Add higher-order list functions when/if anonymous functions exist"
Blocked on #472.

Potential functions:

- `list.map`
- `list.filter`
- `list.reduce`
- `list.flat-map`
- `list.some`
- `list.every`
- `list.find`
- Adding a named `$where` parameter to `list.index`

[2021-12-08 22:12] jathak commented on #3205
At this point, any new functions we add will be in the one of the built-in modules, not the global namespace (to avoid conflicting with new CSS functions), so any of these functions we add would be in forms like `list.map`, not `list-map`.

I've opened #3213 to track several of the higher-order list functions you mention, but supporting them is blocked on supporting anonymous functions, which is a

[2021-12-08 22:12] #3205 closed, assigned to nobody

[2021-12-08 22:33] brandonmcconnell commented on #3205
@jathak thanks! That sounds like a good path to take here.

If I wanted to contribute and build some of these out open-source style, what's the best process to take in doing so? Can we could additional functions using SCSS-style logic, or must they be built in Ruby?

[2021-12-08 22:39] jathak commented on #3205
Sorry, when I said "implement as user-defined functions", I meant that users should implement them as needed for their own project. You could also release a third-party library of Sass functions for others to use, but it wouldn't be part of / endorsed by Sass itself.

Ruby wouldn't be involved at all. The original Sass compiler was written in Ruby, but it was deprecated years ago. The current refe

[2021-12-09 01:43] brandonmcconnell commented on #3205
@jathak Hi, that makes sense to me. I've implemented most of these already in user-defined functions. However, these are functions that are available in almost every programming language natively, which was my reason for opening this ticket initially. Lacking these functions, Sass is still powerful but limited compared to most programming standards.

[2021-12-09 10:43] alexander-akait commented on #3056
@nex3 Hello, right now no, our main problem - we still support `node-sass`, I don't understand why it developers still use it, but maintenance two versions will be the problem, maybe we need to drop node-sas support, also I think they should update docs and actively migrate developers to `dart-sass`

[2021-12-10 00:37] nex3 commented on #3056
I'd like to cut a stable release of the new API tomorrow. If you want to just try it locally to see if there are any egregious oversights before then, let me know, otherwise I'll go ahead and release it.

[2021-12-10 10:56] alexander-akait commented on #3056
@nex3 Does old API will continue work? If yes, let's go ahead

[2021-12-10 21:10] nex3 commented on #3056
Yep, it will continue to be supported as long as we're releasing 1.x releases.

[2021-12-10 21:11] JaneOri opened #3216 "CSS compatibility error"
In CSS this is acceptable syntax (and is useful):

[code]

same for this:

[code]

But Sass calls them a syntax error:

![image](https://user-images.githubusercontent.com/7545075/145641179-3f3403e5-92a6-4a6a-bf6b-050b5a82dbc9.png)

![image](https://user-images.githubusercontent.com/7545075/145641222-d12cd8e9-d9fb-4ad5-bf37-710dfcb4b5ba.png)

And Sass might also be doing something weird when this e

[2021-12-10 21:28] JaneOri commented on #3216
Also this is in the drafts as valid now too:

`--foo:;`
You can transpile it to have a space in for backwards compatibility, the statments are now eqivelent
(space assignment now becomes an empty string and the variable is in a valid state)

and this will be valid too but shouldn't add a space
[code]

[2021-12-10 23:01] #3160 closed, assigned to nobody

[2021-12-11 00:59] #3216 closed, assigned to nex3

[2021-12-11 01:06] JaneOri commented on #3216
wow 👏

[2021-12-11 08:07] niksy commented on #3056
When do you expect to release 2.x version?

[2021-12-11 23:24] ygoe commented on #3208
After fiddling with this for some time, I changed my code structure so that the root file does not contain any content but only imports other files. All CSS rules are now moved to separate files, nothing is in the entry file anymore. In this case I can use `@use "file" as *` for the settings and `@use "plugin"` for all plugins in the root file. This seems to work now. But I'm wondering if Sass is

[2021-12-12 01:20] nex3 commented on #3056
We don't expect to release it until 2024 or so, very possibly later. There's a small chance we'll want to release it sooner in order to enable `/`-as-separator by default, but in that case we'll only remove those deprecated features we believe to be either in low global use or highly detrimental to the ecosystem.

[2021-12-12 22:25] ygoe commented on #3208
I found another bug with `@use` replacing `@import`. My main entry file has a license banner comment in the first line, then follow some includes of the module files. With `@import` this comment comes first, then follows all the included content. With `@use`, the included files come first, then follows the comment from the top of the file. My license banner comment is now placed at the very end of

[2021-12-15 21:17] jathak commented on #3209
If you're using `math.div`, you need to depend on the built-in math module with `@use "sass:math";`.

[2021-12-15 21:17] #3209 closed, assigned to nobody

[2021-12-15 21:20] jathak commented on #3210
If you need to customize the CSS output from `my-custom.theme` in this way, you should wrap all of the CSS is a mixin that takes in the configuration as an argument, to make it clearer what you're configuring.

[2021-12-15 21:20] #3210 closed, assigned to nobody

[2021-12-15 21:22] jathak commented on #3208
The module system specifically wants to eliminate all stylesheets within a compilation sharing the same global namespace. Making it explicit where Sass members are coming from is one of the main goals of the module system.

The limitations of `@use` are by design, as they prevent patterns that make your code less readable and maintainable. Some things that were possible with `@import` will not be

[2021-12-15 21:22] #3208 closed, assigned to nobody

[2021-12-15 21:24] jathak commented on #3212
Placeholder selectors use the same syntax as any [CSS identifier](https://www.w3.org/TR/css-syntax-3/#ident-token-diagram), just with a `%` in front.

[2021-12-15 21:24] #3212 closed, assigned to nobody

[2021-12-15 23:20] dabrahams commented on #3212
Nice.  Please put that in the documentation.

[2021-12-16 18:31] KoenigAlfonz opened #3217 "Problem with file names in dart-sass"
So, I just realized that apparently all sass files now have to start with an alphabetic character.

The problems occuring here are the following:

![sass-filenames](https://user-images.githubusercontent.com/51205241/146428199-25f58935-55c2-46a5-8fa8-f4a9ad5db2fb.png)

1.  files can no longer be ordered to create a sensible structure
2.  index files are getting lost in between all other files withi

[2021-12-16 21:28] KoenigAlfonz opened #3218 "Need help, when migrating from LibSass to DartSass"
Hello,

it seems like, I'm currently unable to accomplish a migration to the recommended Sass version and I am further more not sure, if a migration is technically at all possible.
Imagine the following scenario:

Let's say, we have two folders,
- one containing a sass framework creating general styles and css variables plus a bunch of utility-classes and placeholder selectors to be made available

[2021-12-17 10:46] ygoe commented on #3208
Okay, so it's official that `@use` takes away important features of the language. Let's hope that `@import` will never be removed because that will be a very sad day.

[2021-12-17 12:55] bcbcbcbcbcl commented on #2886
@connorskees Do you have any idea why this function `important-if-not-null` is showing an error in visual studio code?

![image](https://user-images.githubusercontent.com/39854319/146546709-109763eb-cfcc-4172-8f8d-00ab550be962.png)

[2021-12-17 15:26] connorskees commented on #2886
@bcbcbcbcbcl seems like a bug in vscode related to `!important` after `@return`. that's valid SCSS and it compiles in the playground.
<img width="1401" alt="Captura de Pantalla 2021-12-17 a la(s) 10 25 34 a  m" src="https://user-images.githubusercontent.com/39542938/146567510-6f7f0fd1-ae49-4d15-aef6-090fad55c9b1.png">

[2021-12-17 15:27] connorskees commented on #2886
if you need a workaround to get rid of the errors, you can assign to a variable before returning,

[code]

[2021-12-18 01:47] bcbcbcbcbcl commented on #2886
@connorskees Thank you so much, really appreciate it.

[2021-12-19 14:00] ramantamang777 opened #3219 "Having problem with a DartSass"

[2021-12-20 08:12] #3219 closed, assigned to nobody

[2021-12-20 19:16] stof commented on #3217
Well, only if you want to use the default namespace. If you use an explicit namespace for the `@use`, the file name can be anything (btw, the latest version of dart-sass has a better error message for that case)

[2021-12-20 19:17] stof commented on #3217
note that this is not related to libsass vs dart-sass, but to `@import` vs `@use`. The `@import` directive does not generate any namespace that needs to be an identifier. And if libsass implements Sass modules one day, it will have the same restriction for `@use`

[2021-12-20 19:41] stof commented on #3218
To me, the way to go would be to have one file in the framework that defines all the themable variables as configurable variables. All other framework files would then use that file.

On the theme side, each theme entrypoint (or maybe the config file, depending on the exact architecture) would start with the configuration of the framework theme (before import other parts that use that theme layer)

[2021-12-20 23:30] #3056 closed, assigned to nobody

[2021-12-21 01:33] xuld commented on #3211
I have come into a situation where dependency loop is required.

I have two modules: `variables.scss` and `mixins.scss`,

`variables.scss` defines some configurable variables default, some of the default value is calculated by minxins.darken

// variable.scss
[code]

But the implement of `mixins.darken` requires back `$dark-mode` in `variable.scss`:

// mixins.scss
[code]

My current workaround is

[2021-12-21 01:55] xuld opened #3221 "Parameters of @content should be optional"
In javascript, what if all callback parameters should be listed even if it's not used:
[code]

The current sass implmentation is making my code too verbose:
[code]

[2021-12-21 14:53] KoenigAlfonz commented on #3217
Uhh, thank god. This is a life-saver. Didn't expect there to be a difference, but kind of silly, that I didn't check that either.

Yup, I noticed that too some time later

Thanks a lot for your help! It seems like I have some catching up to do on the module-thing

[2021-12-21 14:53] #3217 closed, assigned to nobody

[2021-12-21 15:04] KoenigAlfonz commented on #3218
Wow, that sounds interesting. I will dive into it soon and let you know the results.

Thank you!!

[2021-12-22 01:43] KoenigAlfonz commented on #3218
Ok, so unfortunately this is not gonna work like that. It says, using "with" is not allowed after using it somewhere else (in the framework)

![use-with](https://user-images.githubusercontent.com/51205241/147020467-94d32c6b-cf01-4137-8750-49026d4de5b3.png)

Good thought though. Did I understand you correctly?

[2021-12-22 09:23] stof commented on #3218
@KoenigAlfonz can you share a full reproducer ?

[2021-12-22 09:28] stof commented on #3218
In my previous comment, I also said that the theme file should configure the framework theme module (`framework/theme` in my example, but it could be anything else) **before** importing other framework files (so that the configured usage is the first usage)

[2021-12-22 13:39] newlukai opened #3222 "Theming/Customizing of React Component Library"
## Scenario

Imagine we have
- a simple (TypeScript) React app "ExampleApp", built using `create-react-app`
- and a node module "@example/components" which
  - incudes React Functional Components written with TypeScript
  - styled with *.module.scss files
  - is transpiled to JS using babel
  - and thus exposes JS modules which `require` the unmodified *.module.scss files.

## Requirement

We now

[2021-12-22 15:35] KoenigAlfonz commented on #3218
Yeah, I did that. I know, I previously said it would be only one config file (because I thought, it wouldn't make much difference) but in this case, I actually got a whole bunch of them (each to configure a set of placeholder-selectors and utility classes) plus one global theme-config.

Ok, then I created configurable variables for all of them but since they need to use some functions, they have t

[2021-12-23 00:11] clshortfuse commented on #2509
@nex3 Hi!

I'm probably one of your projects, uh, more advanced users, and been using a personal fork for the past year because of a need to support code-splitting with Webpack chunks within a monorepo handled by a yarn workspace (mouthful). I'm trying a bit to understand the new JS importer in hopes I can move back to to upstream. I'm not sure how we can canonicalize URLs without knowing what fil

[2021-12-24 13:39] Semigradsky opened #3223 "`@import` deprecation"
In https://github.com/sass/sass/blob/main/accepted/module-system.md#timeline:

As I understand `@import` wasn't deprecated yet, so shouldn't the date be updated?

[2021-12-26 15:23] daniyalmujtaba opened #3224 "I have sass and sass-loader installed but my application is throwing me error to install node-sass to work with sass-loader"
./src/index.scss (./node_modules/react-scripts/node_modules/css-loader??ref--6-oneOf-5-1!./node_modules/postcss-loader/src??postcss!./node_modules/react-scripts/node_modules/sass-loader/lib/loader.js??ref--6-oneOf-5-3!./src/index.scss)
To import Sass files, you first need to install node-sass.
Run `npm install node-sass` or `yarn add node-sass` inside your workspace.

this is the error

Versions I

[2021-12-27 01:58] #3218 closed, assigned to nobody

[2021-12-27 02:07] KoenigAlfonz commented on #3223
I for one hope, it will not get deprecated, at least not in the new future, since the deprecation would a) lead to constraints in building greater structures with lots of shared variable usage and b) most people are still using @import anyway, either because of a) or because they are not aware of the module system.

I think the best thing would be to enhance the @import implementation and keep it

[2021-12-27 07:22] Semigradsky commented on #3223
It looks like in most cases `@import 'some-file.scss';` can be safely replaced by `@use 'some-file.scss' as *;`. Migrating shouldn't be very hard.

[2021-12-27 13:36] KoenigAlfonz commented on #3223
Sure, in smaller projects, migrating should be fairly easy. In more complex structures though, you are running into problems pretty fast. In this topic #3218, I explained one case, where the absence of @import is creating a lot of trouble.

[2021-12-27 17:32] stof commented on #3224
This should be reported to the sass-loader issue tracker (but first, make sure that you use the latest version of the loader). This is not an error triggered by sass itself.

[2021-12-27 17:35] stof commented on #3222
When you import Sass files from a JS file in webpack, each import of a Sass file indeed triggers a compilation of that Sass file. The Sass compiler is not aware of anything happening in the JS code built by webpack.

[2021-12-28 16:08] #3224 closed, assigned to nobody

[2021-12-29 22:03] nex3 commented on #3212
The sass-lang.com documentation isn't meant to be a comprehensive language spec; we have [a separate language spec](https://github.com/sass/sass/tree/main/spec#readme) for that. The documentation says that placeholder selectors "look and act" like class selectors, which I think is sufficient to informally indicate that they have the same syntax other than the starting character.

[2021-12-29 22:16] nex3 commented on #3211
It sounds like you might be better off organizing your files based on what the members they export are *for*, rather than *what type* of members they export. For example, you could have a `_configuration.scss` file that contains global configuration values like `$dark-mode`, and then a `_colors.scss` file that uses `_configuration.scss` and contains both color variables like `$primary` and `$prima

[2021-12-29 22:18] nex3 commented on #3221
This is a very unusual feature of JavaScript. Almost no other programming languages allow users to silently pass too many arguments into a function call, because it makes it very easy to make mistakes and accidentally call a function differently than you intended. Sass has a similar policy as most programming languages here.

[2021-12-29 22:18] #3221 closed, assigned to nobody

[2021-12-29 22:51] nex3 commented on #2509
**tl;dr:** You need to pass your importer to the [`importers`](https://sass-lang.com/documentation/js-api/interfaces/Options#importers) option as well if you want to use it for non-relative imports. If you're always importing things from the filesystem (which it looks like you are), it's also a good idea to use a [`FileImporter`](https://sass-lang.com/documentation/js-api/interfaces/FileImporter).

[2021-12-29 23:32] nex3 commented on #3223
The proposals in `accepted/` are no longer living documents. They represent the state of the proposal at the point it was implemented. In this case, we chose to push out the date of deprecating `@import` to reflect the fact that it's taking the ecosystem a while to migrate off of Node Sass and to avoid adding more friction than necessary to that migration. We don't currently have a firm date in pl

[2021-12-29 23:32] #3223 closed, assigned to nobody

[2021-12-29 23:38] nex3 commented on #3218
@KoenigAlfonz I don't personally recommend the use of configurable variables in a case that's this complex. I agree that it's a good idea to define a `framework/_theme.scss` file as @stof suggested, but instead of changing the variables using `@use ... with`, I recommend directly writing to them in the individual theme files:

[code]

Or, if you want more control over when each individual theme is

[2021-12-29 23:59] nex3 commented on #3222
e solution here would typically be to compile all of your components' CSS into a single stylesheet, and use mixins to allow customization of the components' default CSS like this:

[code]

[code]

However, if React expects each component to have its own stylesheet that's directly imported by the component's TS/JS, then that approach won't work. As @stof points out, each stylesheet is its own separ

[2021-12-29 23:59] #3222 closed, assigned to nobody

[2021-12-30 04:57] avesus commented on #216
What are the objective benefits of using SASS vs SCSS again, despite of this awkward yaml-style tabulation?

+1

[2021-12-30 08:35] wouter-muller commented on #216
- it is cleaner and slightly easier to read and easier/faster to type, cause there is no need for the {, } and ; symbols
- Easier/shorter way of calling mixins, +mixin instead of @import mixin

@avesus

[2021-12-30 17:16] dabrahams commented on #3212
I understand, thanks. I'm impressed that you're writing a formal spec; so many projects don't.   As a language weenie myself, I certainly would have gone to look at the formal spec had I been able to find it.  Shouldn't there be a (more prominent?) link from the informal to the formal docs?

I don't see a mention of `%` in the [syntax](https://github.com/sass/sass/blob/main/spec/syntax.md), and gi

[2021-12-31 00:04] #2510 closed, assigned to Awjin

[2021-12-31 01:53] #2509 closed, assigned to nex3

[2021-12-31 23:48] minhluudinh opened #3227 "@use in sass not working"
@use in sass also appears in .css file and it keeps saying undefined variable even though the variable is already defined. Sass version: 1.45.2

![image](https://user-images.githubusercontent.com/63277221/147841202-e222aa34-d29c-4e54-8e93-f7ec43b1195b.png)

[2022-01-01 08:09] minhluudinh commented on #3227
I have figured it out the issue. The problem is I was watching Sass with "Live SASS compiler", it worked fine when I changed to watching Sass with "sass --watch scss:css" but Sass has to be installed globally.

[2022-01-01 08:09] #3227 closed, assigned to nobody

[2022-01-03 01:56] A11Ybot-OP opened #3228 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (.DocSearch-Button-Placeholder)"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[Sass: Sass Basics](https://sass-lang.com/guide)
#### Element path
.DocSearch-Button-Placeholder
#### Snippet
`<span class="DocSearch-Button-Placeholder">Search</span>`
####

[2022-01-03 01:56] A11Ybot-OP opened #3229 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (.caps)"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[Sass: Sass Basics](https://sass-lang.com/guide)
#### Element path
#example-1-scss > h3 > .caps
#### Snippet
`<span class="caps">SCSS</span>`
#### How to fix
    Fix any of

[2022-01-03 01:57] A11Ybot-OP opened #3230 "Website Accessibility-WCAG 1.3.1: Ensures <dl> elements are structured correctly (dl)"
#### Issue
`Ensures <dl> elements are structured correctly` ([definition-list](https://accessibilityinsights.io/info-examples/web/definition-list))
#### Target application
[Sass: Sass Basics](https://sass-lang.com/guide)
#### Element path
dl
#### Snippet
`<dl class="impl-status sl-c-description-list sl-c-description-list--horizontal">`
#### How to fix
    Fix all of the following:
      List eleme

[2022-01-03 01:58] A11Ybot-OP opened #3231 "Website Accessibility-WCAG 4.1.2: Nested interactive controls are not announced by screen readers (li[aria-controls="example-1-scss"])"
#### Issue
`Nested interactive controls are not announced by screen readers` ([nested-interactive](https://dequeuniversity.com/rules/axe/4.3/nested-interactive?application=msftAI))
#### Target application
[Sass: Sass Basics](https://sass-lang.com/guide)
#### Element path
li[aria-controls="example-1-scss"]
#### Snippet
`<li class="ui-tabs-tab ui-tabs-active ui-corner-top ui-state-default ui-tab ui-

[2022-01-03 01:58] A11Ybot-OP opened #3232 "Website Accessibility-WCAG 4.1.2: Nested interactive controls are not announced by screen readers (li[aria-controls="example-1-sass"])"
#### Issue
`Nested interactive controls are not announced by screen readers` ([nested-interactive](https://dequeuniversity.com/rules/axe/4.3/nested-interactive?application=msftAI))
#### Target application
[Sass: Sass Basics](https://sass-lang.com/guide)
#### Element path
li[aria-controls="example-1-sass"]
#### Snippet
```<li class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" role="tab" tabi

[2022-01-03 02:02] A11Ybot-OP opened #3233 "Website Accessibility-WCAG 4.1.2: Nested interactive controls are not announced by screen readers (li[aria-controls="example-1-css"])"
#### Issue
`Nested interactive controls are not announced by screen readers` ([nested-interactive](https://dequeuniversity.com/rules/axe/4.3/nested-interactive?application=msftAI))
#### Target application
[Sass: Sass Basics](https://sass-lang.com/guide)
#### Element path
li[aria-controls="example-1-css"]
#### Snippet
```<li class="ui-tabs-tab css-tab ui-corner-top ui-state-default ui-tab" role="ta

[2022-01-03 02:05] A11Ybot-OP commented on #3229
There are 10 additional places with `colour contrast` accessibility issues.

[2022-01-03 02:07] A11Ybot-OP commented on #3233
There are 15 additional places with `nested-interactive` accessibility issues.

[2022-01-03 15:12] stof commented on #3218
Regarding the issue of circular dependencies between modules, this will still be an issue both with my suggestion and @nex3's one. However, the solution using `@import` also suffers from that, except that it is a lot less explicit about it (and will probably do weird things instead of failing).
The solution for that is to organize the functions and variables in modules corresponding to features (o

[2022-01-04 11:44] skjnldsv opened #3234 "TypeError: "1024": type 'JSString' is not a subtype of type 'Value0' migrating from legacy JS"
## Context

Hi, I'm trying to create a `sass.SassMap` with the following data to include as a global variable in my webpack sass-loader step

[code]

## Issues

Unfortunately, it seems to fail and I don't understand why.
I tried almost everything I could find,  like
- creating subsets for each size into an `OrderedMap` then concat to a main one
- importing the full object through `fromJS`

Every t

[2022-01-04 12:08] Mister-Hope opened #3235 "Error with jest"
I am updating my gulp sass plugin, and I need to run sass in jest, while I run in to a werid problem.

Below is the mininal reproduction I can provide.

The file passed when called by `ts-node`, while throwing errors when calling by jest.

Here is the file, named with `compileSync.test.ts` under `__tests__`.

[code]

When called by jest (just `yarn jest` command)

[code]

While when called with `t

[2022-01-04 21:48] nex3 commented on #3235
This is caused by facebook/jest#2549. The short explanation is that Jest breaks `instanceof` checks for built-in types by default and Sass relies on those checks, so you'll need to install `jest-environment-node-single-context` and add `'testEnvironment': 'jest-environment-node-single-context'` to your Jest configuration.

[2022-01-04 21:48] #3235 closed, assigned to nobody

[2022-01-05 06:56] Mister-Hope commented on #3235
Appreciated

[2022-01-05 17:02] KoenigAlfonz commented on #3218
@nex3 thanks for your support. It sure looks interesting and also allows for assigning variables to variables, but as @stof said, it's still not solving the issue.

[2022-01-05 17:05] KoenigAlfonz commented on #3218
@stof I see what you mean. Unfortunately, I can't really change the whole structure though, so I may end up creating standalone theme-versions using the module-system as an alternative.

[2022-01-05 17:28] stof commented on #3218
@nex3 can you explain why you recommend that ? The effect is that the theme file would then be forbidden to use some of the variables to compute other variables (or the default values of other variables), as those computations would run before changing the variables.

[2022-01-05 21:22] #3230 closed, assigned to nobody

[2022-01-05 21:22] #3231 closed, assigned to nobody

[2022-01-05 21:22] #3232 closed, assigned to nobody

[2022-01-05 21:22] #3229 closed, assigned to nobody

[2022-01-05 21:23] #3233 closed, assigned to nobody

[2022-01-05 21:24] #3228 closed, assigned to nobody

[2022-01-05 21:25] jathak commented on #3234
Can you provide a minimal reproduction of this?

[2022-01-05 22:55] Maniues opened #3239 "No license"

[2022-01-05 23:59] #2979 closed, assigned to nobody

[2022-01-06 00:05] nex3 commented on #3239
This repository contains only documentation and API declarations, so a software license doesn't really make sense for it.

[2022-01-06 00:05] #3239 closed, assigned to nobody

[2022-01-06 00:06] nex3 commented on #3218
@stof I'm having trouble following. Can you provide an example?

[2022-01-06 00:12] Maniues commented on #3239
@nex3 So, you can use CC-BY or other license (MIT is prepared for docs too) to make documentation redistributable and reusable.

[2022-01-06 09:22] stof commented on #3218
[code]

Using `@use "framework/theme" with ($linkColor: green)`, the `$buttonColor` will also be green, respecting the intent documented in the comment. With your proposal doing `theme.$linkColor: green`, `theme.$buttonColor` will be `rebeccapurple`

[2022-01-06 21:26] mirisuzanne opened #3240 "Add css cascade layer functionality to use & forward rules?"
The new [cascade layers](https://www.w3.org/TR/css-cascade-5/) feature is [starting to roll out in all three major browser engines](https://caniuse.com/css-cascade-layers), and I think there might be room for preprocessors to help people adopt and use layers better.

Layers are a tool for encompassing specificity, and explicitly defining how styles should interact in the cascade. For example, an a

[2022-01-06 21:28] mirisuzanne commented on #3240
(we could either support the anonymous `layer` keyword syntax as well, to output an unnamed layer, or allow the layer function to be empty)

[2022-01-06 23:09] nex3 commented on #3218
Then make the theme itself a mixin as well:

[code]

[code]

Generally speaking, you can always model the behavior of an `@import`-style graph with side effects by wrapping each module in a mixin whose parameters are the configurable variables.

[2022-01-06 23:15] nex3 commented on #3240
I'm not a huge fan of this, since we're generally trying to encourage users to move away from writing a bunch of files that all directly emit CSS and towards exposing mixins that the entrypoint can compose as it chooses. In this case, you can already effectively model most of this behavior using `meta.load-css()`:

[code]

[2022-01-08 01:00] nex3 opened #3242 "Add the charset parameter to the new JS API"
https://github.com/sass/sass/pull/3126 added a `charset` parameter to the legacy JS API, but it didn't make it into the new API. It should be added.

[2022-01-08 10:17] skjnldsv commented on #3234
Hello @jathak
Of course, here is a runkit https://runkit.com/skjnldsv/sass-typeerror-1024-type-jsstring-is-not-a-subtype-of-type-value0

![image](https://user-images.githubusercontent.com/14975046/148640583-876bf17d-d287-4f7f-b57d-725428f4d778.png)

[2022-01-10 18:34] yairEO opened #3245 "CSS variable (custom property) with fallback as nothing compiles to no fallback"
- [ ] [Spec](https://github.com/sass/sass/pull/3338)
- [ ] [Tests](https://github.com/sass/sass-spec/pull/1794)
- [ ] [Dart Sass](https://github.com/sass/dart-sass/pull/1723)

---

https://www.sassmeister.com/gist/64d412cd7fcc65d2fd09d10c89cb2e0f

[code]

The `, ` at the end is valid CSS and is no mistake and should not be removed after compiling.

---
#### Read more about the use-case in this art

[2022-01-10 18:59] mirisuzanne commented on #3240
While I'm not sure the everything-in-a-mixin pattern makes sense for all projects, I do think this is a good solution that works across more use-cases. 👍🏼

[2022-01-10 18:59] #3240 closed, assigned to nobody

[2022-01-12 09:58] dchirag005 opened #3244 "DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0"
Recommendation: math.div(1, $rfs-rem-value)

More info and automated migrator: https://sass-lang.com/d/slash-div

   ╷
49 │     ($rfs-base-font-size * 0 + 1 / $rfs-rem-value);
   │                                ^^^^^^^^^^^^^^^^^^
   ╵
    src/assets/scss/bootstrap/vendor/_rfs.scss 49:32  @import
    src/assets/scss/bootstrap/_mixins.scss 6:9        @import
    src/assets/scss/argon.scss 20:9

[2022-01-12 18:48] Awjin commented on #3244
Using `/` as division is indeed deprecated. If you need Bootstrap to support the new syntax, feel free to file an issue with Bootstrap.

[2022-01-12 18:48] #3244 closed, assigned to nobody

[2022-01-12 21:35] jathak commented on #3234
It looks like your issue here is that you're passing JS strings and numbers as keys and values. `SassMap` needs to contain `SassString`s and `SassNumber`s.

[2022-01-12 21:35] #3234 closed, assigned to nobody

[2022-01-12 22:06] nex3 commented on #3245
At first I thought this was *really* bad: the spec parses the second argument as a `<declaration-value>` which allows essentially any string, but Sass has historically parsed it as a SassScript value, which means that we'd have to do a deprecation process to become CSS-compatible. Fortunately, I think we can dodge that bullet: unlike custom property values (whose behavior we [did have to deprecate

[2022-01-13 15:06] newlukai commented on #3222
Thank you very much for your input. :bow:

Currently the plan is to make theming possible using MUIs ThemeProvider as well as CSS-in-JS using Emotion.

[2022-01-13 16:46] skjnldsv commented on #3234
Ok, I had to go for something like that.

[code]

[2022-01-14 01:32] nex3 opened #3247 "Provide access to the containing stylesheet's URL for some loads"
- [x] [Proposal](https://github.com/sass/sass/blob/main/accepted/prev-url.d.ts.md) (https://github.com/sass/sass/pull/3550)
- [x] [Dart Sass](https://github.com/sass/dart-sass/issues/1946) (https://github.com/sass/dart-sass/pull/2083)
- [x] [Embedded Host](https://github.com/sass/sass/issues/3247) (https://github.com/sass/embedded-host-node/pull/246)
- [x] [Tests](https://github.com/sass/sass-spec

[2022-01-14 17:18] alexander-akait commented on #3247
I think it can be problem, aliasing is good approach to replace variables, for example I can have default variables and built multiple themes - dark/ligth/normal (default). I can describe more cases if you need.

Sass can output warning in this case, I think you already have loaded map

In theory sass can handle it too, you have original module, and request, so sass, I think, also can generate war

[2022-01-14 22:08] nex3 commented on #3247
This invariant is non-negotiable, I'm afraid. It's an important part of our philosophy of locality. Aliases are totally legit for global loads where the user is relying on a package being available *somehow* without explicitly indicating how, but for local loads where a local file exists we don't want to overwrite the author's assumption about what will happen. (This also ties into our philosophy

[2022-01-15 00:38] #3197 closed, assigned to nobody

[2022-01-17 12:47] boonware opened #3248 "[Help Request] Understand why compiled SCSS is broken"
# Background
I am building a React project. In this project I am using Carbon for UI components. I do not have any custom webpack config, only the default from Create React App. My dependencies are as follows:

[code]

# Problem
The SCSS in the production build of the project is broken. When I open the production build in my browser I see errors in the console for a number of SCSS files: `Ruleset

[2022-01-17 13:13] alexander-akait commented on #3247
Then I have a question, but how should developers deal with this in using new API, this is quite a common usage pattern, if we say that now this is wrong, I think we should provide an example of how to do it right, thanks for feedback

[2022-01-18 21:41] nex3 commented on #3247
After talking this out with the team, we realized that the proposed restriction mitigation (3) actually *does* solve risk (2): if the importer specifies a set of URL schemes it will never return from `canonicalize`, then relative loads *can't* use those URL schemes because relative loads are always resolved relative to a canonical URL. So that's probably the best way to move forward.

---

@alexan

[2022-01-18 21:49] alexander-akait commented on #3247
Some of developers use it for providing variables for different context and building different versions, for example developer can resolve file with `grid` include or file without `include` include, so size will be different, but we can go ahead and see feedback after we implement built-in importer

[2022-01-19 04:28] jake-thomas-1 opened #3249 "Stack Overflow Bug"
## File
`crasher.scss`:
[code]
## Command & Error
`sass -w crasher.scss:boom.css`
Unexpected exception:
Stack Overflow

../.nvm/versions/node/v15.14.0/lib/node_modules/sass/sass.dart.js 39544:39  Environment.scope$1$3$semiGlobal$when
../.nvm/versions/node/v15.14.0/lib/node_modules/sass/sass.dart.js 39562:19  Environment.scope$1$1
../.nvm/versions/node/v15.14.0/lib/node_modules/sass/sass.dart.js 62

[2022-01-19 11:08] katerlouis commented on #626
I'm afraid to ask, but is there still a plan to implement this insanely useful feature?

[2022-01-20 02:35] broofa opened #3251 "API: Deprecation warnings should appear in results object, not logged to console."
The current `sass` behavior of logging deprecation warnings to the console when invoked from the API is problematic for us (CodePen)

We use `sass` to process user-provided SCSS on our servers.  Any deprecations warnings that result from this need to be surfaced to our users, as part of our editor UI.   To do that, we need access to these warnings such that we can route them from the backend back

[2022-01-20 21:35] Awjin commented on #3248
This is a great question for the [Sass StackOverflow community](https://stackoverflow.com/questions/ask?tags=sass)! We try to keep this issue tracker focused on bugs and feature requests that need the core team's attention in particular, while requests for support are usually better handled by the community at large.

[2022-01-20 21:35] #3248 closed, assigned to nobody

[2022-01-20 21:48] Awjin commented on #3249
[code]

This mixin includes itself, creating an infinite loop that leads to a stack overflow.

[2022-01-20 21:48] #3249 closed, assigned to nobody

[2022-01-20 21:51] jathak commented on #3251
You can use the [Logger API](https://sass-lang.com/documentation/js-api/modules/Logger) for this.

[2022-01-20 21:51] #3251 closed, assigned to nobody

[2022-01-20 23:47] broofa commented on #3251
Oh, cool!  Thanks.  'Didn't see that API in the docs. 😛

[2022-01-21 09:42] Jogai commented on #3089
If I may revive this topic; The advice in the error when using a compound selector seems wrong to me. Consider this example (simple for example's sake, but I have a real world issue that has the same problem and relies on a css framework).

[code]

[code]
Error:
[code]

But I want to have my third div in red and a bit less height. How can this still be done?

[2022-01-21 14:57] jake-thomas-1 commented on #3249
@Awjin Thank you. That is what I figured. Question is, are people ok with it? Some stick to the principle that crashing should never be possible.

Would it be worth it to have an error like:

?

This could happen on accident. Maybe the person meant to write:
[code]
.

Or similar.

[2022-01-25 00:57] nex3 commented on #3249
It's valid for a mixin to include itself, even multiple times. There's no reliable way for Sass to tell if a mixin or function is being intentionally recursive or if it's caught in an infinite loop. Failing once the loop gets deep enough is the best we can do.

[2022-01-25 14:47] jake-thomas-1 commented on #3249
Now you have me curious. Mind giving a brief example?

[2022-01-26 20:21] joe-dakroub opened #3252 "Skypack package error issues"
When trying to import the sass module via Skypack I am getting the following error:

[code]

**URL:**
https://cdn.skypack.dev/error/build:sass@v1.49.0-W8DJOwQkwHmELuW8Lhiw

**Usage:**
`import sass from 'https://cdn.skypack.dev/sass';`

Not sure if this is something with the `sass` package or with Skypack, but wanted to post here in case.

[2022-01-26 21:04] nex3 commented on #3249
I recommend reading up on [this article](https://en.wikipedia.org/wiki/Recursion_(computer_science)).

[2022-01-26 21:26] jathak commented on #3252
Dart Sass does not support running in a browser. See sass/dart-sass#25.

[2022-01-26 21:26] #3252 closed, assigned to nobody

[2022-02-01 12:18] ghost opened #3253 "Import relative-path assets from a Sass module from another Sass module"
I'm unable to import fonts from relative-path when the source is imported via `@use` from another source. For example:

`src/a.scss`

[code]

`src/somewhere/else/b.scss`

[code]

Sass thinks `roboto-regular.scss` is located at `src/roboto-regular.scss`, but it should be `src/somewhere/else/roboto-regular.scss`. I'm using Parcel for the build process.

Actual code: [www.github.com](https://github.c

[2022-02-02 15:09] jasonteunissen commented on #3091
I'm running into the same issue.
you can put css-variables into sass variables.
the issue I am having is automating this process.

[code]

[2022-02-02 17:25] ghost commented on #3091
It's great that you're trying to achieve it @jasonteunissen but I got bad news for you.
You **cannot** achieve it.

What you are doing here
[code]
is called _Dynamically created variable_. That is not possible in Sass according to #1450. Therefore an automatically defined
 CSS variable in the code by @mirisuzanne
[code]
can only be used dynamically with the ugly CSS variable syntax `var(--name)`.

[2022-02-02 19:57] Awjin commented on #3253
Sass does not resolve `url()`, so the URL you pass it must be relative to the root.

[code]

Support for custom URL loaders is being proposed in https://github.com/sass/sass/issues/2535.

[2022-02-02 19:57] #3253 closed, assigned to nobody

[2022-02-02 21:32] jathak commented on #3089
This isn't possible with `@extend` since it's not possible to have a single HTML element that matches `.simple .color` (without nesting it inside another element). You should use a mixin instead.

Also, this issue is about reconciling the `selector.extend()` function with the behavior of `@extend`. Please keep comments on this issue related to that.

[2022-02-03 22:27] SvenBudak opened #3255 "Autocomplete for dynamic scss generated code"
Hi! Maybe I just missed the docs describing this.... but I was not able to find a way to make autocompletions available in my IDE for dynamically generated code:

[code]

When I type `.typo` in my .html files, I don`t get autocomplete. My idea now was to write autocomplete files that can be generated with a separate scss build script before I start developing the site.... but that feels a bit dirt

[2022-02-04 17:33] Awjin commented on #3255
You will have to file a bug with the IDE that you use. Sass itself has no knowledge about IDE autocompletion.

[2022-02-04 17:33] #3255 closed, assigned to nobody

[2022-02-04 19:27] steveetm opened #3256 "Sass is not working with node 15+"
*I have no fibers installed, and using `fibers: false`, have no refernce to fibers anywhere, not even installed!*

I have strange issues with sass when I upgrade node from 14. Our project setup is pretty complex and I couldn't create a standalone repro yet, but pretty sure the issue is with sass itself.

If I upgrade to e.g. to node 16 and replace sass-loader with null-loader, everything fine. But

[2022-02-04 20:18] nex3 commented on #3256
Can you provide a minimal reproduction?

[2022-02-05 08:07] steveetm commented on #3256
Actually I managed to find the file which cause the issue, if I build the whole project. But actually that file does _nothing_ interesting, uses a globally included mixin and extends an ionicon class.
If move imports into that file, and build only that, everything is fine again. Once I include that file in the project, it stops right there(Put some debug info into sass compiler to see which import

[2022-02-05 08:14] steveetm commented on #3256
Worth to note long ago I reported a regression with @extends, which was turned out as a bug:
https://github.com/sass/dart-sass/issues/1109

In our legacy scss code we have some really crazy extends, but this used to be work, and nothing new added as we are moving into separate scss modules wherever possible. Maybe it rings some bells.

[2022-02-05 11:00] steveetm commented on #3256
Okey, found a standalone repro(the inliner is _not_ correct, I know, removed logic which is not needed for the repro):
[code]

[code]

This throws a stack overflow if I run with `sass` from command line. It hangs if webpack tries to compile it through sass-loader. But honestly, I don't understand what is going on, as this repro is failing even with Node 14 and 1.32.13:/ And we use this for ages.
E

[2022-02-05 14:19] steveetm commented on #3256
And here is the workaround:
[code]
And webpack now can build it with node 14,15,16,17.
@nex3 While this also stress sass a bit, I think there are two bugs actually:
- sass not reporting error in async mode.
- this is not really deep recursion which should trigger this.

Not sure why extracting the function call into a tmp variable helps, but it does:/

[2022-02-08 04:37] paceaux opened #3257 "How to pass variables from one module into another without import"
Howdy,

this is related, but not identical, to issue #2890. I've read the [Stack Overflow response](https://stackoverflow.com/questions/63361377/undefined-font-awesome-variable-when-use) but unfortunately, that's not satisfactory in my case.

Fundamentally my goal is this:

* get variables from one module coming out of node_modules
* Pass those variables to another module coming from node_modules

[2022-02-08 21:38] nex3 opened #3258 "Support constants in calc()"
- [x] [Proposal](https://github.com/sass/sass/blob/main/accepted/calc-constants.md)
- [x] [Dart Sass](https://github.com/sass/dart-sass/issues/1900) (https://github.com/sass/dart-sass/pull/1922)
- [x] [Tests](https://github.com/sass/sass-spec/issues/1885) (https://github.com/sass/sass-spec/pull/1890)
- [x] [Documentation](https://github.com/sass/sass-site/issues/700) (https://github.com/sass/sass-

[2022-02-09 20:45] jathak commented on #3257
Does `icons` define configurable variables? (declared with the `!default` flag) If not, you won't be able to override them with a with clause.

It looks like the `font-awesome-sass` NPM module hasn't been updated in 5 years (while the corresponding GitHub repo was last updated nearly 2 years ago), so it's likely the individual stylesheets in that package predate the module system and assume that t

[2022-02-09 20:45] #3257 closed, assigned to nobody

[2022-02-10 17:09] paceaux commented on #3257
Thank you @jathak . `icons` does use configurable variables that are declared with the `!default` flag.

The error that I hit is `Error: Undefined variable.` And it's on _specifically_ a variable with a `default`

[code]

[Here's an example where I don't use font awesome](https://github.com/paceaux/sass-use-problems/blob/non-module-variables/src/styles/main.scss) _at all_ but I still get the same

[2022-02-10 22:08] jathak opened #3259 "Calculations in supports queries should not be simplified"
Right now

[code]
simplifies to

[code]

which is incorrect.

[2022-02-11 21:22] paceaux opened #3260 "Error: undefined variable when using meta.load-css with $with"
I am writing the following code:

[code]

My file, objects/icons.scss, contains the following:

[code]

When I do this, I get the error

[code]

You can replicate this problem with [this repo and branch](https://github.com/paceaux/sass-use-problems/tree/non-module-meta-load-css-and-with). I run `npm run build:styles` to get this error.

I don't think variables from the `$with` argument are getting

[2022-02-15 06:59] Delta-official opened #3261 "[FEATURE] Introduce a compiler flag that disables implicit conversion of colors"
I think that there should be a compilation flag which disables the implicit conversion of color formats from one to another (e.g rgb(0,0,0) -> #000) because there can be some situation where the conversion of colors in variables and functions just impedes what you're trying to do. I think this is a good example:
[code]

[2022-02-16 20:42] nex3 commented on #3261
We don't intend to add additional flags to control color formats. Note that even if Sass preserved the original format here, the result of resolving the `var()` function would be `rgba(rgb(207, 100, 154), 0.5)` which is not valid CSS.

[2022-02-16 20:42] #3261 closed, assigned to nobody

[2022-02-16 20:58] slynagh opened #3262 "Official support for SCSS Intellisense."
The current best choice for [SCSS Intellisense in VSCode](https://github.com/mrmlnc/vscode-scss) has limited support for the new module system and hasn't been updated in nine months. If the Sass team could find capacity to contribute to this plugin it would really make developing SCSS even more of a joy than it already is.

[2022-02-16 21:18] jathak commented on #3260
The with clause (in `@use` and `meta.load-css`) can only override variables that are already declared with `!default` in the stylesheet you're loading. See the documentation [here](https://sass-lang.com/documentation/at-rules/use#configuration).

[2022-02-16 21:18] #3260 closed, assigned to nobody

[2022-02-16 21:19] Awjin commented on #3262
Unfortunately, the Sass team has no extra capacity. We would certainly welcome community contributions here!

[2022-02-16 21:19] #3262 closed, assigned to nobody

[2022-02-17 03:54] Jorge-Gonzalez commented on #216
It is more consice, and compact, easier to read, IMO.

[2022-02-17 15:46] kerryj89 commented on #3109
I think it still wouldn't hurt to include some examples for and/or considering how common it is for those of us using the docs as a quick reference.

[2022-02-17 21:17] Awjin commented on #3109
I think it's reasonable to mention the operators in the conditional docs. Created https://github.com/sass/sass-site/pull/613 to address this.

[2022-02-22 19:37] VirtueAndTerror opened #3263 "Sould sass be installed as a 'dependency' or as a 'devDependency?"
Should sass be installed as a 'dependency' or as a 'devDependency'?

In the [npm page](https://www.npmjs.com/package/sass#usage) says: " You can also add it to your project using npm install --save-dev sass."

But in the [Install Sass page](https://sass-lang.com/install) there is no information about this topic.

I have it like this and it works:

[code]
  }

But I wonder whether I should better h

[2022-02-23 22:05] nex3 commented on #3263
This is a great question for the [Sass StackOverflow community](https://stackoverflow.com/questions/ask?tags=sass)! We try to keep this issue tracker focused on bugs and feature requests that need the core team's attention in particular, while requests for support are usually better handled by the community at large.

[2022-02-23 22:05] #3263 closed, assigned to nobody

[2022-02-25 22:14] spacecodeur opened #3264 ""@use" with dynamic path (load all breakpoints files with an "@each" loop)"
I update an old personnal project (symfony v4 to v6). Inside it, I loaded all my breakpoints files like this :

[code]

But this approach does not work with new version of sass ! after some searches, I understand I must use the "@use" sass instruction instead "@import"

I tried this

[code]

but I get an error :

[code]

Then I tried this :

[code]

And I get the same error... ("This at-rule is no

[2022-02-28 02:00] deadalnix opened #3265 "Add a convenient way to reference class name from other files."
I'm currently mollifying an existing codebase and there is a recurring pattern that turn out to be a problem: there is a need to start referencing a class name from another module. As in:

modulea.scss:
[code]

moduleb.scss:
[code]

Now, I understand this goes against the philosophy of modern module and this probably shouldn't be encouraged, on the other hand, there is a ton of code out there that

[2022-03-01 01:35] deadalnix opened #3266 "@use "@import" style instead of ":import"ing it"
It seems to me like the current behavior of @use when it comes to style in the imported sheet is erroneous, as all the styles get duplicated in the imported module - just like `@import` would do rather that refers to it in the used modules, like you'd expect from a module system.

Let me expand:

mymodule.scss
[code]
a.scss
[code]

Then using it:
[code]

The styles from module `mymodule` has been

[2022-03-04 12:40] codemacabre opened #3267 "Incorrect url module `require`d in FileImporter documentation"
A very small change, and only to documentation.

I spotted a mistake in the example code for [FileImporter](https://sass-lang.com/documentation/js-api/interfaces/FileImporter), where the first line imports [`fileURLToPath`](https://nodejs.org/api/url.html#urlfileurltopathurl) from Node's `url` module. The implementation actually uses [`pathToFileURL`](), so the first line should change from:

http

[2022-03-09 14:49] slynagh commented on #3264
Hi @kegilko check out `meta.load-css()` mixin.
https://sass-lang.com/documentation/modules/meta#load-css.
[code]

[2022-03-09 18:47] jathak commented on #3264
Because you're using the `url()` function, Sass treats the `@import`s in your original code as plain CSS imports, which are just emitted as-is in your output CSS. Plain CSS `@import`s aren't going away, so you should leave them as-is.

If you do want to compile CSS from a dynamic path into your final code, then @slynagh's answer to use `meta.load-css()` is correct.

[2022-03-09 18:47] #3264 closed, assigned to nobody

[2022-03-09 18:53] jathak commented on #3267
Go ahead and send the PR. The contributing guidelines are for actual changes to the language / JS API, but the API itself is correct here; it's just a documentation fix.

[2022-03-10 21:16] jathak commented on #3265
`:import` is neither a Sass feature nor a CSS feature, and is not something we support now or plan to in the future.

[2022-03-10 21:16] #3265 closed, assigned to nobody

[2022-03-10 21:16] jathak commented on #3266
I think you're confusing Sass modules with some other module system provided by ICSS (which Sass has nothing to do with).

[2022-03-10 21:16] #3266 closed, assigned to nobody

[2022-03-10 21:35] deadalnix commented on #3266
I'm not confusing. Both work at their level and provide benefits - in fact, many of the same benefit, but at their level of abstraction.

I could literally copy paste the whole rationale page about moving from @import to @use to justify moving from CSS to CSS modules (or ICSS).

Right now, both are actively working against each other. there is no sensible way to use CSS modules with sass, without

[2022-03-11 19:13] DasGestirn opened #3269 "Error: Can't find stylesheet to import."
**Folder structure:**
https://imgur.com/a/TcVv9eY

**Error:**
https://imgur.com/a/0Mu5FrS

Sass version is 1.49.9 compiled with dart2js 2.16.1.

ParcelJS solved my problem by being able to compile my Sass/Scss code into plain CSS but i don't want to use it in such a small project like this one.

OS:MX Linux.

[2022-03-12 16:09] nitin2953 opened #3270 "🛑 [BUG] `:is(&)` ⇒ compiling BUT `:where(&)` don't"
SCSS
[code]

Compiled CSS
[code]

Using `"sass": "^1.49.8"`

[2022-03-14 11:49] stof commented on #3270
duplicate of https://github.com/sass/sass/issues/3130

[2022-03-14 14:25] #3270 closed, assigned to nobody

[2022-03-15 11:25] stof commented on #818
@nex3 is there anything else left here ? the embedded protocol now supports first-class-calc

[2022-03-15 14:11] stof opened #3273 "Support the mix() notation from CSS Values 4"
https://www.w3.org/TR/2021/WD-css-values-4-20211216/#interpolate

This uses a special function notation using `;` as separator, because start and end values might use commas themselves. This means it will probably require a special parsing in Sass.

This is not implemented by any browser yet.

Firefox tracking bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1748924

[2022-03-15 15:13] stof commented on #3269
Well, Sass does not support importing files based on a fake absolute path (where the root of the absolute path is not the root of the filesystem but the root of your project, which is not known by Sass as it does not have such concept).

There are 2 solutions here:
- use the proper relative import (i.e. `@import "abstracts/reset"`)
- define a load path from which imports can be resolved (which mig

[2022-03-15 16:13] benjibee opened #3274 "Passing aspect-ratio values flagged as using / for division"
Consider the following valid sass using the relatively recent `aspect-ratio` property:

[code]
This is erroneously reported as attempted division using `/` and dumps the following in the console:

`DEPRECATION WARNING: Using / for division is deprecated and will be removed in Dart Sass 2.0.0.`

Additionally, passing the value as a string avoids this warning but creates invalid CSS.

[2022-03-15 16:25] Rybadour commented on #818
We ran into a similar error with SCSS version 1.49.9.

I also created a simple reproduction in JsFiddle: http://jsfiddle.net/2fLkwu0m/1/

Although I'm not sure which version JsFiddle is using it has exactly the same result as our code.

[2022-03-15 16:44] stof commented on #3274
That's because `/` is indeed treated as a division for now (as Sass is still at phase 1 of the migration process, not at phase 2).
You need to use `list.slash` to create a slash-separated list of numbers instead for now.

Note that this is precisely a case justifying the fact that Sass is migrated away from using `/` as division.

[2022-03-15 20:13] DasGestirn commented on #3269
Thanks! It worked

[2022-03-15 20:13] #3269 closed, assigned to nobody

[2022-03-17 13:34] stof commented on #818
@Rybadour I think you commented on the wrong ticket. This github issue is about tracking the implementation of a feature, not about reporting an error. So you cannot have a similar error.
I suggest you to open a new ticket, describing the issue you have.

[2022-03-17 13:35] stof commented on #3273
This ticket should be labelled as `awaiting browser support` and `CSS compatibility`

[2022-03-17 14:13] stof commented on #2538
For reference, this is supported in Firefox 63+.
And looking at the Chromium issue tracker, they have some in-progress work done (probably related to their implementation of container queries, as they rely on that range syntax too)

[2022-03-17 17:10] Rybadour commented on #818
Well the proposed solutions still lead to this failure case as described just a few comments above. Seemed pretty relevant when the identical issue was mentioned above...

But sure I'll create a separate issue or see if there is an existing one.

[2022-03-17 17:36] Rybadour opened #3275 "Variables inside Calc are not being replaced"
When writing a calc statement in Sass 1.49.9 it fails to replace any variables with their resulting values in the generated CSS.

Example:
[code]

Results in this CSS where the calc statement is now invalid because of the "$var":
[code]

JsFiddle seems to reproduce the issue as well: http://jsfiddle.net/2fLkwu0m/1/

[2022-03-17 20:07] jathak commented on #3266
The Sass module system doesn't prevent you from using ICSS or some other system for scoping CSS, but they are two different tools which solve two different problems.

[2022-03-17 20:11] jathak commented on #3275
I'm not able to reproduce this with Dart Sass 1.49.9. Are you sure that's what you're using?

JsFiddle is likely using a pre-1.40.0 version of Sass, before first-class calc was supported.

[2022-03-17 20:12] jathak commented on #3274
@stof's correct here. At the moment we're still treating `4/5` as division in that context, so you need to use `list.slash`.

[2022-03-17 20:12] #3274 closed, assigned to nobody

[2022-03-17 21:49] deadalnix commented on #3266
I think this is where there is something you are missing, it kinda does. Not strictly, one can use both, but the end result is a quadratic growth in the size of the generated CSS at the end of the pipeline.

[2022-03-17 23:04] deadalnix commented on #3266
To make sure I'm being clear, quadratic growth is generally pretty bad, but in the case of CSS specifically, where size matters, it is really bad.

[2022-03-17 23:28] roydukkey commented on #3205
@brandonmcconnell Just want to point you to toward https://github.com/roydukkey/sass-fairy if you're interested in having these in other projects.

[2022-03-18 18:18] brandonmcconnell commented on #3205
@roydukkey Thanks, Trent! This is very close to what I would have imagined if using an outside library. Looking at Sass Fairy's [`list.map`](https://sass-fairy.com/api/list/map) function, is `sass:meta` essentially being used as a workaround to achieving anonymous functions?

[2022-03-18 19:05] roydukkey commented on #3205
Not really. `meta.get-function()` is the only way to get function references in Sass, so they can be passed around and [invoked from other locations](https://sass-lang.com/documentation/modules/meta#call) (which happens inside [`list.map()`](https://github.com/roydukkey/sass-fairy/blob/ad7c878f596cfb755cbf79e6d4b1402ffb2b0855/packages/list/src/_map.sass#L44)).

You might also look at Sass Fairy's

[2022-03-18 20:16] nex3 commented on #3092
[The proposal](https://github.com/sass/sass/blob/bf28c1339c4970c67413294b5c818641ff85de92/proposal/deep-merge-order.md#deep-merge-order-draft-1) has landed. Since it's relatively small but also a breaking change, let's give it two weeks for public comment before we declare it accepted.

[2022-03-21 09:06] querkmachine opened #3276 "Roadmap for deprecation and removal of @import [stub]"
Sorry for the stub but we seemingly can't agree on which repo this issue should be placed in: sass/sass-site#614

Thanks!

[2022-03-21 11:09] benjibee commented on #3274
Thanks to both of you, I understand the crux of the issue better now.

I might recommend a slight change in wording to make it clear that the `/` is being treated as division rather than saying attempting to use it for division is deprecated. This confused me.

[2022-03-23 20:29] jathak commented on #3276
Because the module system is only available in Dart Sass, we want to wait until a substantial portion (roughly 70-80%) of our users are using it before we deprecate `@import`.

[2022-03-23 20:29] #3276 closed, assigned to nobody

[2022-03-24 22:48] #3267 closed, assigned to nobody

[2022-03-29 10:20] querkmachine commented on #3276
@jathak Thanks. Are metrics on usage available anywhere?

[2022-03-29 15:59] Rybadour commented on #3275
Ah, nevermind. Not sure where we made the mistake but we weren't using dart-sass we were using node-sass. Updating to use the "sass" npm package fixed the issue!

[2022-03-29 15:59] #3275 closed, assigned to nobody

[2022-03-30 21:08] #2886 closed, assigned to nobody

[2022-03-30 22:14] #3259 closed, assigned to nobody

[2022-04-01 13:35] ghost opened #3277 "Does `npm i sass -g` use Dart or Ruby version?"
In the npm page [it is said](https://www.npmjs.com/package/sass) this:

I assumed it would compile `@use`. But actually it is not as the `sass -v` shows **Ruby Sass 3.7.4**.

[And according to the docs](https://sass-lang.com/guide) nether LibSass nor Ruby sass would compile it.

Can we select Dart sass from the `npm i sass` binary in some way or is it necessary to install sass in a different way?

[2022-04-01 13:45] ghost commented on #3277
My error, I had sass installed from a gem, I think by some jekyll command. Hence, when typing `$: sass` it was executing from a different path (the binary's gem directory )

Both `npm i sass -g` and the binary run great.

[2022-04-01 13:45] #3277 closed, assigned to nobody

[2022-04-04 17:49] rodrigoq opened #3279 "Problem installing sass on windows with npm"
Hello when i do:
`npm install sass --save-dev`

I get this error:
[code]

Versions:
node: v14.19.1
npm: 8.6.0
Windows 10 (21H1)

If I do:
`npm install sass -g`
the installation works fine.

Also I think I already have `fsevents` installed:
`npm ls fsevents`
[code]

Any Idea why is trying to install something for mac?

[2022-04-05 12:18] FunctionDJ opened #3280 "Is it possible to remove nested styles from an imported file?"
I'm using a CSS framework using SASS which generates a lot of variants like
[code]
I don't need these small and big variants. I know that other frameworks allow this to be configurable using variables / lists.. Is there any way for me to remove them without changing the source SASS files i'm importing?

[2022-04-05 13:04] balazsnemeth commented on #626
Is there still a plan to implement this useful feature on mixins?

[2022-04-05 13:05] lee-chase opened #3281 "Monorepo map files incorrect for relative node_modules --load-path"
We have a project which builds upon a separate projects SCSS. In our monorepo this results in SASS files being found both at the top-level node_modules and within the package. As a convenience to our users we roll up both package and node_modules SASS into one CSS file.

Currently given the following command
[code]

a map file is generated with relative references to `../../node_modules/dep_packag

[2022-04-05 14:11] yinonov opened #3282 "support accessing module members dynamically"
JS support [accessing an object's properties by using the dot notation or the bracket notation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Property_accessors).
bracket notation enables us to dynamically fetches property values.

is it possible for scss to support referencing module members dynamically?

the following code leans on hardcoded magic string of custom p

[2022-04-06 20:40] jathak commented on #3282
For use cases like this, we'd recommend using a map. Adding dynamic lookup for members would make static analysis more difficult (or impossible in many cases), so it's not something we plan to add to the language.

[2022-04-06 20:40] #3282 closed, assigned to jathak

[2022-04-06 20:43] jathak commented on #3281
This isn't something that's worth adding complexity to the CLI for. If you need to customize source maps, you can edit them yourself in a post-processing step.

[2022-04-06 20:43] #3281 closed, assigned to jathak

[2022-04-06 20:43] nex3 commented on #3280
No, it's not. Sass's philosophy is generally to avoid features that are targeted at using upstream dependencies in ways they weren't intended to be used.

[2022-04-06 20:43] #3280 closed, assigned to nobody

[2022-04-06 20:45] nex3 commented on #3279
This isn't a fatal error, it's just a weird quirk of npm that if you specify an optional dependency for one specific OS (like the `chokidar` filesystem-watcher package does for `fsevents`), npm will raise a big fuss about it on other OSes. You should still be able to use Sass just fine despite that message.

[2022-04-06 20:45] #3279 closed, assigned to nobody

[2022-04-06 20:46] FunctionDJ commented on #3280
@nex3 Got it, thanks for the response

[2022-04-06 21:02] jathak commented on #3276
We generally look at the download stats on NPM as an approximation for the ecosystem as a whole, basically taking `sass / (sass + node-sass)` to see the percentage of users on Dart Sass (currently ~66%)

[2022-04-07 02:19] #3130 closed, assigned to jathak

[2022-04-07 06:57] yinonov commented on #3282
ok so maps allow accessing props dynamically, that's a fair alternative :)

[2022-04-10 22:24] bennycode commented on #2070
You can also name all your files with an underscore upfront (e.g. `_color.scss`, `_font.scss`, `_button.scss`, etc.) and import them in one single `style.scss`:

[code]

This technique is called [partials](https://sass-lang.com/guide#topic-4) and will merge all your styles in one single CSS output so ordering gets sorted out by SCSS. Note that the filenames start with an underscore but the imports

[2022-04-11 20:52] #3087 closed, assigned to nobody

[2022-04-13 13:47] thomaslaker opened #3285 "Support for cascade layers @import urll()"
https://developer.mozilla.org/en-US/docs/Web/CSS/@layer

Currently unable to use cascade layers @import url() in sass although the latest version of all major browsers support them.

Example can be seen here: https://codepen.io/tomlaker/pen/gOodjvY

[2022-04-14 17:41] ashleyww93 opened #3287 "@support() is adding extra checks"
I have the following code:

[code]

But after I build and serve my site, the minified css is output as:

[code]

On safari, `backface-visibility` is not supported, but `-webkit-backface-visibility` is, however, I need to ONLY add this css for safari as my card flip animation is broken without it (and if I include it for all browsers, its broken on chrome)

[2022-04-15 08:46] Meihina opened #3288 "Is there any way to compare $var and var()?"
I code like this.

[code]

but it throws error.

![1650012257285](https://user-images.githubusercontent.com/50244072/163548463-90d10132-f2cb-4077-927b-96b75d049344.png)

[2022-04-16 08:56] stof commented on #3288
`var(--currentX)` is an unquoted string as far as Sass is concerned. So it cannot be compared with a Sass number. CSS variables cannot be resolved in Sass, as they depend on resolving custom properties based on the DOM. They cannot be known at compile time when generating the CSS.

[2022-04-16 08:59] stof commented on #3287
Are you processing the output of Sass with autoprefixer ?
There is nothing in Sass that would automatically inject this prefix (I confirmed this by running your code snippet in Sass and it does not produce the `(-webkit-backface-visibility: hidden)` condition).

[2022-04-17 06:54] #3288 closed, assigned to nobody

[2022-04-18 03:10] kerryj89 opened #3291 "@use with !default and multiple variable files"
I am trying to convert my project to the Sass module system.  I am struggling to apply the idea to a multi variable import setup as clean/implicit as the non-modular example and thought who better to ask than the ones that wrote it (or anyone else that overcame this problem).

My non-modular project example:

[code]

My first instinct was to not define a namespace thinking that the variables will

[2022-04-18 20:46] nex3 commented on #3575
I think we can do this backwards-compatibly, since optional fields are encoded the same way on the wire as the "default values" that we currently use to signal that fields don't exist. We probably want to explicitly specify that both endpoints should treat "default values" the same way they treat absent values until we make a breaking version release, though.

[2022-04-18 21:02] nex3 commented on #2818
@stof is right: to determine whether `@content` would actually produce any styles, we would need to execute the entire content block. I think sometimes doing so for `content-exists()` and sometimes not would be very confusing, as well as potentially causing highly unexpected behavior if the content block had any side-effects.

[2022-04-18 21:02] #2818 closed, assigned to nobody

[2022-04-18 21:13] nex3 commented on #3287
@stof is correct; Sass doesn't automatically add browser prefixes under any circumstances. This must be another tool in your toolchain.

[2022-04-18 21:13] #3287 closed, assigned to nex3

[2022-04-18 21:20] nex3 commented on #3291
If you're trying to override a variable in the new module system, you should always explicitly refer to the definition of that variable that you want to override. One of the problems with the old `@import` system is that if someone looked at `_variables-project.scss` in isolation, they'd have no way of knowing that the variables it defined were actually intended to override the variables in `_vari

[2022-04-18 21:20] #3291 closed, assigned to nex3

[2022-04-22 17:28] jkjustjoshing commented on #2791
I'm trying to pull an older SCSS library into a SCSS Modules project. The library is split into components, i.e.
[code]

I want to create a "Button" component and style it using CSS Modules:

[code]

When I use this class, it ends up being output as:
[code]
but I want it to be output as:
[code]
(the "WXYZ" is a random mangled part of the name that the CSS Modules compiler adds on to guarantee uniq

[2022-04-23 11:46] sapphi-red opened #3296 "Provide a way to share resources across multiple compilations"
* [Proposal](https://github.com/sass/sass/blob/main/proposal/shared-resources.d.ts.md)

---

It seems currently sass-embedded starts one process for each compile request and stops it after compilation.

When using Vue components with sass, Vite requests one compile request for one file. This makes many compile requests and it slows down by process creation overhead.

[esbuild reuses process](https

[2022-04-23 16:30] ntkme commented on #3296
A quick benchmark with sass-embedded-host-ruby as it is capable of reusing compiler process:

[code]

[code]

You can see the overhead of starting a new compiler process in my environment is about 12 milliseconds. For a project with tons of files to compile, the overhead can add up to something noticeable.

[2022-04-24 10:45] mhamri opened #3295 "with deprecating @import how to inject a portion of the css inside a bundle"
for long time i was enjoying such syntax in the angular

[code]
in this way I could localize usage of a css or even scss lib in the host. but now that you are going to deprecate the `@import` what other option are you providing to replace it? I can't use `@use` and `@forward` because it's expected that it's being used as the first item in the file.

or I could create a mixin of animation lib like

[2022-04-25 21:20] nex3 commented on #2791
@jkjustjoshing One of Sass's design principles is to avoid adding features targeted at using dependencies in ways their authors didn't intend them to be used. Doing so is always going to be brittle, and it's almost always a better long-term strategy to either contribute changes upstream, to work the way the dependency expects, or to fork it and explicitly maintain it yourself.

[2022-04-25 23:20] nex3 commented on #3296
This is something we'd like to add, but it's non-trivial from a design standpoint. We'd need a way for the user to represent when a shared process should be spun up and when it should be disabled, and we'd want to make sure that API will work well for integration with various frameworks that tend to do many different Sass compilations over time. Ideally it would also "rhyme" with the API for sass/

[2022-04-25 23:28] nex3 commented on #3295
The ideal way to handle this use-case would be to update the library to provide its styles as a mixin rather than directly as CSS. If that's totally infeasible, you can mimic the behavior of nested imports using [`meta.load-css()`](https://sass-lang.com/documentation/modules/meta#load-css).

[2022-04-25 23:28] #3295 closed, assigned to nex3

[2022-04-26 00:30] ntkme commented on #3296
@nex3 I think there are two stages of optimization here. The first one would be simply reuse the same dart-sass-embedded process but do not share resources across requests, which is possible today without the need of changing the API. I think that is what @sapphi-red and I are talking about in terms of process creation overhead. The shared resources, e.g. shared cache, would be another optimizatio

[2022-04-26 01:16] nex3 commented on #3296
By "shared resources", I just mean "the underlying process" (for the embedded host; other implementations could theoretically have other resources they might want to share). #2745 is tracking shared *state*, which is indeed a more complex level of optimization.

[2022-04-26 02:20] #3092 closed, assigned to nex3

[2022-04-26 09:31] daniil4udo opened #3297 "Reference variables from module before "with""
Hi SASSers 😄

For few weeks trying to achieve relatively simple task, which seems impossible with `@use`

In brief is to use some module before customization it with `@use "..." with ()"

Here is an example.

Lets say we have a CSS framework. Main `framework.sass` forwards all needed files.

[code]

Where `variables.sass` looks like this:
[code]

We have `functions.sass` that uses some variables f

[2022-04-26 19:15] mirisuzanne opened #3298 "Legacy typo in the Sass spec for hsl/hwb?"
The `spec/functions.md` definition of `hsl()` has this logic for managing hue in a conversion to rgb:

[code]

There is similar logic in the `hwb` accepted proposal. The second point there looks wrong to me, and like it might be leftover from a previous draft of the CSS spec? The `(hue % 360deg)` part is harmless, but already handled in the linked pseudocode for conversion. However, I can't find a

[2022-04-26 19:43] mirisuzanne commented on #3298
It does seem like [old versions of the spec](https://www.w3.org/TR/2019/WD-css-color-4-20191105/#hsl-to-rgb) required the hue to be in a half-open range of `[0,6)` - so this logic is likely a hold-over…

[2022-04-27 07:05] whaaaley opened #3304 "Custom functions sum example is incorrect"
https://sass-lang.com/documentation/js-api/modules#CustomFunction

`arg1` doesn't exist and should be `arg[1]`

[code]

I'd make the PR myself but it seems the js-api page is gitignored.
It's also worth noting I've ran into a lot of issues trying to run the Custom Fucntion examples in the docs.

[2022-04-27 11:29] yairEO commented on #3245
Hi @nex3 - any news? :)

[2022-04-27 12:18] joneff commented on #3276
Looking at the npm stats, going one year back, installations of dart-sass has more than doubled; whereas installations of node-sass has shrunk about 20%. The ratio between node : dart sass shifted from "55:45" a year ago to "32:68" for the week before, with the last 2 percent being added in the previous 3 weeks.

In other words the trends are near the lower bound of the "70%-80%" and looking at th

[2022-04-28 08:18] p-karbownik opened #3300 "Sass generates invalid sourceMaps when custom importer is used"
Hi,

I think that I found a bug. The problem occurs when a custom importer is used and the function url() is located inside .scss files. In my project I use sass with resolve-url-loader, which requires proper sourceMap delivered by sass.

The issue occurs only when a custom importer is used and doesn't when the default one is used. Therefore I assume, that there could be a problem with the generat

[2022-04-29 04:28] caesar-exploit opened #3301 "Error: Can't find stylesheet to import."
Context: My application is running under a Monorepro environment. The problem is the following, I am using @use '~styles/scss/elements/a.scss' with (...); inside a local package inside a.scss file I am using @use again to import mixins but either use @import or @use tells me that Error: Can't find stylesheet to import. It doesn't really make sense the order of my files is correct. The thing is tha

[2022-04-29 04:36] caesar-exploit commented on #3301
As you can see, after removing the import everything works correctly again.

[2022-04-29 06:42] I-vasilich-I commented on #3301
@caesar-exploit have you tried to give it a `./testing-import` pass?

[2022-04-29 12:15] p-karbownik commented on #3300
I've already founded a solution. In function `load(canonicalUrl)` of the importer I added returning of the property `sourceMapUrl`and that helped.

[2022-04-29 12:16] #3300 closed, assigned to nobody

[2022-04-29 18:36] caesar-exploit commented on #3301
![image](https://user-images.githubusercontent.com/98134502/166003601-b6f2c11a-2bb8-4788-80ef-3b17b10fa1ef.png)
![image](https://user-images.githubusercontent.com/98134502/166003704-a5fea393-608f-4573-92e6-00a37e660a0e.png)
![image](https://user-images.githubusercontent.com/98134502/166003659-a46eb728-8b0e-45f5-a2d0-fa502e16c1fb.png)

It does not work, the strange thing is that if it performs the

[2022-05-01 16:37] whaaaley opened #3302 "Easier to use error obj with JS API?"
👋 Hello. I'm using Sass's JS API inside an esbuild plugin. In sass 1.13.x the JS api's errors were a bit different. It was easy to yoink the parts that I needed from the error object and feed them into esbuild's error object so the errors could be displayed consistently with the rest of the plugin build errors.

Here's what what I need from sass's error object in order for esbuild to format the er

[2022-05-01 17:22] calebdwilliams opened #3303 "[feature-request]: Respect package.json exports"
I might have [originally put this in the wrong place](https://github.com/sass/dart-sass/issues/1683), so I'm trying here. I'm happy to close whichever issue is wrong.

In version 12, Node added support for [subpath exports](https://nodejs.org/api/packages.html#subpath-exports) which allows package authors to define package entry points that may not necessarily correspond to the directory structure

[2022-05-01 21:11] whaaaley commented on #3302
I finally found the doc pages! My bad. There's some magic going on here with hidden properties so when I inspected or logged the stuff, there was just nothing.

![image](https://user-images.githubusercontent.com/7419947/166165060-86b2ebd9-79b6-458b-826d-e2c1eb70e9f4.png)

~~This seems to solve the formatting issues but there's still double reporting. It seems that `sass.Logger.silent` doesn't work

[2022-05-01 21:11] #3302 closed, assigned to nobody

[2022-05-02 20:23] jathak commented on #3303
Duplicate of #2739.

[2022-05-02 20:23] #3303 closed, assigned to jathak

[2022-05-02 20:25] nex3 commented on #3301
It looks like you're using the Webpack Sass importer. If you can find a minimal reproduction that clearly demonstrates that this is a bug in Sass, please feel free to re-open, but otherwise it's more likely to be an issue with your configuration, the Webpack importer, or potentially even svelte.

[2022-05-02 20:25] #3301 closed, assigned to nobody

[2022-05-02 21:01] nex3 commented on #3245
When there's news, we'll update this issue. If you'd like the process to move more quickly, please feel free to [contribute a spec update](https://github.com/sass/sass/blob/main/CONTRIBUTING.md#readme).

[2022-05-02 21:28] nex3 commented on #3304
Feel free to open issues or send PRs for any other issues you run into—the JS API docs live in the `js-api-doc` directory of this repository, and you can see #3305 as an example of fixing them.

[2022-05-02 21:37] nex3 commented on #3297
`@use ... with` isn't a silver bullet, and it's not appropriate for all use-cases. You can always fall back on setting variables directly:

[code]

(If your framework emits styles directly, we recommend switching it to providing a mixin that users can invoke where and when they choose.)

[2022-05-02 21:37] #3297 closed, assigned to nex3

[2022-05-02 21:42] #3304 closed, assigned to nex3

[2022-05-05 11:23] jackgreentemp commented on #3091
I found something weird. Variable name is "$eed_color_base_black_1" in other scss file， the variable name would become "eed-color-base-black-1"  when using `@each $name, $value in meta.module-variables`. How to fix this?

demo link: https://codesandbox.io/s/bitter-water-iqfox5?file=/src/styles.scss

[2022-05-07 03:32] jackgreentemp opened #3306 "Variable name changed when use meta.module-variables"
I found something weird. Variable name is "$eed_color_base_black_1" in other scss file， the variable name would become "eed-color-base-black-1"  when using `@each $name, $value in meta.module-variables`. How to fix this?

demo link: https://codesandbox.io/s/bitter-water-iqfox5?file=/src/styles.scss

_Originally posted by @jackgreentemp in https://github.com/sass/sass/issues/3091#issuecomment-11184

[2022-05-07 03:34] jackgreentemp commented on #3306
Could someone help me about this  issue?

[2022-05-07 16:47] KunalTanwar11 opened #3307 "[Feature Request] introduce a config file like ".sassrc" or something else"
Sass could have a `config` file (which you save in the base dir) in which users can set options at once for compilation instead of using `javascript`.

### For Example
`.sassrc`
[code]

[2022-05-08 08:45] mamdasan opened #3308 "[Feature Request] introduce true inheritance, which can be truly usefull"
hope you all having a good day.
i searched for a feature like this but i could'nt find it and it could be extremely usefull for programming css

[code]
and for use case it would be something like this:
[code]
with regards

[2022-05-08 08:47] #3308 closed, assigned to nobody

[2022-05-08 08:47] mamdasan commented on #3308
i found that i can use @content to achieve what i want so ty

[2022-05-09 10:49] jurchiks opened #3309 "Updated SASS, broke @extend with unicode pseudo content, now what?"
I'm using gulp-iconfont-css, and it generates the following CSS:
[code]
The problem is - SASS does NOT extend this properly.
I used to have the following code:
[code]
And it worked exactly as expected.
This broke after updating SASS (or, more specifically, updating `gulp-sass` from v4 to v5, which then started requiring dart SASS, which started throwing errors on these styles), so I changed all th

[2022-05-09 12:42] jurchiks commented on #3309
Alright, it appears that gulp-confont-css has a bug, it is supposed to generate SCSS by default, but it actually generates CSS. If I explicitly specify the SCSS format then it generates both placeholders and mixins that I can use and those work as expected. Took me and a colleague a good 3 hours of looking for alternatives and eventually digging into the library's source code to figure this out...

[2022-05-09 16:10] jurchiks commented on #3256
I don't know about you guys, but I am on Node 16.15.0 LTS and SASS 1.51.0, no problems here.
Perhaps the bug has been solved since then, or it's some bit of code that my project doesn't access, can't tell.
Or maybe the issue title needs to be made more specific?

[2022-05-09 16:54] jurchiks commented on #3309
Closing because moved the issue to the right repo.

[2022-05-09 16:54] #3309 closed, assigned to nobody

[2022-05-10 04:55] slaarti opened #3310 "Configuring a module (@use/@forward) using variables from that module?"
Okay, so, as a notional example, suppose I have one project for a library:

[code]

And then a second project (and possibly eventually a third, fourth, etc., which is why the solution here isn't just "merge the two things together") that uses it:

[code]

This is all well and good, and it's cool that I'd be able to configure the library by doing:

[code]

However, all of the documented examples of

[2022-05-10 20:27] nex3 commented on #3307
Duplicate of https://github.com/sass/sass/issues/2669

[2022-05-10 20:27] #3307 closed, assigned to nobody

[2022-05-10 20:46] jathak commented on #3256
It looks like the issue here is that the recursion gets too deep, causing a stack overflow. You should use a for loop instead to avoid this.

[2022-05-10 20:46] #3256 closed, assigned to jathak

[2022-05-10 22:32] jathak commented on #3306
This is working-as-intended. Underscores and hyphens are treated as identical in Sass identifiers, so `$eed_color_base_black_1` and `$eed-color-base-black-1` refer to the same variable.

[2022-05-10 22:32] #3306 closed, assigned to jathak

[2022-05-10 22:36] jathak commented on #3310
The `with` clause is evaluated before the module is loaded, so it's not possible to access members from a module while configuring it.

If you want to use variables from a module to configure its behavior, we'd recommend using a mixin and have it take in arguments for the behavior you want to configure.

[2022-05-10 22:36] #3310 closed, assigned to jathak

[2022-05-11 12:30] steveetm commented on #3256
@jathak Recursion itself can't be the issue, have you checked my workaround?
[code]
is working, but if you inline $tmp it runs into error. The depth of recursion shouldn't depend on the placement of that call at all.

Also, there is another issue, in async mode this error is _not_ reported, as I said earlier. It simply waits forever, this is _also_ a bug.

[2022-05-11 21:20] #3298 closed, assigned to jathak

[2022-05-12 03:31] DavidSouther opened #3312 "Unable to @import absolute paths on windows"
In an automated build system, my tool generates an absolute path to the root stylesheet to render. On mac/linux, sass loads the entry point from the correct location, but it fails in windows with

[code]

Windows 10 Home
Node v16.14.0
sass 1.49.9

[2022-05-12 03:34] DavidSouther commented on #3312
This is the wrong repo, sorry! Looks like I'm getting dart-sass under the hood, I'll refile it there.

[2022-05-12 03:34] #3312 closed, assigned to nobody

[2022-05-12 05:20] MassMessage opened #3313 "How do I set the include path for meta.load-css()?"
I'm getting this error:

[code]

from the code:

[code]
this because it's searching for the resource files, such as button-up.svg in `src` dir but those files are in the `7.css/dist/7` folder itslf. How can I make `meta.load-css()` search in the 7 dir folder instead of?

**EDIT:** I've tried using postcss-import like this:

[code]

but it didn't make any difference.

**EDIT 2:**

I just found out

[2022-05-12 15:47] dmrickey commented on #626
I was aiming to do this in my global styles. It would be super nice if this were possible..
[code]

[2022-05-12 18:04] jslegers commented on #626
@nex3

What's the current status of this issue?

After all these years, what is blocking this feature from finally being implemented / released?

[2022-05-13 18:58] MassMessage commented on #3128
How do I set this load paths? Currently I'm facing similar issue

[2022-05-14 00:02] greven commented on #3313
Is this issue related to SASS at all? Think it has to do with whatever stack you are using because to use load paths you pass the flag in the sass cli as -I PATH, if you can't do this directly you will have to refer to the documentation of the framework you are using.

[2022-05-14 03:35] MassMessage commented on #3313
no it it's not really. I just found reading the docs more carefully that the imports are passed down to webpack's so settign the path in `resolve.modules` did solve.

[2022-05-14 03:35] #3313 closed, assigned to nobody

[2022-05-16 02:03] kerryj89 commented on #2774
nex3's answer is the answer in your situation, but if you landed here without package restrictions like I did and are able to edit the files (whether directly or through patch-package), you may be able to skirt around this issue by creating another file (I called it `_variable-module-loop-fix.scss` in my example) and move all variables that need to be defined before using the function.

[code]
⬆️

[2022-05-16 02:24] lsqGitHub716 opened #3315 "启动报错"
Syntax Error: SassError: expected "{".
![image](https://user-images.githubusercontent.com/65587928/168509449-e3342b0c-2dd2-4722-8e8f-49ba80634392.png)

[2022-05-16 20:23] nex3 commented on #3315
It looks like something in this is trying to parse JavaScript as Sass, but whatever's causing that is likely to be in your application setup and not a bug with Sass itself.

[2022-05-16 20:23] #3315 closed, assigned to nobody

[2022-05-16 20:49] nex3 commented on #3128
You can use the [`--load-path` option](https://sass-lang.com/documentation/cli/dart-sass#load-path) for the command-line executable, or the [`loadPaths` option](https://sass-lang.com/documentation/js-api/interfaces/Options#loadPaths) for the JS API.

[2022-05-16 20:56] jathak commented on #3256
The recursion depth _is_ actually different there, since there's fewer layers of expressions to evaluate (since we're running into Dart/Node's recursion depth limit here, not any limit we've set in the Sass language itself). When running async, it waits (seemingly) forever because it's taking a very long time, but because it's asynchronous, it never actually stack overflows.

[2022-05-17 11:07] WebMechanic opened #3316 "@media with nested @include load-css() creates a multitude of redundant @media queries"
Hello,
this applies to Dart Sass 1.51.0 compiled with dart2js 2.16.2

Given something like this in a .scss the loaded files are basically concatenated:
[code]
`many.css` then contains sth like that:
[code]

If I want them to be **grouped** within a single `@media` query such as
[code]
instead of giving me the expected
[code]
the rendered .css contains that very `@media` query around **every single

[2022-05-17 12:33] stof commented on #3316
I guess this is done this way due to the needed merging of media queries when the included css contains media queries (as `@media` could not be nested in the past, see https://caniuse.com/mdn-css_at-rules_media_nested-queries)

[2022-05-17 14:38] WebMechanic commented on #3316
I though so, but for **almost 10 years** this is supported in browsers that matter today,, 2022.
The only browser that never supported nested media was of course our old buddy Internet Explorer. I loved using this simple "hack" back in the days, but can it please R.I.P. now? Nothing remotly relevant since CSS Grid works in IE anyway.

Still: putting each and every single selector into it's own `@m

[2022-05-17 14:51] WebMechanic commented on #3316
did some more quick tests
with this, **EVERY selector** in `stuff.scss` get its own `@media` wrapper, which could become _hundrets of additional, redundant lines_.
[code]

if I wrap the whole content of `stuff.scss` into a single, simple query such as
[code]
the result is **ONE empty** `@media (min-width: 30em) {}` from the parent file (with possible /**/ comments inside from stuff.scss and any fi

[2022-05-18 03:23] ghost opened #3318 "Multiple @mixin with single @include."
### This is a feature request that I feel should have in the SCSS to improve productivity.

**Current code**
[code]
And I really hate needing to call `@include` every time I use mixins. So
<br/>

**Expected code**

[code]

Notes
- I can't create a single mixin with all the arguments because for some classes I don't wanna use `flex` and for others, I don't wanna use `border` at all. Even though I c

[2022-05-18 09:02] stof commented on #3318
This has already been requested in the past, and the main issue is that this does not play well with content blocks

[2022-05-18 18:23] felixniemeyer opened #3319 "darken(color, amount) but desaturate(amount, color) have inconsistent argument order"
It would be nice if the argument order for all color functions was (color, amount)

[2022-05-19 12:49] zjslqshqz opened #3320 "How do I set the indent width of the compiled css in the command line？"
For example in webstorm。
There is indentWidth parameter in node-sass

[2022-05-19 23:53] #3285 closed, assigned to nex3

[2022-05-23 20:40] jathak commented on #3320
We don't support customizing Sass's output beyond basic expanded/compressed mode. If you need your output CSS to be structured in a particular way, you should use a separate postprocessor after you compile your Sass.

[2022-05-23 20:40] #3320 closed, assigned to nobody

[2022-05-23 21:46] nex3 commented on #3319
Good news: they are!

![darken](https://user-images.githubusercontent.com/188/169910757-98806a12-867d-4848-9f6c-7150c8fe40fd.png)
![desaturate](https://user-images.githubusercontent.com/188/169910755-6b5daafe-b4b5-4a10-ad70-89db2eec7def.png)

That said, we recommend that users avoid these functions for reasons described [in the documentation](https://sass-lang.com/documentation/modules/color#desat

[2022-05-23 21:46] #3319 closed, assigned to nex3

[2022-05-24 00:02] nex3 commented on #3316
I can't reproduce this. If I have:

[code]

[code]

[code]

I get

[code]

as expected. Can you create a repository with a minimal reproduction of this issue?

[2022-05-24 16:35] WebMechanic commented on #3316
thanks @nex3 for checking.
I'll try  to get to it this weekend.

[2022-05-24 16:45] felixniemeyer commented on #3319
I'm so sorry for this false alarm. I must have been tired or so on that day :/
Thanks for pointing towards `color.scale()` and `color.adjust()`

[2022-05-25 03:04] senwzz opened #3321 "Empty parent selector"
[code]

**It can works, but each selector should add #{$outer_class} & {**

[code]

**This can not work ...**

**Please fix thanks.**

[2022-05-25 20:21] nex3 commented on #3321
This is intentional. Selectors are parsed *after* interpolation is resolved, so `" &"` is a valid selector but `""` is not.

[2022-05-25 20:21] #3321 closed, assigned to nobody

[2022-05-25 20:44] jathak commented on #3091
This is working as intended. For historical reasons, Sass treats underscores and hyphens interchangeably, and normalizes all member names to only use hyphens.

[2022-05-26 11:57] torin-st commented on #2604
My workaround for Windows - Git:
1. Create a file **.gitattributes** in the project's root.
2. Add to the file: **path/to/your/file.css text eol=lf** (e.g. src/main/resources/static/css/style.css text eol=lf).

It prevents from 'lf' -> 'crlf' conversion for file.css during checkout.

[2022-05-31 14:27] GottZ commented on #1251
@nex3 hey there. 2022 here.

Please read my last comment from 2019 (just one above this) and state your opinion on it.
I'd like to know your opinion because it does work correctly for `@keyframes`

[2022-05-31 20:19] jathak commented on #3318
Duplicate of https://github.com/sass/sass/issues/3087

[2022-05-31 20:19] #3318 closed, assigned to jathak

[2022-05-31 20:57] nex3 commented on #2854
This is definitely weird behavior, and if I were designing Sass from scratch I would change it for sure. But deprecating and making a backwards-incompatible change to the way variable assignments work is a big task that's likely to inflict confusing pain on our users, and I don't think it's worth doing that for a relatively small performance gain—especially since LibSass is now deprecated and it's

[2022-05-31 20:57] #2854 closed, assigned to nobody

[2022-05-31 22:30] dmt0 opened #3322 "Bogus "target selector not found" error with meta.load-css()"
Currently this produces an error:
[code]

[code]

Bumped into this after upgrading from Ruby Sass to current version `"sass": "1.52.1"`

[2022-06-01 10:00] sonikasharma1403 opened #3323 "How to create global mixins and variables without any scoping restrictions"
we are importing a few third-party libraries in our scss file. instead of `@import` if we use `@use`, compilation throws an error that it cannot find variables and mixins. Since we cannot change their code, I wondered if there's any way to make variables and mixins available to the third-party library without changing their code.

[2022-06-02 18:31] anton97johansson opened #3324 "Nestling with @at-root. Unexpected result when using @use in @at-root file"
https://github.com/anton97johansson/scss-experiment

I expect [this scss file](https://github.com/anton97johansson/scss-experiment/blob/master/css/at-root-use.scss) to generate same css as [this scss file](https://github.com/anton97johansson/scss-experiment/blob/master/css/at-root-import.scss) but it doesn't as you can see [here](https://github.com/anton97johansson/scss-experiment/blob/master/css/

[2022-06-06 11:13] ghost opened #3325 "Error: RangeError: Invalid value: Not in inclusive range 0..29: -1"
After upgrading `sass` to `1.52.2`, my project reported the following error:
[code]

But `sass@1.43.4` is OK.

[2022-06-06 18:29] chryw commented on #3325
Also got this. v1.51.0 is ok.

[2022-06-07 04:50] sanriqing opened #3326 "@mixin brings too much duplicate code"
[code]
We use `@mixins` like this to help us code quickly，But the duplication of code in production increases as we use it. in this case the duplication of code should be
[code]

 So we're going to try to extract the invariant part and call it `@extend`. But this brings up another problem, the different `@import` or `@use` file can bring up extra duplicate code... It's really sad.

 Is there any g

[2022-06-07 10:14] sonikasharma1403 opened #3327 "Module loop: this module is already being loaded."
Error messages should be more descriptive.

`Module loop: this module is already being loaded.`

If the module is already loaded then we should be able to use the variables. Is my understanding correct?
But, if we remove `@use` then it throws, undefined variables and mixins error

[2022-06-07 14:16] thinkh commented on #3325
For us version 1.52.1 worked and still does. Any idea what could cause this error in the last patch release?

[2022-06-07 20:15] nex3 commented on #3325
Duplicate of sass/dart-sass#1712.

[2022-06-07 20:15] #3325 closed, assigned to nobody

[2022-06-07 20:18] jathak commented on #3327
This means that there's a loop of `@use` rules in your code.

For example, if you have files A, B, and C, where A uses B, B uses C, and C uses A, the `@use` rule in C would cause this error because we haven't finished loading A yet (since C is indirectly loaded as part of it).

[2022-06-07 20:18] #3327 closed, assigned to nobody

[2022-06-07 20:19] nex3 commented on #3326
If you're very concerned about code size, a tool like [cssnano](https://cssnano.co) may be able to help you by re-ordering and compressing your CSS after the fact.

Sass is primarily a tool for expressing styles rather than compressing them, but if you really want to avoid duplicating declarations your plan of using `@extend` could work. The `@use` rule ensures that each module you use is only loa

[2022-06-07 20:19] #3326 closed, assigned to nobody

[2022-06-07 20:29] nex3 commented on #3323
Your best option is to create a single intermediate file that `@import`s everything you need from the library, and then `@use` that file.

[2022-06-07 20:29] #3323 closed, assigned to nobody

[2022-06-07 20:34] nex3 commented on #3322
It's hard to tell what's going on here without a full Sass file that reproduces the issue.

[2022-06-07 20:43] jathak commented on #3324
Duplicate of sass/dart-sass#1347.

[2022-06-07 20:43] #3324 closed, assigned to nobody

[2022-06-07 20:52] nex3 commented on #2730
After discussing this with the team, we feel that we should retain the current behavior of *always* treating file extensions case-sensitively.

[2022-06-07 20:52] #2730 closed, assigned to nobody

[2022-06-07 21:10] ext commented on #3324
@jathak Are you sure #1347 is the right duplicate? It doesn't resemble this issue at all or at least not in a way I understand it (in which case please elaborate further).

To add more to this issue lets consider three files:

`_common.scss`:

[code]

`_foo.scss`:

[code]

and finally `main.scss`:

[code]

Executing `npm exec sass main.scss` yields the following output:

[code]

Changing the impor

[2022-06-07 21:11] jathak commented on #3324
Whoops. That should be sass/dart-sass#1347. Fixed.

[2022-06-08 01:36] dmt0 commented on #3322
It's in an open-source repo fortunately:
https://github.com/figlinq/react-chart-editor/blob/769054741922b66d3ef540a810790c2f86bafe18/src/styles/_mixins.scss#L209
I had to add `!optional` to the offending `extends`s to make Sass compile.

[2022-06-08 20:18] nex3 commented on #1608
I think at this point the closest we're going to come to this is the standard JS API for writing an extension that can be used by anyone in a way that's theoretically implementation-dependent, as well as the embedded host for writing an extension that works well in whichever native language people use. This doesn't solve the issue of writing an extension that can be used in any Sass installation,

[2022-06-08 20:18] #1608 closed, assigned to nobody

[2022-06-09 22:30] b-d-k commented on #2375
I wish I knew why

[2022-06-10 22:22] NIK0LADZE opened #3328 "Improve @each rule without need to use if else"
Let's say i have declared mixins for mobile, tablet and desktop(maybe some other mixins for other media breakpoints, doesn't really matter) and i want to set similar styles for 3 mixins, this is how it would work currently:
[code]
I thought it would be better if the following code would actually work the same:
[code]
also pro of this version is that you won't have to pre-describe which mixins woul

[2022-06-10 22:48] roderickhsiao opened #3329 "Website no longer accessible"
it seems like the [documentation website](https://www.sass-lang.com/) no longer accessible?

[2022-06-11 01:04] zaydek commented on #3329
You can use this as a fallback for now: https://web.archive.org/web/20220602164024/https://sass-lang.com.

[2022-06-11 01:37] nex3 commented on #3329
Duplicate of https://github.com/sass/sass-site/issues/641

[2022-06-11 01:37] #3329 closed, assigned to nobody

[2022-06-11 09:20] KaelWD commented on #2739
Supporting [conditional exports](https://nodejs.org/api/packages.html#conditional-exports) would be nice too, so my library can specify
[code]
to make `@use 'library/styles'` load the scss file but `import 'library/styles'` load precompiled css instead.

[2022-06-11 17:10] ido-pluto opened #3330 "Inline comments removed on expanded style"
How can I make inline comments stay?

[code]

Output
[code]

I am using the `compileStringAsync` api

[code]
### Versions

sass: 1.52.3
node: 18.3.0

[2022-06-13 12:04] abdo-spices opened #3331 "request features"
Hi i want some new features like documentation (you can use docusarus)
new features like conditional import, autoprefixer , JIT complier , official Vscode extensions with full intellisense
and a variable will called compress takes a Boolean and at compile every class has the same property take it like extend at rule it's very useful for components
@apply directive like in tailwind

[2022-06-13 20:24] nex3 commented on #3330
Unfortunately, you can't. Comments in certain positions simply aren't retained by the Sass AST.

[2022-06-13 20:24] #3330 closed, assigned to nobody

[2022-06-13 20:33] nex3 commented on #3328
Duplicate of https://github.com/sass/sass/issues/626

[2022-06-13 20:33] #3328 closed, assigned to nobody

[2022-06-13 20:42] nex3 commented on #3331
[We have documentation!](https://sass-lang.com/documentation)

See [`meta.load-css()`](https://sass-lang.com/documentation/modules/meta#load-css).

There's a dedicated [Autoprefixer](https://github.com/postcss/autoprefixer) that already exists. We have no desire to do a bunch of extra work only to duplicate its functionality.

JIT-compiling Sass would be a tremendous amount of work for relatively

[2022-06-13 20:42] #3331 closed, assigned to nex3

[2022-06-13 20:45] nex3 commented on #2375
@b-d-k From [the Sass documentation](https://sass-lang.com/documentation/interpolation):

[2022-06-13 20:46] nex3 commented on #3322
Can you provide me a *stand-alone* file that reproduces the error?

[2022-06-15 12:15] yoyo837 opened #3332 "Question: SassError: "&" may only used at the beginning of a compound selector."
[code]

[2022-06-15 19:12] U-4-E-A opened #3333 "Are CSS color names reserved words? At least in maps?"
In my map: -

[code]

This is not found here: -

`background-color: map.get($colors, 'blue');`

Same goes if it is any obvious color name ("red", "green", "yellow", "lightgreen"). If I suffix it with something so it becomes random, such as "yellowy", it works.

So... are CSS color names reserved words in sass?

[2022-06-15 22:42] nex3 commented on #1912
We have [a proposal](https://github.com/sass/sass/blob/main/proposal/strict-unary.md) out for this now. I'll give it a full month for feedback, since it _is_ a breaking change, then mark it as accepted if there are no substantive changes or challenges.

[2022-06-15 23:24] #2800 closed, assigned to nobody

[2022-06-15 23:51] nex3 opened #3335 "Use floating-point numbers universally"
Sass has never clearly specified its internal number format. Ruby Sass inherited Ruby's support for transparently switching to bignums when numbers got extremely large, and Dart Sass did the same thing initially until Dart dropped support for transparent bignums in 2.0.0. LibSass, on the other hand, has only ever used floating point numbers.

Although we *could* mandate the implementation of trans

[2022-06-15 23:52] nex3 commented on #3335
Oops, looks like https://github.com/sass/sass/issues/2892 already exists.

[2022-06-15 23:52] #3335 closed, assigned to nobody

[2022-06-15 23:52] nex3 commented on #2892
From https://github.com/sass/sass/issues/3335:

Sass has never clearly specified its internal number format. Ruby Sass inherited Ruby's support for transparently switching to bignums when numbers got extremely large, and Dart Sass did the same thing initially until Dart dropped support for transparent bignums in 2.0.0. LibSass, on the other hand, has only ever used floating point numbers.

Althoug

[2022-06-16 00:05] nex3 commented on #2454
Changing this to an enhancement since it's not a semantic issue, just a question of generating too many styles.

[2022-06-16 00:07] nex3 commented on #1890
@jcutrell No, the desire is to (ultimately) have `math.random(10px)` return a number with the unit `px`.

[2022-06-16 08:46] stof opened #3337 "Strict unary operator impact on unary divide"
The dart-sass implementation currently has 4 unary operators: `+`, `-`, `/` and `not`. `not` being an identifier already requires spaces around it to disambiguate it and is not a binary operator, so it is a special case. However, `+`, `-` and `/` are kind of similar.

Is `/` expected to be updated by the strict unary operator proposal ?

[2022-06-16 20:47] Goodwine commented on #2529
Firefox ESR v91 still supports `url-prefix()`
Firefox Latest v101 does too

Related - https://bugzilla.mozilla.org/show_bug.cgi?id=1035091

Since it seems many websites target FF with that rule I wonder if it'll ever be removed 🤔

[2022-06-16 22:56] Aquaengraved commented on #3269
Hi,

Seems I got a similar issue, but i'm not sure what to do as my screen.scss already has the @import paths as above (in SCSS style rather than SASS).

**Error:**
![image](https://user-images.githubusercontent.com/36793493/174191280-fd3f1fca-16c9-4b7b-a878-e826f3de70d5.png)

**Folder structure:**
![image](https://user-images.githubusercontent.com/36793493/174191396-d332e46b-cd0a-4867-b493-33665a

[2022-06-16 22:59] nex3 commented on #3245
This is now out for review as a fast-track proposal in https://github.com/sass/sass/pull/3338. I'll leave it open until Tuesday unless anyone has any objections or suggestions.

[2022-06-17 01:43] nex3 commented on #3269
@Aquaengraved Because your `screen.scss` file is in `src/scss/modules`, the relative URL `modules/custom_variables` resolves to `src/scss/modules/module/custom_variables`. You should just write `@import "custom_variables"` instead.

[2022-06-17 01:46] nex3 commented on #3333
From [the documentation](https://sass-lang.com/documentation/values/maps):

Color names in Sass always resolve to plain color values, which are not equal to color name strings. If you write your map as `("blue": #00adef)` it will work.

[2022-06-17 01:46] #3333 closed, assigned to nobody

[2022-06-17 01:48] nex3 commented on #3337
I think it's unlikely that many people intentionally use unary `/`, and the move to `/` as a separator means that something like `$a /$b` can actually be valid CSS where `$a -$b` can't, so I don't think it's a good idea to forbid `$a /$b`. Thanks for checking, though!

[2022-06-17 01:48] #3337 closed, assigned to nobody

[2022-06-17 05:57] sonikasharma1403 opened #3339 "Support for directory processing in JS API"
Hi, I am trying to use the sass JS API instead of command line. For scss to css compilation using command line, we can pass the directory and everything else is taken care of. But, while converting the command line usage to JS API using the `render` method, I found that there is no way to pass a directory to it. Let me know if there is any other function that has this support? if not, then can we

[2022-06-17 08:00] ntkme commented on #3332
[code]

[2022-06-17 08:13] yoyo837 commented on #3332
Thank you so much!

[2022-06-17 08:14] #3332 closed, assigned to nobody

[2022-06-17 11:25] stof commented on #2538
Those are announced to be shipping in Chrome 104, which should make the awaited browser support being there as Firefox already shipped them.
https://caniuse.com/mdn-css_at-rules_media_range_syntax

[2022-06-18 01:21] nex3 opened #3340 "Drop support for non-standard combinator arrangements"
* [x] [Proposal](https://github.com/sass/sass/blob/main/accepted/bogus-combinators.md) (https://github.com/sass/sass/pull/3342)

**Deprecation**

* [x] [Tests](https://github.com/sass/sass-spec/issues/1797) (https://github.com/sass/sass-spec/pull/1803)
* [x] [Dart Sass](https://github.com/sass/dart-sass/issues/1727) (https://github.com/sass/dart-sass/pull/1740)
* [x] [Documentation](https://github

[2022-06-18 01:21] nex3 commented on #2901
Closing this out in favor of https://github.com/sass/sass/issues/3340, which covers doubled combinators as well.

[2022-06-18 01:21] #2901 closed, assigned to nobody

[2022-06-18 02:28] nex3 commented on #3340
I've opened a proposal for this: https://github.com/sass/sass/pull/3342

[2022-06-18 16:53] Aquaengraved commented on #3269
Got it working. Thanks for helping out.

[2022-06-21 10:12] DungGramer commented on #3091
I create a mixin for this solution. Check it out!

[code]

[2022-06-21 22:07] #3245 closed, assigned to nex3

[2022-06-21 22:16] nex3 commented on #3339
Since the CLI is intended for manually compiling Sass while the JS API is more intended for automation, I don't think it makes sense to add non-Sass-specific complexity to it that could easily be implemented using standard JS APIs.

[2022-06-21 22:16] #3339 closed, assigned to nex3

[2022-06-22 00:53] nex3 commented on #3340
The proposal has landed. Since this almost exclusively affects stylesheets that generate invalid CSS anyway, I don't think it's likely to be controversial so I'm going to give it two weeks for public comment before moving forward with the implementation.

[2022-06-22 00:54] nex3 commented on #2538
I have a PR out for a proposal: https://github.com/sass/sass/pull/3344

[2022-06-22 06:16] sonikasharma1403 commented on #3339
@nex3,
so, if we want all the files in a directory to be compiled from SCSS to CSS, then we will have to pass one file at a time to the JS API? Is my understanding correct?

[2022-06-23 23:28] nex3 commented on #2538
The proposal has landed. Since it's relatively straightforward and unlikely to change, I'll give it two weeks for public comment.

[2022-06-24 01:34] TLATER opened #3347 "Build reproducability when using `unique-id()`"
Hi, apologies in advance if this should actually be in https://github.com/sass/sass-spec, I'm not really sure where it belongs since the spec just isn't very explicit about the requirements here.

I've been using `string.unique-id()` as a handy shortcut to make sure my CSS animation keyframe names don't collide with anything. This unfortunately results in reproducibility issues because the randomi

[2022-06-24 15:11] sno2 commented on #3347
IMO it'd be better to instead have the ability to pass a seed to `string.unique-id(1234)` to allow everyone to decide the proper solution in their own case.  You could then just set a variable to your seed in a given variable to make them all use the same id and the compiler could use a hash map to cache all of these random instances.

[2022-06-24 17:09] TLATER commented on #3347
Yep, that was what I meant by:

My problem is that if any dependency I'm using uses `string.unique-id()` anywhere then I have no control over the seed they are setting, and therefore cannot resolve the build reproducibility problems without vendoring/patching those dependencies (assuming that most people will not bother to set this, because the problem is historically unnoticed by the community, a

[2022-06-24 23:45] Aquaengraved commented on #3269
Hi,

Back here unfortunately. Not sure how/why, but for some reason today my compiler worked. Until at some point I moved the src folder over to another project. Now both projects the compiler no longer works?

I tried changing the import paths. I tried changing the path from where I was calling the sass command in the powershell. I can't seem to get it right. Am I missing something? See below upd

[2022-06-27 08:08] stof commented on #3269
Well, if you move `screen.scss`, you need to adjust the relative path to other files. In your new location, `screen.scss` needs to use `@import "modules/custom_variables";` to find the file.

And `modules/_fonts.scss` needs to import `@import "custom_variables";` and not `@import "modules/custom_variables";` (the first error in your screenshot)

[2022-06-27 20:26] nex3 commented on #3339
Yes, that's correct. That's how the CLI does it internally as well.

[2022-06-27 20:29] nex3 commented on #3347
I think it makes sense to add support for seeding the randomness Sass exposes, but I think it makes more sense to do it as a configuration option than as a feature of the language itself.

[2022-06-27 21:31] totkeks opened #3348 "Calculation through calc() falsely simplified"
I got the following calculation `calc(320px / 100vw)` as part of a bigger clamp function.
And this gets simplified by sass into `3.2px/vw` resulting in this error message:
[code]

I think the expected result should be `3.2px/1vw` or no simplification at all if that is possible too.

I'm running vitejs with `sass: 1.52.3`

I also found this issue https://github.com/sass/sass/issues/2565, but I don'

[2022-06-28 00:29] nex3 commented on #3348
Neither `3.2px/1vw` nor `calc(3.2px / 1vw)` are valid CSS values. Sass generates an error rather than producing a CSS value that it knows is invalid so that you can tell what's going wrong rather than simply having your CSS render incorrectly for opaque reasons.

[2022-06-28 00:29] #3348 closed, assigned to nobody

[2022-06-28 05:07] nabeerdar commented on #2867
Thanks, very helpful

[2022-06-28 05:09] sonikasharma1403 commented on #3339
@nex3 :  thank you for your help

[2022-06-28 11:47] antonio-castellon opened #3349 "incompatibility of global dependencies using @uses with Angular"
Dear All,

We got a problem after the last upgrade on angular, 'sass' is not able to compile our templates/defined-themes anymore because is crashing when it founds the following sentence inside the angular package:

[code]

Previously, the same files in angular where using a relative directive without any issue, but apparently is not anymore the case.
Libraries are there, and I guess the problem

[2022-06-28 12:08] antonio-castellon commented on #3349
`--load_path` is my friend , sorry..I didn't find the documentation properly :P

[2022-06-28 12:08] #3349 closed, assigned to nobody

[2022-07-05 03:34] kerryj89 commented on #3340
Will this change make `_header.scss` invalid?  I use this form and it makes for what I feel is a clean separation.

[code]

[code]

[2022-07-05 04:41] kerryj89 commented on #3323
@nex3 That option will ultimately fail when `@import` gets dropped (Oct. 2022?), correct?

When migrating, I hoped for something like `@use 'old-3rd-party-component' provide 'variables'` which would behave as if `@use 'variables' as *` was at the top of the `@use'd` `old-3rd-party-component` file.  I'm guessing this form would go against modularity (the whole "what came from where" would be hidden

[2022-07-05 05:54] murugeshnataraj opened #3350 "sass.Exception [Error]: (en: (default: "../images/fd-logo.png")) isn't a valid CSS value."
My Code:

_functions.scss
--------------------------------------------

[code]

_FooterLinks.scss
-----------------------------------------------

[code]

_helper-mixin.sccs
-----------------------------------------------------------

[code]

Node Version: 16.13.0
"node-sass": "^6.0.1",

How to fix:

[2022-07-05 14:51] dimitri-ks2 opened #3351 "[Feature request] : color functions : support css variables"
Hi,
Can you plan to support  css variables in color functions ?

[code]
[code]

[2022-07-06 07:41] tmySchrz opened #3352 "Convert scss to sass syntax"
Is there a way to convert the scss syntax to the sass syntax automatically?

[2022-07-06 13:26] KunalTanwar11 opened #3353 "sass changing end of line sequence after compiling"
My default encoding is `CRLF` as I am using windows but after compiling the **EOL** is converting into `LF`

**command**
`sass input.scss --no-source-map -s compressed output.css`

I am using javascript version of sass which I installed using `yarn add -D sass` not the native `dart` version.

[2022-07-06 14:49] kerryj89 commented on #3322
~I reported a similar issue as a reply to https://github.com/sass/dart-sass/issues/1295~

~However in my case above it's workability depends on whether or not it's within a @mixin and not conditionals.~

[2022-07-06 20:27] nex3 commented on #3353
Duplicate of #2604

[2022-07-06 20:27] #3353 closed, assigned to nobody

[2022-07-06 20:27] nex3 commented on #3352
Sorry, there isn't.

[2022-07-06 20:27] #3352 closed, assigned to nobody

[2022-07-06 20:33] nex3 commented on #3350
This is a great question for the [Sass StackOverflow community](https://stackoverflow.com/questions/ask?tags=sass)! We try to keep this issue tracker focused on bugs and feature requests that need the core team's attention in particular, while requests for support are usually better handled by the community at large.

[2022-07-06 20:33] #3350 closed, assigned to nobody

[2022-07-06 20:34] jathak commented on #3351
This isn't possible, since Sass variables are resolved when your Sass code is compiled, but CSS variables aren't resolved until runtime in the browser.

[2022-07-06 20:34] #3351 closed, assigned to nobody

[2022-07-06 20:44] nex3 commented on #3323
That's correct, although the same is true for the entire third-party library.

That date is no longer accurate. We haven't even deprecated `@import` yet, and we aren't planning to remove it until at least a year after its deprecation (and probably longer).

[2022-07-06 20:56] nex3 commented on #3340
@kerryj89 That will specifically be invalid because `meta.load-css()` compiles the module's stylesheet to CSS _before_ injecting it into the enclosing context, and `> header` isn't valid CSS. Since `_header.scss` isn't a valid CSS file anyway, I recommend putting it into an explicit mixin, which will continue to work.

[2022-07-12 10:03] connorlufei commented on #1599
Replacing `@extend a.b` with `@extend a, b` might be semantically identical but it produce a bloated output in my case. I have a sass library that customizes bootstrap.

For example, I have a rule that is like
[code]
Which is meant to make selector `.navbar-nav .active .nav-link` extend the styles from selector `.nav-link.active`(very few lines of styles). output css has around **19k** lines.

But

[2022-07-15 09:39] sonikasharma1403 opened #3359 "Sass variables having arithmetic operations are converted to string"
[code]

Note that with node-sass this worked. After migrating to sass it has stopped working. I guess it should work as it is supported by the browser and the spaces should not have been trimmed.

Also, should this be considered as a breaking change and should be mentioned while converted the application from node-sass to sass?

[2022-07-18 20:20] jathak commented on #3359
This is a great question for the [Sass StackOverflow community](https://stackoverflow.com/questions/ask?tags=sass)! We try to keep this issue tracker focused on bugs and feature requests that need the core team's attention in particular, while requests for support are usually better handled by the community at large. To get a helpful answer from StackOverflow, I'd encourage you to add more details

[2022-07-18 20:20] #3359 closed, assigned to nobody

[2022-07-21 09:25] kaocong opened #3363 "use math.div with warning"
[code]

get warning
[code]

env
node v14.19.3
"sass": "1.53.0",
"sass-loader": "10.3.1",

What should I do?

[2022-07-22 20:55] #2728 closed, assigned to nobody

[2022-07-22 21:19] nex3 commented on #2538
The initial deprecation phase has landed. We'll wait at least three months to give users a chance to migrate away from the deprecated syntax, then land full support.

[2022-07-22 22:06] Goodwine commented on #1890
Blocking until feedback arrives from proposal

https://github.com/sass/sass/blob/main/proposal/random-with-units.md

[2022-07-22 22:17] Goodwine commented on #1890
Updated main comment with:

[Proposal](https://github.com/sass/sass/blob/main/proposal/random-with-units.md)

Deprecation

* [Tests](https://github.com/sass/sass-spec/issues/1810)
* [Dart Sass](https://github.com/sass/dart-sass/issues/1756)
* [Docs](https://github.com/sass/sass-site/issues/659)
* Update canonical spec

Final

* [Tests](https://github.com/sass/sass-spec/issues/1810)
* [Dart Sass](h

[2022-07-23 00:09] nex3 commented on #1890
Now that the proposal has landed, we'll give this a month for public comment since it's a low-controversy breaking change.

[2022-07-26 09:20] stof commented on #1890
@nex3 shouldn't this proposal be announced on the blog if you expect comments on it ?

[2022-07-26 19:38] Goodwine commented on #1890
Per the contributing guidelines

Assuming that because this enhancement/fix is small and uncontroversial it doesn't cross that threshold 🤔

[2022-07-26 20:42] jhildenbiddle opened #3366 "Sass `compileString` unable to import stylesheets"
Node version: 18.4.0
Sass version: 1.54.0
OS: macOS 12.4 (M1/ARM)

I am unable to use the [compileString()](https://sass-lang.com/documentation/js-api/modules#compileString) method to process CSS that imports other stylesheets via `@use` or `@forward`. I have tried absolute paths and numerous relative path variations. No luck. FWIW, the same text contained in a file can be processed using the [com

[2022-07-26 20:42] levipadre opened #3367 "Css variable within mix function"
Is it possible to use css variable within mix function? It doesn't seem to work, but it would be great.
https://jsfiddle.net/up5t7a3x/1/

[code]
Thank you.

[2022-07-28 14:27] GonzaloDieguez commented on #2070
Thanks! Lifesaving!

[2022-07-29 10:16] gautam071 opened #3368 "Use of the @extend function inside the @media quries"
When I tried to use @extend inside the @media query, it threw an error. I am still unable to find a solution to this issue. It would be helpful if you share any suggestions for this.

## Code
[code]

## Error
[code]

[2022-07-30 18:03] jstoller opened #3369 "Multiple selectors, containing the same placeholder, on the same ruleset, are ignored"
Sass is able to handle a selector with a placeholder, and it can handle multiple selectors on the same ruleset with different placeholders, but if a ruleset has more than one selector using the same placeholder, only the first one is rendered. So this scss:
[code]
... will result in this css:
[code]
... when I would expect this css:
[code]

[2022-08-02 16:00] jdelStrother commented on #3340
From https://browserstrangeness.bitbucket.io/css_hacks.html#safari, I was hoping to use this to show a message to Safari 11 users -

[code]

but this is now stripped out. Is there any workaround or do I need to find another approach?

[2022-08-02 20:30] nex3 commented on #3368
Duplicate of #1050

[2022-08-02 20:30] #3368 closed, assigned to nobody

[2022-08-02 20:40] jathak commented on #3366
For `compileString` to support loading from other files, you need to pass in a load path or an importer in the [options parameter](https://sass-lang.com/documentation/js-api/interfaces/StringOptionsWithImporter).

[2022-08-02 20:40] #3366 closed, assigned to jathak

[2022-08-02 20:46] jathak commented on #3363
The issue here is the interpolation. `math.div($xxx, 2)` should work normally.

[2022-08-02 20:46] #3363 closed, assigned to nobody

[2022-08-02 20:52] nex3 commented on #1912
This is blocked on @jathak having time to implement the migrator plugin for it.

[2022-08-02 20:56] nex3 commented on #3340
Since Safari 11.0 is used by substantially fewer users than the 2% cutoff we use for breaking browser changes, I think we'll have to consider it an acceptable loss here. Sorry for the trouble.

[2022-08-02 21:13] Goodwine commented on #3367
Sass doesn't consider CSS variables because Sass compiles into an immutable CSS file, but CSS variables could be changed at runtime.

You can learn more about it here:
- https://css-tricks.com/difference-between-types-of-css-variables/
- [Difference between SCSS variables and CSS variables?](https://stackoverflow.com/a/67016495)

[2022-08-02 21:13] #3367 closed, assigned to Goodwine

[2022-08-02 23:08] nex3 commented on #3369
The generated selector `.light-box .dark-box h2.red` matches a subset of elements already matched by `.dark-box h2.red`, and `.light-box h2.red` already has as high or higher specificity than `h2.red`, so Sass is trimming the unnecessary selector.

[2022-08-02 23:08] #3369 closed, assigned to nex3

[2022-08-03 01:41] jhildenbiddle commented on #3366
Thanks @nex3 and @jathak.

If you don't mind me making a suggestion, I think making it more clear that `compileString` accepts a string *or an object containing options* would be helpful.

The [Usage](https://sass-lang.com/documentation/js-api/#usage) section states:

<img width="554" alt="CleanShot 2022-08-02 at 20 58 00@2x" src="https://user-images.githubusercontent.com/442527/182507680-e35c4e9a

[2022-08-04 00:31] NathanBeddoeWebDev commented on #3296
I've been doing some investigation into this issue, as someone who has 70 scss files to build into 70 css files.

If I'm doing a synchronous compilation with the current release, it takes ~20 seconds to build these files, whereas if I make the SyncEmbeddedCompiler export a single instance of the compiler, then it cuts down to ~5 seconds, and I still get the same output in my CSS.

From what I've r

[2022-08-04 01:06] ntkme commented on #3296
For the performance of the majority of the use cases, having a single embedded compiler process kept running would be the best. Thus that another option we should consider is to change the default behavior to use a kept-alive process (share resources by default), and then later provide an API for users to control if they want to manually control more resources.

[2022-08-04 05:41] jstoller commented on #3369
Why is sass deciding that I don't need the specificity of the selectors that I'm including? Here's an even simpler example. This sass:
[code]

...outputs this CSS:
[code]

...so if I have this markup:
[code]

...all the text will be red, because `.light-box p` comes after `.dark-box p` in the cascade, when I expect the second paragraph to be pink. But if sass rendered all the selectors, like this:

[2022-08-04 09:55] Byloth opened #3371 "Nuxt.js 2 + FontAwesome 6 = `ParserError: Syntax Error`"
I'm currently developing a web application using [Nuxt.js 2](https://nuxtjs.org/).

I just updated...
- [`@fortawesome/fontawesome-free`](https://www.npmjs.com/package/@fortawesome/fontawesome-free) package from `^5.15.4` to `^6.1.2`.
- [`sass`](https://www.npmjs.com/package/sass) package from `~1.32.13` to `^1.54.1`.
- [`sass-loader`](https://www.npmjs.com/package/sass-loader) package from `~10.1

[2022-08-04 09:59] Byloth commented on #3371
https://github.com/FortAwesome/Font-Awesome/issues/18899
https://github.com/webpack-contrib/sass-loader/issues/1081

[2022-08-04 20:40] #3242 closed, assigned to nobody

[2022-08-04 20:42] nex3 commented on #3369
Sass has [very precise rules](https://github.com/sass/sass/blob/main/spec/at-rules/extend.md#specificity) for the specificity of selectors generated with `@extend`. Because we have to remove some selectors from the original in order to do the `@extend`, we can't guarantee any more specificity than that.

[2022-08-04 20:48] nex3 commented on #3296
Keep a process alive _by default_ essentially amounts to building in a memory leak on purpose—we'd be silently allocating a bunch of resources the first the the user compiles Sass without any way of managing the lifetime of those resources. That's why I want an explicit API for managing the compiler lifetime.

[2022-08-04 23:25] ntkme commented on #3296
I do agree having explicit control would be nice. However, allocation from first-time use should not cause too much problem as long as the leak does not grow overtime. - Nowadays machine are pretty powerful that waste a few mb of memory is not a really big deal.

The whole reason I think delivering support for shared resource should be prioritized is that for many use cases we have seen sass-embed

[2022-08-05 00:00] nex3 commented on #3296
There are other reasons than just memory consumption that allocating a global, unfreeable resource isn't likely to be a good idea. And while I agree that solving this would be very high-value, I want to make sure we do it in a way that won't paint the API into an undesirable corner in the future.

One relatively low-overhead option would be to expose a `sass.Compiler` class that provides the same

[2022-08-05 09:19] janswist opened #3372 "SassError: expected "{""
This is the style from my Vue template file:
[code]

and this is the error I get:
[code]

Webpack config:
[code]

package.json"
[code]

[2022-08-08 20:30] nex3 commented on #3372
This looks like an issue with your web framework. The Sass file you listed works just fine when processed by Dart Sass 1.54.3 directly.

[2022-08-08 20:30] #3372 closed, assigned to nobody

[2022-08-08 20:32] nex3 commented on #3371
This isn't a Sass error. You can see in the stack trace that the error comes from the `postcss-values-parser` package:

[code]

[2022-08-08 20:32] #3371 closed, assigned to nobody

[2022-08-09 01:09] nex3 opened #3374 "Improve unit strictness for function parameters"
- [x] [Proposal](https://github.com/sass/sass/blob/main/accepted/function-units.md#function-units-draft-1) (https://github.com/sass/sass/pull/3375)

**Deprecation**

- [x] [Tests](https://github.com/sass/sass-spec/issues/1813) (https://github.com/sass/sass-spec/pull/1830)
- [x] [Dart Sass](https://github.com/sass/dart-sass/issues/1776) (https://github.com/sass/dart-sass/pull/1817)
- [x] [Documenta

[2022-08-09 18:53] halodevcr commented on #2535
Hi there, just facing the exact same issue. Does anyone have a workaround ? a hack something that may help while we wait for this feature to be implemented ?

[2022-08-12 23:24] nex3 commented on #3374
Expanding this to cover functions beyond just colors—for example, `list.nth()` currently doesn't verify its index as unitless either.

[2022-08-13 00:05] nex3 commented on #3374
I'm expanding this again to support passing `%`s as `$alpha` for all color functions, since that's actually included in the CSS spec for the color functions it supports.

[2022-08-16 15:23] dep opened #3376 "[Seeking help] Migrating code between repositories, but imports are broken"
I'm having a problem migrating code between two codebases.  The files were just moved to a new, more modern stack, with slightly different webpack configurations.

I noticed the way the code is written in `ListNav.js` in the old codebase:

```import { listNav } from "./ListNav.module.scss";```

Produces this warning (which really is more like an error):

```export 'listNav' (imported as 'listNav')

[2022-08-16 16:20] dep commented on #3376
For what it's worth I solved this with a very easy tweak, enabling `modules` for the `css-loader`:

[code]

[2022-08-16 16:20] #3376 closed, assigned to nobody

[2022-08-18 02:27] Goodwine commented on #1890
Deprecation added, now waiting on Dart 2.0.0 to implement spec

[2022-08-19 01:31] #2528 closed, assigned to nex3

[2022-08-19 22:32] nex3 commented on #3374
Since this involves a relatively small breaking change, I'll give it a month for public comment.

[2022-08-22 02:59] camila-frangp opened #3379 "Change $var sass in js :confused:"
I need to change the value of a $variable from javascript (react ) according to a function x.
Example:

[code]

For control this:

[code]

I tried using :root but to the sass variables I couldn't assign the value of the css variables  :worried:

[2022-08-22 14:18] blaasvaer opened #3380 "Sass won't recognize @font-face tag?"
Whenever I try to use @font-face in sass it doesn't get added to the compiled output ... the tag is simply ignored.

If I use . instead (just to test that this is not a path issue) it gets compiled just fine.

What am I missing here?

Wrapping in @at-root doesn't make any difference either.

[2022-08-22 20:15] nex3 commented on #3380
We need more information in order to help you with your problem. Which Sass implementation are you using, and version of Sass? What's the Sass source that's not behaving how you expect, what output are you expecting, and what output or error are you getting instead? Please make sure your example is as tightly-focused on the problem as possible, so that it's easy for us to understand what's going o

[2022-08-22 20:18] jathak commented on #3379
This isn't possible, because Sass is compiled at build-time, so Sass variables don't exist within the browser. If you need JS-accessible variables, use [CSS variables](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties#values_in_javascript) instead.

[2022-08-22 20:18] #3379 closed, assigned to jathak

[2022-08-22 20:26] camila-frangp commented on #3379
Thanks @jathak 👍

[2022-08-23 07:25] blaasvaer commented on #3380
`package.json`: "sass": "^1.35.1"

I'm expecting it to output this:

[code]

from this:

[code]
Yes, you're seeing double, 'cause I would expect it to output EXACTLY what I put in – that is, to describe the problem again: it simply won't add the @font-face to the 'compiled' version. But if I replace the @ with a . (period) it outputs just fine ... so, SOMEHOW Sass ignores this specific @ tag.

I'v

[2022-08-23 08:21] blaasvaer commented on #3380
And just for the 'fun' of it, adding a backslash (to escape the @ – \\@font-face) WILL add it to the compilation ... so, in my opinion Sass has a bug that – for whatever reason – wont include @font-face when compiling.

Now, Sass itself uses al sorts of @-tags ... and I'm pretty sure, that somewhere here lies the bug. It somehow simply has issues handling @font-face tags in some cases ... trouble

[2022-08-23 08:24] blaasvaer commented on #3380
And it will ALSO ADD @fontface (when leaving out the dash) ... so, Sass DOES have issues with @font-face tags.

[2022-08-23 08:47] blaasvaer commented on #3380
When adding the escaping backslash it will ONLY import the first one (that is, with the slash of course). It won't include the rest ... so, at this point Sass simply suck!

[2022-08-23 10:33] blaasvaer commented on #3380
Looking for an alternative solution, thanks.

[2022-08-23 10:33] #3380 closed, assigned to nobody

[2022-08-23 11:25] blaasvaer commented on #3380
After some more digging and implementing alternate solutions ... it turned out to be 'gulp-cssnano' being the bugger. Changed it for gulp-postcss and cssnano ... fixed the issue.

This ran after sass and obviously screwed things up ... just weird it is working on the other project. Same version, same everything ... well, there's development for you.

[2022-08-23 12:23] MohamedLamineAllal commented on #1704
`node-sass` behavior was different than that. I worked to port SnippetStore (I'm not the author) to a newer version of electron. To support apple silicon (arm64). And part of the porting, I had to remove `node-sass`. And replace it with `sass`. And what was working stopped working.

https://github.com/ZeroX-DG/SnippetStore/blob/f2788f24785d83d688afe37f2328830fe346ec79/browser/render/lib/styles/uti

[2022-08-24 14:53] afshinm opened #3381 ""importer" function is not called for dependencies of dependencies"
I'm using the [`importer` option](https://sass-lang.com/documentation/js-api/interfaces/LegacyStringOptions#importer) to define a custom importer function, but it seems like this function is not called for dependencies of dependencies.

For example:

[code]

[code]

In this example, the `importer` function is called _once_ for the `second.scss` import, and not `fonts.scss` and `normalize.scss` imp

[2022-08-24 15:09] Daijobou opened #3382 "Feature-Request: function HEX to filter for svg"
To color a background-image svg-file, its not working with **fill**, **stroke** or **color**, but you can use **filter**:

I would like in sass a function that convert hex-code to filter.

Sass:

CSS:

Source: https://codepen.io/sosuke/pen/Pjoqqp

Currently the only way I found is to embed svg in css, what makes the css-file big.

[2022-08-25 17:45] kwolk opened #3383 "Refactor semi-colons away"
Newer languages like Swift have done away with semi-colons at the end of a line, isn't it time to refactor that away ?

[2022-08-25 22:00] nex3 commented on #3383
If you'd like to write CSS without semicolons, Sass supports a [whitespace-sensitive indented syntax](https://sass-lang.com/documentation/syntax#the-indented-syntax) that doesn't use them. For the SCSS syntax, we're strictly beholden to compatibility with CSS.

[2022-08-25 22:00] #3383 closed, assigned to nobody

[2022-08-25 22:09] kwolk commented on #3383
Thanks for the info, I just came across this.

My understanding is that it spits out the CSS at the other end, so I would expect it to be added then.

It was just for the SASS environment.

[2022-08-26 10:38] afshinm commented on #3381
I just realised I have to create this issue under the `sass/dart-sass` repo. Closing this ticket.

[2022-08-26 10:38] #3381 closed, assigned to nobody

[2022-08-26 17:17] vrbajaroslav commented on #3091
Thanks, i am trying this out. How your "colors.scss" file looks like?

[2022-08-29 20:01] luciancaetano opened #3385 "functions are not called in custom css properties"
When i use a function in value of custom css properties the function is not compiled.

[code]

I just tested in my project and on https://www.sassmeister.com/

I use sass https://www.npmjs.com/package/sass 1.54.0

[2022-08-29 20:27] nex3 commented on #3382
We try to keep the core libraries narrowly focused on things that most Sass users need, but this sounds like a great thing to write as a custom function in a Sass library!

[2022-08-29 20:37] nex3 commented on #1704
Node Sass's behavior is outdated here, and in fact the unreleased Node Sass 4.0.0 has the correct behavior instead. This behavior was intentionally changed [more than five years ago](https://github.com/sass/sass/issues/1778).

[2022-08-29 22:30] nex3 commented on #1950
The proposal has landed. We'll keep it open for comment for a month, then land it.

[2022-08-30 04:27] cpoftea commented on #3385
You should interpolate expressions in custom properties declaration

[code]

[2022-08-31 21:54] nex3 commented on #2892
[The proposal](https://github.com/sass/sass/blob/main/proposal/floating-point.md) is now out for review. I'll give it two weeks before we mark it as accepted and move on to implementation.

[2022-09-01 08:30] stof opened #3386 "Clarification about math variables"
Regarding https://github.com/sass/sass/blob/main/proposal/floating-point.md#variables, should the compiler provide `$pi` and `$e` as `3.141592653589793` and `2.718281828459045` or should it provide the higher-precision value available in the implementation language, to avoid rounding errors in computation ?
For instance, in JS, `Math.PI` provides a higher precision. The same is true in PHP with th

[2022-09-01 08:47] stof commented on #3385
This is the expected behavior. See https://sass-lang.com/documentation/style-rules/declarations#custom-properties

[2022-09-01 08:52] stof commented on #3247
@nex3 is there any plan to turn this idea into an actual proposal ?
As I'm started to work on the importer-part of the scssphp 2.0 architecture, I'm wondering whether I should take those ideas into account.

[2022-09-01 21:30] interlinc-jpeichoto commented on #3269
I am seeing the same issue. Not sure that I understand the above though. What do you need from me to be able to assist? Many thanks

[2022-09-02 06:02] benbcai commented on #3256
Are there any updates on this issue?

I have a project using sass@1.54.8 with Node 14 and everything seems to work fine. When I upgraded to Node 16, my project is now hanging indefinitely during webpack. There are no error messages, it just hangs forever. If I switch from sass back to node-sass and still on Node 16, then everything started working again.

[2022-09-02 20:05] josh-hernd opened #3388 "Map variables formatting error"
This is the initial way i ran into the problem, i was reading [dev.io ](https://dev.to/khayden73/creating-a-css-color-palette-from-sass-variables-14fo) article on how to create Color Palettes.

Mapped variables do not work with style.sass when formatted, although it works fine without formatting(single line variable).
I am well aware that mapped variables work in style.scss but it would be ideal k

[2022-09-02 23:16] nex3 commented on #3386
The examples there are in blockquotes, indicating that they're not normative—the specified requirement is "the closest possible double value approximation". However, I think those are the closest approximations—running `Math.PI == 3.141592653589793` in JS returns `true`, for example.

[2022-09-02 23:16] nex3 commented on #3247
Yes, I definitely want to do this at some point to help `sass-loader` out—I just haven't had the time yet.

[2022-09-03 10:23] JulianMelzig commented on #3371
Did you solve the issue ?

[2022-09-04 09:39] DungGramer commented on #3091
It's normal scss variable file. Like this:
[code]

After using `add-css-variables($colors)`, You can using 1 of 2 ways below for using variable.
1. Using SCSS variable
[code]
2. Using CSS variable
[code]

[2022-09-06 20:26] #3385 closed, assigned to nobody

[2022-09-06 20:26] #3382 closed, assigned to nobody

[2022-09-06 20:26] jathak commented on #3388
Duplicate of #216.

In the meantime, you can use the SCSS syntax if you want to have expressions span multiple lines.

[2022-09-06 20:26] #3388 closed, assigned to jathak

[2022-09-06 20:34] nex3 commented on #3256
@benbcai It's likely that you're also hitting a recursion limit somewhere. Can you narrow down which part of your Sass code is the culprit by deleting things until the failure stops happening? It'll be much easier to help you if you can.

[2022-09-06 20:36] jathak commented on #3269
@interlinc-jpeichoto This is a great question for the [Sass StackOverflow community](https://stackoverflow.com/questions/ask?tags=sass)! We try to keep this issue tracker focused on bugs and feature requests that need the core team's attention in particular, while requests for support are usually better handled by the community at large. To get a helpful answer from StackOverflow, I'd encourage yo

[2022-09-10 10:17] AndreasJilvero commented on #2875
It's crazy that this is not supported. I'm using dynamic imports for the JS and CSS of my components, but a lot of the content in the CSS is just duplicated CSS rules. A way to implicitely import (or `@expects` like the author mentioned) would be super useful.

[2022-09-13 02:08] nex3 commented on #1912
Plenty of time has passed and the migrator plugin has landed so I'm going to mark this accepted and get to work on the implementation.

[2022-09-19 08:46] LiHongxiang1993 commented on #1645
.foo {
    &#{&}_bar:hover {
        color: red;
    }
}
worked for me!
wonderful!

[2022-09-21 21:13] nex3 commented on #2831
The proposal is now officially out for public comment. I'll leave it up for a month before we begin landing the implementation.

[2022-09-22 12:53] Zylvian opened #3397 "Example of project structure after migrating from @import to @use"
After using the sass migrator to start implementing @use as opposed to @import, I'm unsure of the project structure of my  projects.

Is there a point to having a global import file - as a lot of projects have - if all individual .scss files import variables individually?
Furthermore, when having nested files, I have to keep track of the directory structure to correctly import files (such as `@use

[2022-09-23 01:20] luiscla27 commented on #3258
I think this enhancement is _a kind of_ dup of  #2954

(I was looking for [general purpose constants](https://github.com/sass/sass/issues/3398) but found yours and the suggested dup instead)

[2022-09-23 01:55] luiscla27 opened #3398 "Make it possible to define constants in SCSS"
I think it would be great to be able to tell developers "this variable is a constant". [Benefits of using constants](https://www.campbellsci.com/blog/using-constants-crbasic) variables [are well known in many languages](https://realpython.com/python-constants/#why-use-constants). So, please consider it.

The suggested syntax would be the typescript assertion [`as const`](https://stackoverflow.com/

[2022-09-23 21:08] nex3 commented on #3258
They're different—https://github.com/sass/sass/issues/2954 would add support for `math.$infinity`, `math.$negative-infinity`, and `math.$nan` (`math.$pi` and `math.$e` already exist). This would add support for `calc(infinity)`, `calc(-infinity)`, `calc(NaN)`, `calc(pi)`, and `calc(e)`.

[2022-09-26 14:57] ravianand1988 opened #3399 "How to override a SASS/SCSS function with new module structure?"
I have added a question on [StackOverflow](https://stackoverflow.com/questions/73855793/how-to-override-a-sass-scss-function-with-new-module-structure). However, I am a little desperate for the answers/responses. Therefore raising it here too. :pray:

[2022-09-26 20:33] nex3 commented on #3398
Duplicate of #3171.

[2022-09-26 20:33] #3398 closed, assigned to nobody

[2022-09-28 01:36] nex3 opened #3400 "Color spaces proposal is inconsistent about quotes on color name inputs"
As written, the color spaces proposal (https://github.com/sass/sass/issues/2831) has some inconsistencies about whether it allows quotes in space names passed in by the user. For example, `color.to-space()` first checks if `color.space($color) == $space`, which is a quote-insensitive comparison, but [Looking Up a Known Color Space](https://github.com/sass/sass/blob/main/proposal/color-4-new-spaces

[2022-09-28 01:39] nex3 opened #3401 "Unknown color spaces should always be compared case-insensitively"
In the color spaces proposal (https://github.com/sass/sass/issues/2831), the definition of `color.to-space()` currently compares the input space with `color.space($color)` using `==`. This isn't a case-insensitive comparison, which means that `color.to-space(color(unknown 1 2 3), UNKNOWN)` will fail. [CSS serialization](https://www.w3.org/TR/css-color-4/#serializing-color-function-values) indicate

[2022-09-28 01:45] custardcream98 opened #3402 "Incorrect comment on document's 'Equality' part"
https://sass-lang.com/documentation/operators/equality

In the codeblock below, it says `@debug 1 != 1px; // true` but I've found that it's not.

We should correct this. 😁

[2022-09-28 04:06] khv2644511 opened #3403 "Incorrect comment on document's 'Numeric Operators' part"
[(https://sass-lang.com/documentation/operators/numeric)](https://sass-lang.com/documentation/operators/numeric)
In the code block below, it says `@debug 5px * 3px; // 15px*px `
 but It's actually printed 'error' message.

please, take this into consideration :)

[2022-09-28 04:15] custardcream98 commented on #3402
moved to [sass-site](https://github.com/sass/sass-site)

[2022-09-28 04:15] #3402 closed, assigned to nobody

[2022-09-28 17:30] gma commented on #2144
Is it? I always found it very obvious what adding two colours together would do. So far I'm 15 minutes in to trying to find out what the current Sass API is for the alternative. It hasn't been explained well anywhere on any of the links I've followed yet, and the code I've tried to copy and paste isn't working.

We can't assume that people who are having to deal with deprecations like these are fa

[2022-09-28 20:43] mirisuzanne commented on #3400
I think we should start by requiring unquoted strings, to match CSS. Since quotes will throw an error, we can revisit if there seems to be a good reason later.

[2022-09-29 00:33] nex3 commented on #3400
That sounds good to me.

[2022-09-30 01:49] nex3 opened #3404 "Color Spaces: Units in color channels"
The current definition of colors says that channel values are floating-point—that is, they're stored without reference to a unit. However, there's no explicit conversion from Sass numbers (which may have units) to floating-point numbers (which may not) either in [Parsing Color Components](https://github.com/sass/sass/blob/main/proposal/color-4-new-spaces.md#parsing-color-components) or [`color()`]

[2022-09-30 02:20] nex3 opened #3405 "Color Spaces: forbid some known spaces from color() syntax"
Currently, the spec allows the `color()` syntax to be used for _any_ known color space. However, the CSS spec only defines support for spaces that don't have their own syntax; for example, `color(rgb 50 100 150)` is invalid CSS, as is `color(lab 0.5 0.5 0.5)`. In the interest of not muddying the waters or getting ourselves into a forwards-incompatible position, we should probably throw an error if

[2022-10-03 19:05] jathak commented on #3397
Since members from a `@use`-d file are only accessible in the file that uses them, the pattern of having a global import that is used everywhere isn't really possible in the module system. You could have a module that is `@use`-d in most (or all) other files, but you will need to have a `@use` rule to make it explicit each time (this is by design, as we want it to always be clear where members are

[2022-10-03 19:05] #3397 closed, assigned to jathak

[2022-10-03 20:38] #3403 closed, assigned to jathak

[2022-10-03 21:16] ieris19 opened #3407 "Merge equal selectors on output"
So, I am fully aware that in the past, features to optimize compiled Sass have been rejected in favor of more specialized tools as mentioned in issue #2464, however, as a new user of Sass I am baffled that the feature I am about to propose is not yet implemented.

I believe Sass should merge identical selectors. This means that the compiler should behave as follows:

`input.scss`
[code]

`output.c

[2022-10-03 21:21] nex3 commented on #3399
One of Sass's broad design pillars is that it's not a priority for us to allow libraries to be used in a way their authors didn't expect or intend. This includes forcibly overriding functions—how those functions get called within a library is an implementation detail, and not something users should be relying on in the first place.

If a library *wants* to expose customizability though user-define

[2022-10-03 21:21] #3399 closed, assigned to nex3

[2022-10-03 23:01] #2892 closed, assigned to nex3

[2022-10-03 23:18] nex3 opened #3409 "Color Spaces: Be explicit about how to handle out-of-gamut HSL/HWB colors"
The color spaces proposal (#2831) currently contains no logic to ensure that out-of-gamut HSL and HWB colors aren't produced. The summary says that these color spaces aren't able to represent out-of-gamut colors, but neither the [Validating a Color Channel](https://github.com/sass/sass/blob/main/proposal/color-4-new-spaces.md#validating-a-color-channel) nor the [Converting a Color](https://github.

[2022-10-04 00:19] nex3 opened #3410 "Color Spaces: Channel indexes should respect reverse-indexing"
Since the color spaces proposal (https://github.com/sass/sass/issues/2831) uses 1-based channel indexes for new color space functions, it should probably follow the other Sass indexing convention: that negative numbers index from the back of the list. You probably don't need to explicitly describe this; just say they're "Sass-style indexes" and we'll act like that's a well-defined term elsewhere i

[2022-10-04 01:17] nex3 opened #3411 "Color Spaces: Should color interpolation method require "in"?"
The color spaces proposal (https://github.com/sass/sass/issues/2831) currently defines the syntax for a [Color Interpolation Method](https://github.com/sass/sass/blob/main/proposal/color-4-new-spaces.md#color-interpolation-method) to always begin with "in ". This makes sense in the CSS mix syntax, where you need a separator to indicate the separation between the colors themselves and the interpola

[2022-10-04 15:29] MohammadYounes opened #3412 "Referencing first element in adjacent selector combinator"
I have a complex case in which I need to reference the first element in an adjacent selector combinator.  The simplest form of the case goes as follows:

[code]
Generates

[code]

Is there a way to make it generate ?

[code]

[2022-10-04 21:46] nex3 opened #3413 "Color Spaces: hue interpolation should respect weight"
The method that the color spaces proposal (https://github.com/sass/sass/issues/2831) currently specifies for [hue interpolation](https://github.com/sass/sass/blob/main/proposal/color-4-new-spaces.md#hue-interpolation) doesn't take a "weight" parameter and doesn't explicitly indicate how to linearly interpolate between the two angles supplied by the various hue interpolation algorithms.

[2022-10-04 22:16] nex3 opened #3414 "`color.mix()` shouldn't clamp weight"
The color spaces proposal (https://github.com/sass/sass/issues/2831) currently specifies that the `$weight` parameter for `color.mix()`, in both legacy and new mode, is clamped between 0 and 1 after being percent-converted. This actually makes the logic more lax than the current implementation, which throws an error if `$weight` is outside the 0-100 range. Given that the CSS draft spec for `color-

[2022-10-05 00:24] nex3 opened #3415 "Color Spaces: color.invert() handles $weight in reverse"
The color spaces proposal (https://github.com/sass/sass/issues/2831) defines [`color.invert()`](https://github.com/sass/sass/blob/main/proposal/color-4-new-spaces.md#colorinvert) with a definition that ends with a call to `color.mix(invert, color, $weight, mix-space)`. But since `$weight` defaults to `100%`, this means that by default it will return _the original color_ rather than the inverted co

[2022-10-05 00:29] nex3 commented on #3415
Another issue with the same function: currently, it's invalid to run `color.invert($color, $space: display-p3)` even though this has a well-defined output, because `display-p3` isn't a supported interpolation space. I think the definition should have explicit early-exit clauses if `$weight == 0%` or `$weight == 100%` so that you can pass in those color spaces when mixing isn't necessary.

[2022-10-07 00:25] thecodechef opened #3416 "[Feature Request]: new syntax for variable interpolation"
could we see if this is possible for SASS/SCSS
[code]
 - to - <br />
[code]
just taking page out of LESS's playbook thats all

[code]

[2022-10-08 00:32] nex3 opened #3417 "Color Spaces: Support legacy behavior for color.change/adjust/scale"
Like all color functions, `color.change()`, `.adjust()`, and `.scale()` historically treated RGB, HSL, and HWB colors as interchangeable. As currently specified in the color spaces proposal (https://github.com/sass/sass/issues/2831), though, any color channels that aren't in a color's space throw errors. To preserve backwards-compatibility, this should allow the any RGB, HSL, and HWB channels to b

[2022-10-08 01:13] nex3 commented on #3409
Another wrinkle to consider here: the definition for `color.adjust()` uses the "Validating a Color Channel" procedure, but it _should_ allow negative values for lightness *et al*.

[2022-10-08 01:51] nex3 opened #3418 "Color Spaces: Should a and b be scalable?"
The color spaces proposal (https://github.com/sass/sass/issues/2831) currently explicitly marks the a and b channels of the lab and oklab color spaces as not scalable, since their minimum values are negative mirrors of their positive values instead of being zero. However, we _could_ meaningfully define scaling here as a linear scale between min and max instead of between zero and max.

In mathemat

[2022-10-11 10:22] GDGHD-123 opened #3419 "Use compileString to report errors"
import sass from "sass"

try{
        const result = sass.compileString(`
h1 {
  font-size: 40px;
  code {
    font-face: Roboto Mono;
  }
}`);
console.log(result.css);
    }catch(err){
        console.log(err,"-----------");
    }
//I use it in the vue 3.0 project

But the browser returns

cjs.js?40c3:52 TypeError: Cannot read properties of undefined (reading 'isTTY')
    at Object.compileString0

[2022-10-11 10:23] #3419 closed, assigned to nobody

[2022-10-11 10:24] GDGHD-123 opened #3420 "Use compileString issues"
import sass from "sass"

try{
const result = sass.compileString(
`
h1 { font-size: 40px; code { font-face: Roboto Mono; } }
`
);
console.log(result.css);
}catch(err){
console.log(err,"-----------");
}
//I use it in the vue 3.0 project

But the browser returns

cjs.js?40c3:52 TypeError: Cannot read properties of undefined (reading 'isTTY')
at Object.compileString0 (sass.dart.js?eaa0:17462:1)
at Sta

[2022-10-11 10:25] #3420 closed, assigned to nobody

[2022-10-11 10:32] GDGHD-123 opened #3421 "test"
![image](https://user-images.githubusercontent.com/53597925/195067701-6eff9477-b323-4f21-8126-057c3fa99d2f.png)

[2022-10-11 10:32] #3421 closed, assigned to nobody

[2022-10-11 10:36] GDGHD-123 opened #3422 "Use compileString issues"
I want to try
![image](https://user-images.githubusercontent.com/53597925/195068180-53cdbcc5-6521-4e56-bd83-be1b9f7b8b5d.png)
but
![image](https://user-images.githubusercontent.com/53597925/195068075-85efcc3d-789e-4b72-a77f-71a7d907f52c.png)

Try it in a vue 3.0 project

[2022-10-11 20:44] nex3 commented on #3422
Sass doesn't currently support running in a browser. See https://github.com/sass/dart-sass/issues/25.

[2022-10-11 20:44] #3422 closed, assigned to nobody

[2022-10-11 20:45] nex3 commented on #3416
We're very happy with the existing syntax for variable interpolation, and don't see a compelling reason to add anything new.

[2022-10-11 20:45] #3416 closed, assigned to nobody

[2022-10-11 20:47] nex3 commented on #3407
Please don't open a new issue that you know is requesting the same thing as an issue that's already been closed.

[2022-10-11 20:47] #3407 closed, assigned to nobody

[2022-10-11 21:11] jathak commented on #3412
The functions in the [`sass:selector` module](https://sass-lang.com/documentation/modules/selector) allow this.

To get the output you want here, you could do something like:
[code]