[2015-11-24 18:07] HamptonMakes commented on #1912
ooof! That's pretty not-fun to have to track down in production code.

Does that happen in compressed mode, or just standard, like you show in your example?

[2015-11-24 18:13] cimmanon commented on #1912
If you add parentheses, it doesn't do that:

[code]

Note that you should be doing this to prevent the expression from being evaluated as subtraction rather than negation.

# Without parentheses

[code]

Output:

[code]

# With parentheses

[code]

Output:

[code]

[2015-11-24 18:23] davidkpiano commented on #1912
@cimmanon Yes, but that's counter-intuitive - you shouldn't need to add parentheses.

These should all produce the same result:

[code]

[2015-11-24 18:24] akaScooter commented on #1912
@hcatlin : it happens in standard, just like I showed. :(

@cimmanon : thx! that does work as well. However, I still consider it a bug because Sass is not treating `auto` as either a value or a variable — the problem may not come from Sass trying to perform an evaluation (as in your example), because no subtraction was performed.

[2015-11-24 18:25] akaScooter commented on #1912
@cimmanon and I was just about to point out what @darvishzadeh just wrote about the counter-intuitive-ness of it. Syntactically, I don't think you should need the parenthesis.

[2015-11-25 02:06] nex3 commented on #1778
I've run into another case that needs to be considered here: expressions that are adjacent to interpolation without any whitespace intervening.

| SassScript | ESI | CSS |
| --- | --- | --- |
| `a#{b}` | ``` `a#{b}` ``` | `ab` |
| `$var#{b}` | ``` `#{$var}#{b}` ``` | `valueb` |
| `(1 + 2)#{b}` | ``` `#{1 + 2}#{b}` ``` | `3b` |
| `#{b}a` | ``` `#{b}a` ``` | `ba` |
| `#{b}$var` | ``` `#{b}#{$var}` `

[2015-11-25 03:01] darvi-sh commented on #1912
@akaScooter, I think you meant @davidkpiano

[2015-11-25 08:20] olferuk commented on #1768
@endoplasmic thanks man :)

[2015-11-25 15:11] scottkellum opened #1913 "Allow min() and max() to accept lists"
Currently `min()` and `max()` only accept arguments. However this can be confusing as arguments are formatted the same way as a list.

As a result I expected `min()` and `max()` to take lists in variable form like `min($list)` but this throws an error. While `min($list...)` works in Ruby Sass (LibSass has a bug with passing arguments in as `...`) it would be more clear to have these functions pars

[2015-11-25 15:30] andrew-skybound commented on #1831
Since browser support for nested `@media` queries is not ubiquitous, how about requiring the "not" keyword to appear on either _all_ media queries in a rule (if the parent has it) or on _none_ of them (if the parent does not).  That would make the intent explicit, and future-proof the style sheet for the day when manually nesting `@media` rules is no longer necessary.

Not nesting media queries _s

[2015-11-25 20:15] mgreter opened #1914 "Division by zero sometimes produces strange errors"
The following sample:

[code]

Produces this error message:

[code]

Which is not very helpfull. IMO it should produce the same as `1 % 0`:

[code]

Although the message is kind of redundant ;)

Might be related to http://pjkh.com/articles/ruby-argumenterror-comparision-of-fixnum-with-float-failed/
Since it seems to be a native ruby error, there is no position indication, which would help even mor

[2015-11-26 11:20] perfey opened #1915 "-(50px/2)"
sass
background: url(../img/xxx.png) no-repeat -(50px/2) 0;
to css
background: url(../img/xxx.png) no-repeat-25px 0;

error, loss of space. The following is correct:
background: url(../img/xxx.png) no-repeat -25px 0;

[2015-11-26 13:53] AnderUstarroz commented on #1768
+1 @endoplasmic,  you are definitely the hero of this thread. Cheers

[2015-11-26 15:55] cimmanon commented on #1915
Duplicate of https://github.com/sass/sass/issues/1912

[2015-11-27 13:12] Kofaka commented on #1768
Thanks @endoplasmic and @jgacuca567 :) You just saved a ton of my time!

[2015-11-27 14:28] helarqjsc commented on #1582
Are there any plans on implementing it or it was abandoned?
I've been trying to implement a mixin that will allow you to use media queries in any place and have them combined in the end of the resulting .CSS file. It works, but the syntax is not exactly pretty: https://github.com/helarqjsc/SASS-mixin-joined-media-queries/blob/master/example.scss
Being able to put `@content` into a variable would r

[2015-11-27 21:06] chriseppstein commented on #1914
I intend to deprecate math operations with colors, so polishing the error messages isn't really worth the effort.

[2015-11-27 21:06] #1914 closed, assigned to nobody

[2015-11-27 21:08] chriseppstein commented on #1913
@scottkellum what behavior would you expect if two lists of numbers were passed? Max over all of them? Error? A list of maximums?

[2015-11-28 01:20] scottkellum commented on #1913
@chriseppstein I expect this:

[code]

To return `6`.

[2015-11-28 03:02] davidkpiano commented on #1913
This probably doesn't help, but you can do this [in Sassdash](http://davidkpiano.github.io/sassdash/sassdoc/index.html#function-_min): `_min($list);` (returns 6)

Just for comparison:
- JS: `Math.min(1, 2, 3)` accepts multiple arguments, not an array/list
- Ruby: `[1,2,3].min` not a function but accepts a list
- Python: `min(1, 2, 3)` also accepts multiple args but not an array/list

I think it's

[2015-11-28 04:09] xzyfer opened #1916 "Always output Sass values in error messages in expanded style"
Related to https://github.com/sass/sass-spec/issues/627

I would like to requested that Sass values in error messages to always be output in the expanded style, or alternatively as authored. This is not the case currently.

[code]

[code]

[2015-11-29 14:32] saeedtavoosi commented on #216
+1

[2015-11-30 17:57] cimmanon commented on #1913
@scottkellum Chris is asking about this case:

[code]

For what it's worth, Haskell only allows 2 arguments to be passed to the `min` function (eg. `min 1 2`). Lists must be passed through the `minimum` function (eg. `minimum [1, 2, 3, 4 ,5]`), and lists of lists are allowed:

[code]

I don't see the benefit to expanding min/max to accept lists when Sass already offers a construct to expand a list

[2015-11-30 18:04] chriseppstein commented on #1913
@cimmanon I agree that a documentation change is a minimally sufficient response to this issue for the current release.

But I also want Sass to be intuitive -- having to read docs for **common operations** means that we have failed to "Just Work" and the principle of least surprise is what we endeavor to adhere to for all our APIs.

[2015-11-30 18:07] scottkellum commented on #1913
@cimmanon Oh, that can throw an error for sure. Multi dimensional lists certainly seem like invalid inputs for this, as do strings and other things that aren’t comparable values.

I created this issue because I assumed lists of numbers would work. Apparently it is currently implemented the way many other languages are implemented and because I don’t have much of a programming background I was not

[2015-12-01 16:59] harrislapiroff commented on #216
+1. I've started a bounty on this issue. I put $15 on it. I hope others will do the same! https://www.bountysource.com/issues/395405-multiline-expressions-in-indented-syntax

[2015-12-01 18:22] scottbaggett commented on #216
I've added $30 to the bounty bringing it up to $45. Let's get this done!

[2015-12-01 18:40] lolmaus commented on #216
Another $5 from me, $50 total.

[2015-12-01 21:32] chriseppstein commented on #1912
The fact that there is no space between the minus operator and the variable is irrelevant to the Sass parser. whitespace is optional except where the dash would be interpreted as part of the identifier. So Sass sees `0 auto - $value`.

Very early in Sass's development we went out of our way to define all binary operators for all types of operands even where the implementation is a bit of a stretch

[2015-12-01 21:32] chriseppstein commented on #1915
Please see my comment on #1912

[2015-12-01 21:32] #1915 closed, assigned to nobody

[2015-12-01 21:38] chriseppstein commented on #1912
@nex3 Thoughts on changing the parsing of binary operators to require a surrounding space and forcing unary operands to never allow a space at 4.0? We can have sass-convert take care of the expressions and re-parenthesize them during the upgrade process.

[2015-12-02 07:23] uiuco commented on #1768
+1 @endoplasmic and @jgacuca567

[2015-12-02 09:58] hvintik opened #1917 "ss watch"

[2015-12-02 09:58] #1917 closed, assigned to nobody

[2015-12-02 10:58] sergej2705 opened #1918 "Using 2 variables in a String leads to wrong compilation"
I have following code:

[code]

see full example on http://sassmeister.com/gist/3e9f961fd8eb4b3cc074

after compiling the SCSS I get

[code]

so after the first variable `#{$gray}` the quotation mark isn't `\"` but `'` and before the second variable `#{$gray-light}` it's the same. The generated CSS is not valid because of this.

Is this a SASS compilation-error?

[2015-12-02 12:09] cimmanon commented on #1918
That looks like an issue with LibSass, you should file a bug report with that repo.

Output with the Ruby Sass compiler:

[code]

Also relevant: https://github.com/sass/sass/issues/1642

[2015-12-02 12:34] sergej2705 commented on #1918
I opened an issue in LibSass, thank you for your help.

[2015-12-02 12:34] #1918 closed, assigned to nobody

[2015-12-03 07:39] danielguillan opened #1920 "Sourcemaps pointing to mixin calls instead of definitions"
Source maps become (almost) useless when used alongside mixins that dynamically generate or modify selecctors ([modernizr-mixin](https://www.github.com/danielguillan/modernizr-mixin), [bem-constructor](https://github.com/danielguillan/bem-constructor)) because they point to the mixin definition instead of where it's called.

Is there any way to map to the call instead of the definition?

[code]

[2015-12-03 10:59] chriseppstein commented on #1920
I don't know how we would do this. What if the mixin defines two or more selectors? Why should the first one be different than the subsequent ones? What if the mixin defines just properties? The concept of the mixin is removed from the css file, so there's not an artifact left to attach the sourcemap information about the call site to. In theory, we could have an option to leave a comment in the o

[2015-12-03 11:00] chriseppstein commented on #1916
Why are we testing error messages in compressed mode?

[2015-12-03 12:10] xzyfer commented on #1916
Valid question. /cc @mgreter @saper. Also seems strange to me. IIRC it's something @mgeter stumbled across in testing with perl-libsass. I'm not convinced there's a valid usecase for this in sass-spec.

[2015-12-03 12:19] abose opened #1921 "[question] SCSS only displays one error in a page"
Hi,
 We were creating an SCSS extension for https://github.com/adobe/brackets . The main aim is that we would be able to display `all` scss errors in the page in the lint panel.
  However, when i compile a file with many SCSS errors using `SASS test.sass -c` ; the check stops as soon as the first error is seen. Is it by design or is there a way to list all the errors in the sass file?

[2015-12-03 12:42] mgreter commented on #1916
Well, it simply isn't consistent between ruby sass and libsass in compressed mode now. Not sure what else to say about, but it doesn't seem to be consistent (IMO ruby sass also ignores users settings like precision in errors and also with inspect results). BTW. perl-libsass catched that error while regenerating the error specs, since it is not defined which mode should be master if we only want to

[2015-12-03 12:44] mgreter commented on #1916
@chriseppstein can you make a statement whether errors, warnings and/or inspect should ignore user settings or not? Would be helpful to know that, since I'm currently relying on trial and error here and always unsure if something like this is a ruby sass bug or a libsass issue!?

[2015-12-03 15:12] chriseppstein commented on #216
It would be really great if we could make the indented syntax parser a simple pre-parsing step before handing it off to the SCSS parser.

[2015-12-03 15:26] chriseppstein commented on #1582
@helarqjsc Things move slowly here in Sasslandia. We close issues when we decide not to do them. Right now, what we need is a design for how to represent the css abstract syntax tree as Sass values. That design needs to be very flexible, and also very user friendly.

Then what we need is an API that is efficient at mutating that AST -- all of the current Sass APIs really are quite bad at mutating

[2015-12-03 16:39] HamptonMakes commented on #216
Kind of like how libsass does it?

—
Sent from Mailbox

On Thu, Dec 3, 2015 at 7:12 AM, Chris Eppstein notifications@github.com
wrote:

[2015-12-03 16:52] chriseppstein commented on #216
@hcatlin I've not read the details of that implementation yet, so I can't say for sure. But, at a high level, yes. This was the idea I floated for supporting the indented syntax during when we created SCSS, but @nex3 had some reservations about the implementation I suggested. I have since had some ideas that would not have the downsides that my original implementation approach would have had.

[2015-12-03 19:28] Technolink commented on #818
+1 support as well

[2015-12-03 19:56] chris-lock opened #1922 "Improper substitution of `black` with `outputStyle: compressed`"
[code]

expanded

[code]

compact

[code]

compressed

[code]

[2015-12-03 21:35] cimmanon commented on #1922
Duplicate of https://github.com/sass/sass/issues/1256

[2015-12-03 21:47] davidkpiano commented on #1922
@chris-lock To fix, use `@include test('black')`, where `'black'` is a quoted string instead of a color value.

[2015-12-03 22:15] cimmanon opened #1923 "Extending with dynamically generated selectors containing the same name takes forever"
Came across this code yesterday and Sass will never finish compiling it (the user who had the problem claims that it sometimes made Sass crash):

[code]

On the surface, it doesn't look like an infinite loop, but it certainly behaves like one.  If you turn the inner loop down to 2, it compiles but it's not clear to users why there's an issue.  Here's the output:

[code]

[2015-12-04 07:49] biuxbiu opened #1924 "Im loving it :grimacing::grimacing::grimacing:"

[2015-12-04 13:29] Friend-LGA commented on #1094
+1 for LESS like `import (reference) "filename"`

[2015-12-04 20:29] nex3 commented on #1912
@chriseppstein That sounds good if we can come up with a close-to-bulletproof strategy for deprecation warnings. Can you work on that?

[2015-12-04 20:47] #1868 closed, assigned to nobody

[2015-12-05 00:28] #1924 closed, assigned to nobody

[2015-12-05 00:29] nex3 commented on #1910
Closing this out after talking it over on the pull request.

[2015-12-05 00:29] #1910 closed, assigned to nobody

[2015-12-05 04:14] jlukic commented on #1094
Life's tough...

[2015-12-05 09:10] saas786 commented on #1094
I would also like something similar for variables:

**+1**

[code]

and inside some other file which imports after "variables" file

I wish I could do something like this:

[code]

so by default it works how its already implemented in sass,

but if I want to override some variable after its been already defined, I still could do it.

[2015-12-05 20:47] matthewhirsch commented on #1768
@endoplasmic much appreciated!

[2015-12-06 07:29] jt4000 opened #1925 "About SASS"
I don't understand about SASS.

What is the benefit of using SASS to in order to improve a website's front-end code?

Thank you!

[2015-12-06 11:57] koenpunt commented on #1094
Overriding variables after definition is already supported with `!default`.

E.g.;

[code]

[code]

results in

[code]

[2015-12-06 13:40] ghost commented on #1925
**(Edit: I just learned that it's spelled Sass, not SASS).**

@jt4000 Sass and SCSS help you writing less code that you can then reuse. The idea behind it is that you don't "specify" a stylesheet but "program" it, using concepts like variables, mixins (similar to user-defined functions) and proper functions.

Let's say you designed a site. It's good, right? The stylesheet however is up to 17324 li

[2015-12-06 13:43] EverybodyKurts commented on #1925
Hi JT,

Sass has plenty of great features like variables, mixins, and built-in functions that css simply does not have. There are also plenty of popular libraries built on top of Sass, including Compass http://compass-style.org/, Suzy http://susy.oddbird.net/, and Bourbon, https://github.com/thoughtbot/bourbon.

A great starting point would be the official sass guides at http://sass-lang.com/guide

[2015-12-06 15:48] cimmanon commented on #1925
Please, this is an issue tracker, not a discussion group.

[2015-12-06 22:12] KittyGiraudel commented on #1913
The problem is that a multi-dimensional list is still a list, and that would make the function fail on some lists, but not all of them. I find it even more confusing.

[2015-12-06 22:37] justinskolnick commented on #1925
@cimmanon It's both. Github is part social network.

When I was starting out, I had no idea who to turn to for help. I love that there's a place where newbies get to talk to professional developers about code -- even if they're technically misusing an issue tracker to do it. I'd have done the same.

[2015-12-06 23:51] EverybodyKurts commented on #1925
I agree with Justin. Let's remain friendly, inviting, and forgiving to new users. We all came from somewhere. Also, if you ping Chris Eppstein on twitter, he's okay with using github issues as support for the sass repo.

[2015-12-07 03:17] saas786 commented on #1094
Thanks @koenpunt

But I already tried that, and it didn't worked for me.

Using:
"grunt-sass": "^1.1.0",

Although it works in online compiler http://sassmeister.com/

Any clue, why it would not work for me?

[2015-12-07 06:16] saas786 commented on #1094
I did give it another try,

this time I did write some simple scss code, just to verify whether my grunt setup is incorrect or I have some other issue, and for simple code it worked.

Then I did some digging into my code, and found out that if I try override variables after the code file has already been imported (where this variable is going to use), then it will not work.

Note: Ideally it shoul

[2015-12-07 10:36] koenpunt commented on #1094
I think the way this works (can override before usage, and not after) is good, because this way you can use variable names across your project, without inadvertently altering previous usage.

[2015-12-07 11:30] ghost commented on #1925
I agree with @justinskolnick idea of having a place for new people like me to talk with professional developers; I just think that the issue tracker shouldn't be the place. Some people make extensive use of issue trackers by integrating with Trello, Slack, Calendars and a number of other possible integrations to manage projects in an easier way. If @chriseppstein and the contributors for this part

[2015-12-07 11:33] jslegers commented on #1094
@koenpunt

What exactly is the difference between...

[code]

... and...

[code]

[2015-12-07 11:38] p2media commented on #1094
@jslegers This example will output the same.

But the following one...

[code]

... will generate this CSS:

[code]

[2015-12-07 11:39] koenpunt commented on #1094
Not much, but the `!default` is actually used for reverse order.

[code]

[code]

[code]

**Output:**

[code]

So even though `library` is imported later than `vars`, the `!default` flag makes sure that if the variable is already defined, it will not override.

[2015-12-07 12:05] jslegers commented on #1094
So, the expected behavior for ...

[code]

... is ...

[code]

... and  ...

[code]

... is expected to produce ...

[code]

Right?!

And in the first example, the value for `$color` is `blue` instead of `green` because `$color` already had a value when `$color: green !default;` was processed, right?

[2015-12-07 12:36] koenpunt commented on #1094
Exactly, but we're getting off topic here :hankey:

[2015-12-07 17:29] georgeevans1995 commented on #626
Hi, Is this feature getting added any time soon? I have recently stumbled upon some annoying circumstances I can't seem to get around due to this issue.

I have a mixin which needs to call another mixin based on its arguments

@mixin keyframes($name, $strength) {
  @if $name == bounce {
    @include bounce($strength);
  }
  @elseif $name == bounceIn {
    @include bounceIn($strength);
  }
  @elsei

[2015-12-08 09:33] gkrnours opened #1927 "Not polling for change on bsd platform"
Running sass 3.4.19 on openBSD with the --watch flag result in the following message from the listen gem:

The same message is available at [the listen repo](https://github.com/guard/listen#on-bsd).

[2015-12-08 14:31] ModulaShop commented on #626
+1 - in whatever syntax

I would prefer:

[code]

Here's some thoughts why:

It is ugly, for sure - but People are used to it now.
Someone familiar with SASS that wants to archive to call a variable-named mixin would try this first, so it might be easiest if it just works on the first try.

I wouldn't care too much about beginners for this usecase - they most likely won't even think about using su

[2015-12-09 16:08] dehuszar commented on #1094
I wrote a PostCSS plugin (and am working on the next set of features) which emulates LESS's `@import (reference)` set of functionality.  I chose to use my own @reference atRule so as to not overload the @import or @extend plugins, which are written by different authors, and would require too much cross-communication between plugins, but if it's helpful to anyone here, [here it is](github.com/dehus

[2015-12-09 19:28] mscarchilli commented on #1094
+1
For allowing variable names in import.

This would help cleanup the main components partial when working with some frameworks that have a ton of components.

[code]

[2015-12-10 04:06] whmii opened #1928 "Add type forcing function(s)?"
**problem**
I have been recently working on a grid system that uses a significant amount of `calc()` operations. While developing this framework, I've noticed that it is very difficult to force sass to not do calculations when it thinks that it can.

**example**
As an example, I would like to be able to assign a variable like `$foo: string(1px + 1em);`. currently, if I wanted to declare such a var

[2015-12-10 08:19] PokimLee commented on #1768
@endoplasmic you saved my day! thx!

[2015-12-10 23:55] chriseppstein commented on #1928
Note that if you set `$foo: calc(1px + 1em)` this would work fine. `calc(...)` is a kind of quotation for Sass.

I assume that you're not setting it this way for some reason? But that's not really clear in this description, I'd like to understand your use case better.

We have a plan to make variables work better with calc in #818. With that you'd simply set your variable to values involving the c

[2015-12-10 23:58] chriseppstein commented on #1094
@mscarchilli Dynamic imports are complicated because it makes it impossible to statically analyze the Sass files to determine dependencies, and this means we cannot quickly invalidate compilation results. See #739 for a write up on what is required to support that use case (note: it's complicated)

[2015-12-11 00:01] chriseppstein commented on #626
This feature requires that we deprecate all mixins named `mixin`. I will add this deprecation warning to Sass 3.4.x.

[2015-12-11 00:18] chriseppstein commented on #1927
We use the listen gem, so yeah, if they print out a warning, you'll see it. I think if you pass `--poll` with with the `--watch` option it should avoid printing the warning message.

[2015-12-11 00:18] #1927 closed, assigned to nobody

[2015-12-11 00:23] chriseppstein commented on #1925
@cimmanon I put out a call on twitter for someone to reply to this.  It's not user friendly to tell potential new users that they can't ask questions here unless you point them to the right place to do such a thing. And, I can't really think of one. We have a long history of trying to help all users who ask for help on our issue tracker -- even if the core issue is not really about a bug or featur

[2015-12-11 00:23] #1925 closed, assigned to nobody

[2015-12-11 00:32] chriseppstein commented on #1913
@HugoGiraudel I think `min($list...)` and `min($list)` are the same amount of confusing if the list is not comprised solely of numbers.

[2015-12-11 00:35] chriseppstein commented on #1912
@nex3 I can take a swing at it, I'm still learning my way around the nitty gritty aspects of the script parser code.

[2015-12-11 00:42] chriseppstein commented on #1923
This takes 6s to compile on my machine.

I honestly have no idea why a user would reasonably want to produce that output instead of `h1, .h1-style, h2, .h2-style, h3, .h3-style, h4, .h4-style, h5, .h5-style, h6, .h6-style`. I mean, I understand that they are trying to force this class to only be used on headers, but this seems like a technical solution to a human problem.

[2015-12-11 00:43] #1922 closed, assigned to nobody

[2015-12-11 00:47] chriseppstein commented on #1916
@mgreter I won't say "ignore user settings" as that seems overly broad and I'm not sure what all the implications would be, but I can't think of a use case where outputting a value compressed into a warning or error message is desired or helpful for a user who will need to debug their code.

[2015-12-11 06:51] gkrnours commented on #1927
Oh.
I was hoping someone more familiar than I am with sass and Gemfile would be able to write a patch.
Thanks for pointing to `--poll` :)

[2015-12-11 10:17] entozoon opened #1929 "Commenting @each loops breaks compiler"
Say you have something like:

[code]

Commented out as such, it breaks with Error: Undefined variable: "$key".
Which is presumably because it tries to echo a $key variable into the comment itself, which is mad.

[2015-12-11 10:20] entozoon commented on #1929
Using a // style comment on each line works fine however. But that's not ideal

[2015-12-11 16:57] chriseppstein commented on #1929
Sass allows interpolation in css comments. It's not "mad", it's a useful feature for generating comments into the css output. E.g. debugging output, copyright notices, inline documentation that includes user settings.

If you want to comment out Sass code from actually being part of the output, only the `//` style comment will do that.

[2015-12-11 16:57] #1929 closed, assigned to nobody

[2015-12-11 17:49] daniilmatafonov commented on #1921
Maybe this will help you
http://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996
Or you may use compass compiler. It is great, but you'll need ruby environment.

[2015-12-11 22:57] nex3 commented on #626
@chriseppstein If we have good namespacing in Sass 4 (which I hope to), we can define this mixin in some sort of `meta` namespace and avoid collisions. I'd really like to support that sort of namespacing—it's a big reason I'm okay with adding a bunch of new functions—so I think we should hold off on deprecating existing mixins.

[2015-12-11 22:58] nex3 commented on #1912
If you work on a prose description of the deprecation first, that shouldn't require too much parser delving (although probably non-zero). That may also make it easier to code later on, too.

[2015-12-11 23:06] nex3 commented on #1923
I also get about 6s.

I agree with Chris. If you're generating 6² selectors and 6² extensions, it shouldn't be that surprising when it takes about 6⁴ time to compile. There are _a lot_ of redundant selectors being generated and discarded there. That process isn't very fast, but I don't think it's worth doing optimizations that target this case in particular, because it's specifically doing a bunch

[2015-12-11 23:07] #1923 closed, assigned to nex3

[2015-12-12 00:45] fatisar commented on #1768
Just throwing in my @endoplasmic thanks for the day

[2015-12-12 06:00] aboutjquery opened #1930 "In sass, dash is same as underline?"
Hello,

@mixin test($map: $_map_test) {
 // content
}

Did `$_map_test` is same as `$-map-test`?

If yes, i should not use underline?

Thank you so much.

[2015-12-12 17:16] mgreter opened #1931 "Inconsitent output for numbers near zero in compressed mode"
This is against latest ruby sass 3.4.20
`sass-spec/misc/negative_numbers`

[code]

Results in

[code]

It should output `.0` instead of `0.0` also for the unary negation operation in compressed mode.

[2015-12-13 01:37] mgreter commented on #1931
Another related issue:
`libsass-closed-issues/issue_550/operator`

[code]

Results in

[code]

[2015-12-13 02:15] GThatchapit commented on #1768
@endoplasmic  It Work!

[2015-12-13 09:51] mgreter opened #1932 "Escaped semicolon gets removed in compressed mode"
This is against latest ruby sass 3.4.20
Some regression in existing spec test
`libsass-closed-issues/issue_1098`

[code]

Results in

[code]

It should not omit the escaped semicolon here, since output in other modes is

[code]

I guess the compression is not smart enough to see the escape sequence ...

[2015-12-13 11:00] mgreter opened #1933 "Selectors starting with dashes get compressed"
Not sure if this is to be considered a bug, since I don't see a use case for such selectors.
Nonetheless the compressed behavior has changed in a recent sass version:

This is against latest ruby sass 3.4.20
`extended-tests/069_test_attribute_unification`
I simplified the spec here for easier testability

[code]

Results in

[code]

All other modes result in

[code]

Not sure why sass does that an

[2015-12-14 08:38] artch opened #1934 "@extend placeholders with siblings"
We'd like to use `@extend` and `%placeholder` mechanics to create semantic stylesheet which will look something like that:

[code]

It works well until we start using sibling selectors:

[code]

This will produce the following CSS:

[code]

Every extended placeholder class bloats into huge number of all possible combinations so that it will generate `button_count ^ 2` total selectors.

Are there a

[2015-12-14 09:37] GrtDev opened #1935 "map inside of a list bug"
When you put a single map inside of a list, SASS somehow only grabs the first key/value pair as a list when you try to loop through it? Resulting in an error when you attempt a map-get function.

When you put multiple maps inside of a list it works as expected.

Example here: http://codepen.io/Sector22/pen/PZPxPp?editors=010

[2015-12-14 13:19] barneycarroll opened #1936 "Map doesn't like direct access to map entries with certain keys"
Sass seems not to like accessing certain keys directly. I have the following map:

[code]

Iterating through the values shows everything to be in order:

[code]

Similarly, iterating through the keys and interpolating them indicates the same thing:

[code]

However, imperative access to the values via arbitrary keys fed to returns null values for the keys 'teal', 'grey', 'red', 'orange', 'green' &

[2015-12-14 13:23] cimmanon commented on #1936
Duplicate of https://github.com/sass/sass/issues/1256

[2015-12-14 13:49] barneycarroll commented on #1936
Thanks @cimmanon! It was only on reading the post I realised some of those keys were highlighted differently… :0

[2015-12-14 13:49] #1936 closed, assigned to nobody

[2015-12-14 14:19] davidkpiano commented on #1934
The `@extend` directive is working as expected here. You're basically saying "these three classes should be styled as if they were all `%btn`" and then saying "whenever any of those `%btn` classes are adjacent to another `%btn` class, give them a `margin-left: 10px`".

So the problem is that essentially, `.person-edit, .person-create, .person-delete` are all considered the same type of entity, wit

[2015-12-14 16:07] whaaaley opened #1937 "CSS Type Functions"
Such as:

[code]

Each returning true or false or have a function similar to `type-of` but specifically for these types. `type-of` seems to be specific to how Sass works, but having functions for types specific to CSS I think would be useful too, even though they may not necessarily be traditional types.
- Error checking would be easier, especially for mixin arguments that require these types.
- I

[2015-12-14 17:46] chriseppstein commented on #1937
This requires Sass to have intimate knowledge of the current state of all CSS specifications and requires constant updates to Sass in order to maintain correctness. This is contrary to Sass's goal of being as future-proof as possible.

This is a great idea for a Sass library which can be updated and released on a much more frequent basis than the language itself.

[2015-12-14 17:46] #1937 closed, assigned to nobody

[2015-12-14 17:48] chriseppstein commented on #1934
What @davidkpiano said.

FWIW, once the CSS `:matches()` pseudo selector is well supported, Sass will be able to emit a much more elegant output selector here: `:matches(.person-edit, .person-create, .person-delete) + :matches(.person-edit, .person-create, .person-delete)`

[2015-12-14 17:48] #1934 closed, assigned to nobody

[2015-12-14 17:56] chriseppstein commented on #1935
Parenthesis do not define a list with the exception of `()` defining an empty list. In all other cases, parenthesis are simply grouping of expressions. Lists are defined by their use of separators.

[code]

To define a list of a single element, you must have a trailing comma and it is often necessary to use parenthesis around that list to avoid that comma from changing the interpretation of the re

[2015-12-14 17:56] #1935 closed, assigned to nobody

[2015-12-14 18:08] chriseppstein commented on #1933
This appears to be a regression in 3.4.20. This worked fine in 3.4.19.

The regression was due to commit 6e351f0c44f50ed98e79ca68ddac9af80e65bcca.

[2015-12-14 18:56] #1933 closed, assigned to chriseppstein

[2015-12-14 19:06] chriseppstein commented on #1932
This worked in 3.4.17, broke in 3.4.18.

Regression was introduced by 0a8000947e1ac6540b285652d7a6963bc91aba76.

[2015-12-14 19:30] #1932 closed, assigned to nobody

[2015-12-14 19:35] chriseppstein commented on #1932
Good catch, @mgreter.

[2015-12-14 21:47] chriseppstein opened #1938 "Negative numbers very close to, but not quite, an integer get rounded up instead of down."
E.g. (`-2.99999999` -> `-2`)

This is a recent regression.

[2015-12-14 22:31] artch commented on #1934
I do realize it is the expected behavior. I'm not saying it's a bug which have to be fixed. Instead, I'm asking is there any chance to get this behavior configurable, so that I would be able to create a regression on this mechanic, in case if I wish to take the risk.

[2015-12-14 23:30] chriseppstein commented on #1931
The output should be:

[code]

While testing this, I discovered issue #1938.

I'm going to file a separate issue to track the numeric output differences of the filter functions -- it's not the same root cause.

[2015-12-14 23:33] chriseppstein opened #1939 "Strange numeric output differences with image filter functions"
Initially filed by @mgreter on issue #1931:

From: `libsass-closed-issues/issue_550/operator`

[code]

Results in

[code]

[2015-12-14 23:40] #1931 closed, assigned to nobody

[2015-12-14 23:40] #1938 closed, assigned to nobody

[2015-12-14 23:43] chriseppstein commented on #1930
Yes, in variables, mixins and function names, underscores and dashes are semantically equivalent. This allows projects that have a dash convention to consume libraries that have an underscore convention (and vice-versa)

[2015-12-14 23:43] #1930 closed, assigned to nobody

[2015-12-14 23:44] chriseppstein commented on #1930
This is mentioned at the end of the "variables" section in the Sass reference: http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variables_

[2015-12-14 23:47] chriseppstein commented on #1921
Our parser stops at the first error -- it has no error recovery built in order to continue giving further errors.

[2015-12-14 23:47] #1921 closed, assigned to nobody

[2015-12-14 23:47] chriseppstein commented on #1920
Closing due to lack of response.

[2015-12-14 23:47] #1920 closed, assigned to nobody

[2015-12-14 23:50] chriseppstein commented on #1916
@xzyfer @mgreter @saper I'd like to close this or get to some sort of actionable resolution.

[2015-12-14 23:58] chriseppstein commented on #1934
@artch Extend semantics are very well defined -- there's no reasonable way to configure them without meaningfully changing the definition of extend. The solution here is to not use extend for the places where you don't want this behavior.

[2015-12-15 00:01] xzyfer commented on #1916
Is is reasonable then for `.inspect` to ignore compressed mode flag? Otherwise I don't see a resolution.

[2015-12-15 00:13] chriseppstein commented on #1938
This was introduced in cc96f0c85d5ec09324e9158585c23ddbe922b2ab and regression was first released in `3.4.19`.

[2015-12-15 06:10] andreev-artem commented on #1934
@chriseppstein let me describe the possible use case: you have to use some SCSS framework. You almost can't change it. In your project you want to use BEM and you want to build semantic naming scheme. I.e. you want to have:

[code]

On other page:

[code]

Today `item-control` and `project-control` are buttons, tomorrow some of them may be links, etc. There is no chance that `item-control` and `pr

[2015-12-15 08:34] abose commented on #1921
Thanks all for the answer .

[2015-12-15 12:16] artch commented on #1934
@chriseppstein By the way, `:matches` is now supported in every browser except IE. Any chance to enable it in this case, if IE is not vital for our project?

[2015-12-15 13:36] davidkpiano commented on #1934
@andreev-artem To do that, remove the rule that gives styling to adjacent buttons. That is a constraint that doesn't match your intended constraint.
- `%btn + %btn` says "**Any** button next to **any** button"
- `.project-control + .project-control` says "**Only** `.project-control` next to **only** `.project-control`

In this case, it's better (IMO) to have a placeholder selector describing the s

[2015-12-15 14:30] andreev-artem commented on #1934
@davidkpiano I can't remove/refactor that - it's contained in external framework. And I think that's quite general situation. Just not all want to fight with that and just use what framework has. And looks like SASS can't help here.

[2015-12-15 14:37] artch commented on #1934
@davidkpiano chriseppstein wrote this few comments above:

My question was about when is this expected.

[2015-12-15 15:10] davidkpiano commented on #1934
@artch You still have to be explicit about it.

[code]

[2015-12-15 15:18] artch commented on #1934
@davidkpiano Yes, but is not supported by SASS yet. This SCSS:

[code]

Generates this CSS:

[code]

Which is just an overkill, since it is identical to:

[code]

It would be great if SASS can handle `@extend` this way.

[2015-12-15 16:43] chriseppstein commented on #626
@nex3 This isn't a mixin, it's syntax that is ambiguous with the name of a mixin. If Sass was actually exposing mixins, then I would agree that is a proper solution for this case. But this is special syntax for invoking a mixin and that syntax should be global, just like the `call` method for invoking functions dynamically. Worse, is that we currently allow users to define a function named `call`

[2015-12-15 16:46] chriseppstein commented on #1916
@xzyfer Yes, that's reasonable, imo. The annoying thing is that for some types, inspect is used to construct the css representation.

[2015-12-15 16:47] chriseppstein commented on #1934
Agree. When `:matches` is well supported, it will.

[2015-12-15 16:55] chriseppstein opened #1940 "Remove `--debug-info` flag in 4.0."
Let's deprecate the `--debug-info` command line flag in 3.4 and remove it in 4.0. With sourcemaps, this is no longer a useful feature.

[2015-12-15 16:57] chriseppstein opened #1941 "Remove `--compass` command line option in 4.0."
Compass is end-of-life'd. Let's stop giving it first class status in the Sass CLI.

Let's deprecate this option in 3.4 and remove it in 4.0.

[2015-12-15 18:07] chriseppstein opened #1942 "Unify .sass and .scss parsers."
The `.sass` syntax parser can be replaced by a pre-processing step and then passed to the `.scss` syntax parser. This way, new parsing rules only need to be implemented once.

This is not a blocking issue for 4.0.

[2015-12-16 00:50] chriseppstein commented on #626
Reverted the deprecation warning in bce9509f396225d721501ea1070a6871b708abb1 so we can release a patch update.

[2015-12-16 01:17] shiraji commented on #1768
@endoplasmic :+1:

[2015-12-16 07:02] artch commented on #1934
@chriseppstein

Good. And let me ask it again: `:matches` is already supported in all major browsers except IE. When it is considered to be supported enough? What if our project disregards IE totally and we are already ready to make use of it? Probably some explicit opt-in configuration?

[2015-12-16 10:00] GrtDev commented on #1935
Hi @chriseppstein ,

Thank you so much for clearing this up for me! This makes much more sense.

Cheers!

[2015-12-16 15:55] musamamasood commented on #116
+1

[2015-12-18 09:54] Undistraction opened #1943 "Feature Request: Support For Multiple Content Blocks"
There are lots of situations where people are using mixins to render templated styles out with some configurable parameters, for example I use a [mixin](https://gist.github.com/Undistraction/fc89e19d364fa786d308)  to render floated lists which allows me to configure the direction of float, spacing, whether the spacing is added before or after the element, and the element or class to use for list i

[2015-12-18 16:49] whaaaley commented on #1943
Maybe I'm not understanding your issue, but could you not use the parent selector for this? This is valid:

[code]

Edit: Wait, I get what you mean now. Something like this?

[code]

[2015-12-18 16:57] whmii commented on #1928
The project I am working on uses some relatively complex calc's that have some consistent parts. Because of this it is useful to have 'standard segments' of the calc operation defined ahead of time and wait to add the `calc()` wrapper until the last possible second so that the internal values are easier to add to / manipulate.

In my example I am trying to define a consistent value that is the wid

[2015-12-18 17:36] Undistraction commented on #1943
Yep. Something like that, though I'm not so much thinking about its use in terms of overriding (in your example you would render `background` twice in the `first-child` selector), more in the sense that a focused mixin can generate a series of selectors, not just a single selector. Allowing extra props to be passed into these slots would be really powerful. In my example, the `floated-list` mixin

[2015-12-18 19:50] whaaaley commented on #1943
I updated my previous example to use multiple selectors, like you said. I'm starting to see the benefit. It's a neat idea, but what about using placeholders sort of backwards instead? It's not as pretty, but it's close.

[code]

 Outputs:

[code]

[2015-12-18 21:18] chriseppstein commented on #1943
The way I want to handle this is my allowing the content block to be passed arguments from the mixin. In this way, the mixin could pass information about which part it is rendering, and the content block could return different content conditionally based on that parameter. See #871.

[2015-12-18 21:18] #1943 closed, assigned to nobody

[2015-12-18 21:49] Undistraction commented on #1943
@chriseppstein Interesting. Very interesting.

[2015-12-18 22:08] Undistraction commented on #1943
Although on second thoughts, I think that solves a different issue. The beauty of passing multiple blocks is exactly that you aren't constricted to a set of predefined arguments. Unless I'm missing a use case?

By supporting named blocks, a mixin can both render and allow customisation of selectors. At the moment, if a mixin renders more than one selector, the only way to add additional props to a

[2015-12-18 22:38] chriseppstein commented on #1943
@Undistraction I think you're missing something. This exact example would work like so (syntax is all placeholder obviously)

[code]

Granted this is a little more verbose, but this is also a lot more powerful than simply allowing names.

[2015-12-18 23:00] Undistraction commented on #1943
Thanks. That’s what I needed. The penny has dropped.

On Fri, 18 Dec 2015 at 22:38 Chris Eppstein notifications@github.com
wrote:

[2015-12-21 14:24] andreev-artem opened #1944 "Placeholder selector inside :not()"
[Minimal repro](http://www.sassmeister.com/gist/a2865309e9fc4f6ba6b4):

[code]

CSS output:

[code]

Expected output:

[code]

Is that a bug?

[2015-12-21 14:27] cimmanon commented on #1944
You've compiled it using LibSass, you'll need to file a bug report with them. If you switch it to use Ruby Sass (under "control panel"), it compiles as expected.

[2015-12-21 14:29] andreev-artem commented on #1944
Missed that specific, thanks!

[2015-12-21 14:29] #1944 closed, assigned to nobody

[2015-12-21 16:21] pentzzsolt opened #1945 "@extend behaviour"
This is more of a question, than an issue, although I am uncertain.

I have made a demo on CodePen to show the behavior I find a little weird: http://codepen.io/pentzzsolt/pen/obLZEz

Take a look at the compiled output. I cannot understand, why the selector is structured in such a way.

I have a very simple placeholder selector:

[code]

After that, I have a nested selector that extends this place

[2015-12-21 16:33] davidkpiano commented on #1945
Hey @pentzzsolt, let's break this down. You currently have:

[code]

And later on, you're extending:

[code]

So what this means is that:
- `a` is extending `%extend`, which is to say that you are styling `a` as if it matches `%extend`
- `a` must be a general descendant of `form` (child, grandchild, etc.)

But when you extend `%extend`, you have these additional constraints:
- `%extend` is a gener

[2015-12-21 16:41] pentzzsolt commented on #1945
Hey @davidkpiano!

Thank you for your quick response, much appreciated!

Although I forgot to mention, but I did experiment with the **direct descendant combinator** and realized that using that does not lead to a selector explosion. Unfortunately, in my case, as you said, I have absolutely no idea where my selector is going to end up inside my parent selector's DOM tree.

What you wrote and the w

[2015-12-21 16:51] davidkpiano commented on #1945
Sure:

[code]

The above gives you your expected result because you have three constraints:
- `a` is a descendant of `form`
- `a` is a descendant of `.error`
- :new: `form` is a descendant of `.error`

And only one possible selector can be formed from those constraints.

[2015-12-22 09:06] pentzzsolt commented on #1945
Thank you, I understand the flaw in my logic now, makes sense. :+1:

[2015-12-22 09:06] #1945 closed, assigned to nobody

[2015-12-22 16:27] gytdau commented on #1916
@saper has chosen to ![ignore this issue](https://github.com/sass/sass-spec/issues/627#issuecomment-166024933) for now. Should this issue be closed?

[2015-12-26 15:13] saper commented on #1916
I'd prefer to say I just side-stepped it to allow our tests to work.

[2015-12-27 15:59] xiaoshier commented on #1768
@endoplasmic thank you very very very much!

[2015-12-28 06:05] xzyfer opened #1946 "Color declaration values aren't compressed if terminated by a semicolon"
[code]

Expected

[code]

Result

[code]

Removing the `;` fixes the issue.
Tested on Sass 3.4.20 and 4.0.0.alpha.1

[2015-12-28 22:05] xturgorex commented on #1768
you probably haven't been told this enough yet, but thank you very much @endoplasmic.

[2015-12-29 21:19] avel opened #1947 "Compressor bug: eating spaces after commas, when inside attribute selectors"
Confirmed with sass 3.4.20.

This source:

[code]

compresses to:

[code]

The removed spaces cause the selector to not have the desired matches.

[2015-12-29 21:31] rdebeasi opened #1948 "Source maps aren't generated when the --update flag is used."
When I use `sass --watch`, a source map is generated. When I run the same command with `--update` instead of `--watch`, however, no source map is generated.

Here's what I'm trying to do:

[code]

Am I doing something wrong here, or is sass misbehaving? Thank you in advance for your help!! 😃

[2015-12-31 02:46] lukewatts commented on #216
Does stylus do this? I know Jade implemented this for their javascript variable declarations.

So this works now (in Jade):

[code]

Whereas it never did before. Perhaps that will spark some ideas.

That said, I'm totally in favor of a "Python-esque" solution

[2015-12-31 20:07] ghost commented on #818
this is very confusing and support should be added

[2015-12-31 22:27] lukemoderwell commented on #1768
@endoplasmic very thanks. so gratitude.

[2016-01-01 02:57] milesj commented on #690
I'm very sad this is still not in?

[2016-01-01 13:37] davidkpiano commented on #690
@milesj If you're using Node-Sass, both [Eyeglass](https://github.com/sass-eyeglass/eyeglass) and [Sassport](https://github.com/davidkpiano/sassport) support the automatic resolving of `index.sass` (or `index.scss`, `_index.sass`, `_index.scss`) from imports, and you might find that to be a good solution in the meantime.

[2016-01-02 20:29] timbodeit commented on #1719
Seeing the same issue with jekyll when prefixing document with '---\n---' front matter.

[2016-01-04 18:26] chriseppstein commented on #1719
@timbodeit jekyll should strip the front matter before passing the file to Sass. Please file a bug with that project.

[2016-01-04 19:57] kmcaloon opened #1949 "@at-root not working smoothly with dynamic selectors?"
I'm sure I am missing something here. The current situation I am having problems with is a bit more involved than this, but to simplify it here is an example of what's going on...

Here is part of my "element" mixin code that is working as it's supposed to

[code]

It's working fine. For example, here is a portion of the code in question:

[code]

Which is being processed into:

[code]

So far so

[2016-01-04 20:45] chriseppstein commented on #1949
@kmcaloon what version of Sass are you using? In Sass `3.4.20` I get `.snippet--showdate .snippet__date-flag`.

[2016-01-04 20:47] chriseppstein commented on #1949
In node-sass I also get  `.snippet--showdate .snippet__date-flag`.

[2016-01-04 21:03] kmcaloon commented on #1949
@chriseppstein  thanks for the quick response. You were on the right track. Although my sass gem was up to date, the gulp-sass node provided with the sage/roots WP theme I was using needed to be updated. Sorry for the false alarm.

[2016-01-04 21:03] #1949 closed, assigned to nobody

[2016-01-04 21:06] chriseppstein commented on #1949
@kmcaloon No worries, glad we got it sorted out.

[2016-01-04 21:19] #1947 closed, assigned to chriseppstein

[2016-01-04 21:23] chriseppstein commented on #1946
Removing the `;` has no effect. But putting the color into a variable first does. I think this is a static parser issue. I think we shouldn't use any static parsing optimizations when outputting in compressed mode.

[2016-01-04 21:24] chriseppstein commented on #1946
(This isn't the only such issue where static parsing messes up compression.)

[2016-01-05 03:58] xzyfer opened #1950 "string.split() function"
* [x] [Proposal](https://github.com/sass/sass/blob/main/accepted/string-split.md) (https://github.com/sass/sass/pull/3284)
* [x] [Tests](https://github.com/sass/sass-spec/issues/1832) (https://github.com/sass/sass-spec/pull/1841)
* [x] [Dart Sass](https://github.com/sass/dart-sass/issues/1821) (https://github.com/sass/dart-sass/pull/1839)
* [x] [Documentation](https://github.com/sass/sass-site/iss

[2016-01-05 04:15] cimmanon commented on #1950
Selectors aren't strings.  They're lists of lists.  If you want to remove or capture part of a selector, you use a loop.

[code]

Output:

[code]

[2016-01-05 04:30] xzyfer commented on #1950
Yes I understand.

You're correct.

---

As it turns out, in my experimentation, where I was mistaken was that even if there is one selector,`&` is still a nested list. This is where I was getting tripped up.

i.e.

[code]

I was expecting `a` to be `b`. I understand why it works this way, it was just a detail I had missed.

[2016-01-05 04:37] xzyfer commented on #1950
I guess, assuming certain constraints on the input string, and only wanting `" "` as the `$delimiter` you can fake `str-split` with `nth(parse-selector(".foo .bar"), 1)`. Which granted is the usecase is proposed.

[2016-01-05 04:44] xzyfer commented on #1950
@davidkpiano True. Sorry I wasn't more clear.

[code]

_note: selector-parse() isn't required when you're dealing with `&`_

[2016-01-05 04:46] xzyfer commented on #1950
With regards to comment on `selector-parse` you can split a string on white space.

[code]

I suspect there may be limitations on the types of strings this works with i.e. valid selectors (maybe?)

[2016-01-05 04:51] davidkpiano commented on #1950
(Sorry, deleted my comment as it was redundant.)

Maybe a `selector-split` function would be more appropriate? Something that splits based on combinators:

[code]

[2016-01-05 09:56] jossef opened #1951 "[enhancement] using @extend in @media"
The following scss won't compile,

[code]

[code]

![image](https://media.giphy.com/media/1M9fmo1WAFVK0/giphy.gif)
## As a DX (developer experience) suggestion

please support that

[2016-01-05 13:02] xzyfer commented on #1946
@chriseppstein when testing on Sass 3.4.20 and 4.0.0.alpha.1 removing the `;` did fix the issue.

My guess is that it's because the [STATIC_VALUE](https://github.com/sass/sass/blob/9077d95ffa6ab9388f59074483f1ef508d75d448/lib/sass/scss/rx.rb#L137) only matches if there is a trailing `[;}]`.

[2016-01-05 13:09] cimmanon commented on #1951
Duplicate of https://github.com/sass/sass/issues/1050

[2016-01-05 13:19] xzyfer opened #1952 "[discussion] remove compressed output mode"
I think this is a discussion worth having, given that a major version is the works.

Some thoughts:
- there are issues with things being unexpectedly compressed
  - #1946
- there are issues with things being unexpectedly not compressed
  - #1946
  - #1834
  - #1296
  - #649
  - #387
- various improvement have been long planned and not actioned. _(not a criticism)_
  - #847
  - #687
  - #116
- ther

[2016-01-05 17:37] chriseppstein commented on #1952
There are a lot of people who use Sass as their only CSS development tool. Given the huge benefits of compression for production quality development, I don't want to remove a feature that is already built because there are bugs.

non-syntactic whitespace differences between libsass and ruby sass seem to be the root cause of your annoyance here. I would like to address this by making sass-spec agno

[2016-01-05 17:37] #1952 closed, assigned to nobody

[2016-01-05 17:41] chriseppstein commented on #1952
I've added the label `Compression` to all those issues so we can find them and fix them.

[2016-01-05 17:42] #1951 closed, assigned to nobody

[2016-01-05 17:47] chriseppstein commented on #1950
whitespace is a combinator. it is the "descendant combinator".

Anyways, a `str-split` function seems generally useful and is easy enough to add.

[2016-01-05 17:54] chriseppstein commented on #1948
When I use `--update` it makes a sourcemap by default. What version of Sass are you using?

[2016-01-05 22:08] rdebeasi commented on #1948
I'm on Sass 3.4.20. I'm no longer able to reproduce the issue. I'm not sure what the root cause was, but whatever it was appears to have been on my end. Sorry for the hassle!

[2016-01-05 22:08] #1948 closed, assigned to nobody

[2016-01-05 22:39] chriseppstein opened #1953 "Rubocop TODOs"
After landing Pull Request #1805 to stable, there are 32 new rubocop checks remaining that we need to consider either enabling with associated clean up or disabling permanently on the project.

This issue is to track that work so we don't forget about it.

[2016-01-05 22:51] chriseppstein commented on #1953
The basic strategy here is:
1. move a check in `.rubocop_todo.yml` to `.rubocop.yml` and enable it.
2. run `rake rubocop`
3. If there are warnings or failures that seem reasonable to address, fix them. If there are exceptions use a rubocop comment to disable the new check for that offense.
4. If there are a lot of failures (10+) then maybe we just disagree with that check or need to tune the argum

[2016-01-06 02:05] mgreter opened #1954 "Substraction inconsistent with negative fractions missing leading zero"
[code]

The differences between `sub-1` and `sub-5` seem wrong. IMO `sub-1` should be evaluated too.

[2016-01-06 02:10] mgreter opened #1955 "`str-index` should have optional offset param"
Saw this while rewriting [custom function `str-replace`](https://github.com/sass/libsass/issues/1823#issuecomment-168464078) with an iterative approach. Unfortunately sass does not offer an offset param for `str-index`, which is IMO very common for this kind of function.

[2016-01-06 02:49] xzyfer commented on #1942
I expect you already know this, but that's how LibSass works.

[2016-01-06 14:19] davidkpiano opened #1956 "Feature request - first-class declaration blocks"
Apologies if this is a duplicate (possibly related to https://github.com/sass/sass/issues/1582 ?), but I'd like to propose a feature to Sass that would make non-nested declaration blocks be treated as a first-class citizen, with the same (or similar) operations as maps. Essentially, declaration blocks could be considered equivalent to flat maps with strings as keys and any valid Sass value type as

[2016-01-06 15:17] felixhayashi opened #1957 "Interpolation fails in head of media query"
Hi,

in both cases below, the output will not be valid css but in case of the media query, it completely fails. My Sass version is 3.4.13.

[code]

This looks like an inconsistency. Maybe a bug? – If not, is there any way I can get this work, i.e. to get the `<<macro>>` instructions treated as literals that are simply dumped at this place in the output file (they will be evaluated later in a javas

[2016-01-06 17:26] tcurdt opened #1958 "watch usage unclear or broken"
This works:

[code]

Watching does not:

[code]

Here is the backtrace:

[code]

[2016-01-06 17:49] chriseppstein commented on #1956
#1582 is the way I want to handle this. Please read that and let me know what you think.

[2016-01-06 17:49] #1956 closed, assigned to nobody

[2016-01-06 17:50] chriseppstein commented on #1957
Interpolation happens before the media query is parsed. That is not valid syntax for a media query, so you get an error.

[2016-01-06 17:50] #1957 closed, assigned to nobody

[2016-01-06 17:57] chriseppstein commented on #1958
Please update your `listen` gem. Using version `2.10.1` it works fine.

[2016-01-06 17:57] #1958 closed, assigned to nobody

[2016-01-06 18:04] chriseppstein commented on #1956
FYI: maps cannot be used to correctly represent a declaration block. the reason is progressive enhancement -- which requires the same property (key) to be repeated.

[2016-01-06 18:04] felixhayashi commented on #1957
Hi @chriseppstein

Thanks for your answer

But `b: $x;` is also interpolated, the result is also not valid css syntax and it still works, i.e. it is substituted and nothing fails. Is this interpolation done at a later stage or why is there not error here?

Maybe you could be so kind and give me a hint on how to circumvent the Sass parser here to receive `@media (max-width: <<macro>>)` in the outpu

[2016-01-06 18:05] davidkpiano commented on #1957
@felixhayashi If you are able to format the at-rule after it has been parsed and output by the Sass compiler (which, if you're using macros, it seems like this is feasible for your use-case), you can use custom at-rules to get around Sass' proprietary handling of `@media` at-rules:

[code]

Successfully compiles (in Ruby Sass) to:

[code]

**EDIT:** You just need to remember to change the `@--medi

[2016-01-06 18:07] chriseppstein commented on #1955
:+1: An oversight on our part.

[2016-01-06 18:09] davidkpiano commented on #1956
Ah, good point! Forgot about that.

[2016-01-06 18:14] chriseppstein commented on #1956
I think we basically need to expose CSS AST nodes as new kinds of Sass values with special functions to operate on them. It's a huge undertaking and it's basically the Sass-y response to the features that PostCSS provides.

[2016-01-06 18:22] chriseppstein commented on #1957
In property values, interpolation is resolved after the value is parsed.

I assume you are doing some sort of post processing I suggest that you used valid css syntax for your markers and you won't have this issue. E.g. `-my-macro` works fine.

[2016-01-06 18:24] felixhayashi commented on #1957
Hi @davidkpiano

thanks for this input, this would be a possible solution, altough still a bit hacky.

However what I find truly strange is that `gulp-sass` doesn't throw an error and just does what I expect/want it to do (as stated in the OP).

Having a sass file

[code]

Interpreted by the following gulp script…

[code]

produces…

[code]

-Felix

[2016-01-06 18:31] chriseppstein commented on #1957
@felixbuenemann I think you have an old version of node-sass installed. the latest version gives an error on this input.

[2016-01-06 18:53] felixhayashi commented on #1957
@chriseppstein

Seems you are right. In `node-sass@1.2.3` it worked and now with `node-sass@3.4.2` it doesn't anymore. That's bad news for me :(

Thanks for this suggestion. Unfortunately, I cannot control the macro syntax (it is predefined by the environment where the css is used in and actually even a bit more complex than in the example above). I think I'll stick with @davidkpiano's suggestion

[2016-01-06 19:11] chriseppstein commented on #1957
@felixbuenemann `output.gsub(/-my-macro/,"<<macro>>")`

[2016-01-06 19:24] chriseppstein commented on #1954
See #1912.

Agree. I don't know why `sub-5` isn't the same output as `sub-1`. Perhaps @nex3 does.

[2016-01-06 19:48] felixhayashi commented on #1957
@chriseppstein Thanks, but there are quite a lot of different macro expressions in my script and even some other directives that have a comlicated syntax so it would require some complicated regexps and not even sure if that will do it here. I tested @davidkpiano's solution with Ruby Sass `sass-3.4.20.gem` and it does compile with custom at-rules. However `node-sass@3.4.2` fails here again. Should

[2016-01-06 20:33] chriseppstein commented on #1957
@felixbuenemann you can report bugs for libsass here: https://github.com/sass/libsass/issues

[2016-01-06 20:56] tcurdt commented on #1958
@chriseppstein not here

[code]

[2016-01-06 20:58] tcurdt commented on #1958
Does it require a `listen` 2.x then?

[2016-01-06 21:00] tcurdt commented on #1958
Hm. I had a version 2.7.x - that didn't work. 3.x doesn't work either. 2.10.1 is rather old - what am I missing?

[2016-01-06 21:04] tcurdt commented on #1958
This is what I was missing https://github.com/sass/sass/tree/stable/vendor
Removing the installed (and newer) gem versions let it fall back to the vendored version.
Wow - that sucks. But at least it works now.

[2016-01-07 17:55] chriseppstein commented on #1958
We will happily support as many versions of the listen gem as we can, I was trying to give you a work around in the short term. Please file a new issue with steps to reproduce the issue with a particular version of listen.

[2016-01-07 18:07] tcurdt commented on #1958
@chriseppstein looks like all from `2.7.x` on upwords should be broken
Just installing the latest `listen` gem should be enough to reproduce it.

Maybe the easier way would be to have `sass` really be a script that calls `bundle exec`? Obviously there are many incompatibilities between the `listen` versions. So supporting all does not really sound like the best path forward.

[2016-01-07 18:19] chriseppstein commented on #1958
If people are using bundler then _they_ should call `bundle exec sass`.

We don't have a hard dependency on listen because there are lots of dependencies in the newer versions and we don't want people to have to install those especially since they are not necessarily using the command line.

Ideally, we'd break the CLI into it's own gem with it's own dependencies and keep it separate from the core

[2016-01-07 18:40] Hibou57 opened #1959 "Bug extending a place‑holder"
Using “Sass 3.2.12 (Media Mark)” on Ubuntu 14.04 32 Bits.

Given this:

[code]

Expected output should be this:

[code]

It is this, instead:

[code]

May be an Interesting track to note, is that if I comment‑out the `@extend %ph;` in the second statement, I got this:

[code]

The second statement seems to prevent the third statement to be handled as expected.

[2016-01-07 18:53] chriseppstein commented on #1959
`input:hover` matches all the elements that `input[type]:hover` would match, so we don't output it as an optimization.

[2016-01-07 19:18] Hibou57 commented on #1959
Do you know both selectors do not weight the same?

This is not an optimisation, this is breaking CSS semantic.

[2016-01-07 19:37] chriseppstein commented on #1959
@Hibou57 That's a fair point. @nex3 did all the extend optimizations so I'll let her respond.

[2016-01-07 19:40] chriseppstein commented on #1959
@Hibou57 either way, Sass 3.2.12 is very old and I encourage you to upgrade -- any possible changes would only be made on the latest versions.

[2016-01-07 19:52] davidkpiano commented on #1959
I think the issue is that @Hibou57 is treating the placeholder selector as a `@mixin`. Extended selectors should never have a specificity greater than the extending selector, which is why `:hover` is added to `input`, but not `input[type]`, since you can consider `%ph:hover` to have a specificity of `0 2 0`. The automatic insertion of `:hover` is necessary to abide by this rule, and is happenstanc

[2016-01-07 20:59] chriseppstein commented on #1953
10 down, 21 to go. pushed directly to stable and master.

[2016-01-07 21:30] tcurdt commented on #1958
`bundle exec sass` does not really work for CLI commands out of the box. Bundler needs to find the `Gemfile`. You would have to wrap it in shell script to make it convenient. And you also don't want to leave users with dependency hell by not using bundler either.

Bundler or not - the CLI gem path certainly is a good idea.

[2016-01-08 02:54] Hibou57 commented on #1959
I will look at `@mixin` later and will just comment on `@extend`.

I solved the issue with a reorganisation based on this (I try to order rules from lower to greater specificity, in CSS, as much as possible). But as you've guessed, I was surprised by `@extend`'s behaviour, as unless I overlooked it, the documentation does not mention this specificity issue, and says this:

May be this would be mor

[2016-01-08 17:18] mgreter opened #1960 "Value in if (logical eq) clause incorrectly triggers invalid css value"
IMO the following sample should be valid sass:

[code]

But I get `Error: 10px*px isn't a valid CSS value.`.
Also happens with: `foo { bar: 10 == 5px*2px; }`.

[2016-01-08 17:41] chriseppstein commented on #1959
PROTIP: If you backtick `@extend` it doesn't create a mention.

[2016-01-08 17:54] chriseppstein commented on #1960
@mgreter yeah, that shouldn't be an error, but it's also deprecated. I'll fix it anyway :)

[2016-01-08 18:53] chriseppstein commented on #1960
Ah, it was the deprecation warning that @nex3 added recently that is the culprit. Fixed!

[2016-01-08 18:59] #1960 closed, assigned to nobody

[2016-01-08 19:07] mgreter commented on #1960
:+1: thanks

[2016-01-08 21:59] nex3 commented on #1953
Thanks for doing this, Chris!

[2016-01-08 22:06] nex3 commented on #1954
That's just an oversight. We have a special-case check for the next character being a digit, but we should also have one for a dot followed by a digit.

[2016-01-08 22:15] #1954 closed, assigned to nex3

[2016-01-08 22:22] nex3 commented on #1959
There are very specific rules for which selectors may and may not be optimized out when resolving `@extend`s, which I [describe in detail here](https://github.com/sass/sass/issues/324#issuecomment-4607184). The second law says that the specificity of the generated selector must be greater than or equal to _the extending selector_ (in this case `input[type]`). This is satisfied by Sass's output: `i

[2016-01-08 22:22] #1959 closed, assigned to nex3

[2016-01-08 22:27] nex3 commented on #626
I consider adding syntax to be a substantial cost, especially when the syntax is identical to something that's not syntactic (in this case, a function or mixin with a specific name). What's the benefit of making `mixin()` and `call()` special syntax as opposed to making them namespaced names?

[2016-01-08 22:31] chriseppstein commented on #626
@nex3 it's not an actual mixin that is special, it's a name that is special cased to behave differently. If it were the former, I would agree with you, but it's not.

[2016-01-08 22:40] nex3 commented on #626
Special cases also come at a cost, and I don't understand what we get in exchange for that cost.

[2016-01-08 22:41] chriseppstein commented on #626
users get to call a mixin by passing the name as a string.

[2016-01-08 22:44] nex3 commented on #626
But we could get that benefit without adding a special case. We could define a built-in mixin in the meta namespace that does exactly that, and then we'd get to avoid the pain of deprecation and special casing.

[2016-01-08 23:15] jslegers commented on #626
@nex3 @chriseppstein

Whenever possible, it's always better to add new features in a way that doesn't break backward compatibility.

[2016-01-08 23:15] nex3 commented on #626
After talking to Chris elsewhere, we've decided to put the discussion of whether or not to make this a top-level versus a namespaced mixin on hold until the new module system is more solid.

[2016-01-09 00:06] mgreter commented on #1954
:+1: thanks

[2016-01-09 01:13] nex3 commented on #1778
This was fixed in 0f6caf9f4daaa75c0ec609dcb91feacc4c5c6cf9.

[2016-01-09 01:19] Hibou57 commented on #1959
@nex3, if this is per design (although unintuitive to me), these details should be in the documentation.

@chriseppstein

That's what's in the Ubuntu 14.04 official repository, and there is no maintained PPA for Sass (the only one I could find is inactive since 2011).

[2016-01-09 01:27] nex3 commented on #1959
Unfortunately, there's not a great place to put in-depth details like this in the current documentation structure. At some point I would like to produce a full specification, which would have room for this level of detail, but that's a very large undertaking.

[2016-01-09 01:37] Hibou57 commented on #1959
I hope I don't annoys too much with two comments I would like to add.

If this is in‑depth details which hardly get a place in the documentation, these details should be transparent (safely ignored), but they are not. So may be that's just too much for a specification.

The other point is that an optimization is supposed to preserve semantic. This one does not, as it actually change the meaning of

[2016-01-09 02:43] mgreter opened #1962 "Minor discrepancy for `any` selectors in compressed mode"
`spec/basic/50_wrapped_pseudo_selectors` (3.4.16)

[code]

With ~~2.4.20 and~~ current master:

[code]

Before it always produced spaces after `,` in the wrapped selector list. I can update libsass easily to go either way, but having these two different cases is a bit more difficult to support ;)

[2016-01-09 02:48] mgreter commented on #1939
Checked the ruby sass code and the reason is that the numbers sometimes have `original` set (the two grayscale functions). Oddly that `.03` actually gets printed as `0.03` in that situation. But I was able to have libsass behave pretty much the same way, but there was one other discrepancy that surfaced. For now I will phase out that edge case from the existing spec test and create a new todo test

[2016-01-09 02:53] nex3 commented on #1959
High-level documentation like the reference can't possibly cover all user-visible behavior and still be usable by ordinary people trying to learn about the language. Detailed documentation about exactly how processes like `@extend` selector trimming work and which specific guarantees they make are the job of the spec.

The specific name doesn't really matter. The point is that `@extend` is a Sass

[2016-01-09 03:31] cimmanon commented on #1962
I can't reproduce this on Sassmeister (checked with 3.4.20 and 4.0.0.alpha.1)?

Expanded:

[code]

Nested:

[code]

Compact:

[code]

Compressed:

[code]

[2016-01-09 03:43] mgreter commented on #1962
Then it might be on current master only or I accidentally changed something.
Will re-check later, but from browsing the git log I suspect https://github.com/sass/sass/commit/26e16c06c69fc0eb7c28539445d4d126b0e5cdaa

[2016-01-09 05:07] Hibou57 commented on #1959
Now I know, so that's not for me I'm adding last words on this (closed for me too after that).

As a summary, the documentation says the software do one thing, while the software do another thing. In such cases, either the documentation needs to be fixed or the software needs to be fixed. You decided to do none. You are free to do so as Sass is yours not mine (*), and not solve the issue if you wi

[2016-01-09 14:52] mgreter commented on #1946
@chriseppstein any updates on the proposed fix presented by xzyfer?

[2016-01-09 17:25] lozandier opened #1963 "Sass/SCSS does not enable/recognize the use of CSS Grid Layout's named lines & template area syntax"
With the current versions of Sass/SCSS, users cannot reliably be able to use CSS Grid Layout Module Level 1's named line syntax or its template.

It seems a moderate issue since the Grid Layout Module has had the latter a very mature & stable feature with its availability in modern browsers such as Edge (the others are removing Grid Layout module from their flag real soon) for some time (+2 years)

[2016-01-11 18:27] chriseppstein commented on #1962
it's compressing correctly now. We really need to fix sass spec so you can stop caring about these minor deltas.

[2016-01-11 18:27] #1962 closed, assigned to nobody

[2016-01-11 19:14] chriseppstein commented on #1963
For example 2, this is merely formatting, the browser will happily recognize the following:

[code]

So this aspect is a duplicate of #216.

[2016-01-11 19:17] lozandier commented on #1963
@chriseppstein Thanks for the clarification regarding example 2, being aware of #216, didn't think it'll apply to CSS constructs in addition to Sass constructs such as maps…

Didn't think to write my intended value for `grid-template-areas` that way before.

[2016-01-11 19:55] chriseppstein commented on #1963
Example 1 will require some non trivial changes to our parser. From the spec, we need to be able to parse `<line-names> = '[' <custom-ident>* ']'`. Our current thinking is that this is a new kind of list syntax. Here's the plan.

Our parser will allow any list (both space and comma delimted) to be wrapped in brackets. Those brackets will be printed if the list is output directly to the CSS output.

[2016-01-11 20:07] nex3 commented on #1963
I'm mostly on board. Just a couple nits. First, I think `unbracket()` would be nicer than `debracket()`, since it parallels `unquote()` for strings. Second:

I don't think this is right? You can write `(foo (bar (baz bang)))`, for example.

[2016-01-11 21:56] chriseppstein commented on #1963
Agreed. I updated the spec above.

Good point. Removed.

Another thing: We need to decide if brackets affect list equality. the separator does, but quotes in strings don't (which I increasingly think was a mistake). I updated the spec to address this.

[2016-01-11 23:44] xzyfer commented on #1963
Can I suggest this feature be accompanied by a feature flag?

[2016-01-12 00:26] chriseppstein commented on #1963
@xzyfer I'm not opposed, but we create feature flags when the syntax is backwards compatible but the semantics change. What point would a flag serve? It would be a syntax error during compilation if the new syntax is encountered.

[2016-01-12 00:40] xzyfer commented on #1963
I think the feature would be regarding the ability to parse the grid syntax. Library authors could (maybe?) fallback to string concatenation and unquoting. I'm not very familiar with the grid spec but off the top of my head this gets the job done.

[code]

Maybe the point is moot without conditional `@import`s.

[2016-01-12 00:47] chriseppstein commented on #1963
@xzyfer Exactly. All sass files are parsed and there's no way to avoid the syntax error by scripting.

[2016-01-12 05:17] manuel-di-iorio opened #1964 "Merge media queries with same conditions"
Use case (scss):

[code]

This will be compiled in nested mode to:

[code]

Same with compressed output:

[code]

---

This is instead what I expect, more or less _(nested mode)_:

[code]

---

As you can see, as the file will become more complex, as more media queries with same conditions there will be, not good if you want to compress your css a lot, but still using the powerful syntax of sass :

[2016-01-12 12:06] cimmanon commented on #1964
Duplicate of https://github.com/sass/sass/issues/116

[2016-01-12 16:37] mgreter opened #1965 "compile_file does not allow to pass a specific encoding"
To be clear, I'm talking about input encoding, output is always utf-8.

Maybe I'm missing something, but I couldn't figure out how to define a specific encoding for input files if they lack any bom or charset declaration. Therefore ruby sass will probably apply the default encoding, which would be `CP850` in my case. But I know that the file in question is utf-8, so I would expect:

[code]

Btw. I

[2016-01-12 16:48] mgreter commented on #1965
OK, found out how to do it, since cli had an option for exactly this:

[code]

Not sure if it would be worth adding a `default_encoding` option for the file compiler though.

[2016-01-12 18:12] #1964 closed, assigned to nobody

[2016-01-12 18:29] chriseppstein commented on #1959
`WONTFIX`

[2016-01-12 19:45] chriseppstein commented on #1965
That's an oversight. The encoding should be specifiable as an option. Ruby's file API allows a per-file-read specification of the encoding. Setting `default_external` globally is a workaround that works ok for things like the Sass executable, but should not be forced onto other processes.

[2016-01-13 07:28] abose opened #1966 "Sass watch on large project very slow to detect file changes."
Hi,
 I am part of the brackets open source project(brackets.io), and we were experimenting ruby SASS compilation support for brackets.
We have a project with 9000+ files being watched and around 20 SASS files in it. However, if we make a change only to one sass file among the 20, sass watcher takes around 20 seconds to detect that the file has changed and then trigger a recompile. However if i nar

[2016-01-13 18:57] tabatkins commented on #1963
While the CSSWG reserves the right to use bracketed groups in arbitrary ways, I intend for it to only be used rarely, and to contain lists.  I leave open as a reasonable possibility that future lists may be comma-separated.

[2016-01-13 21:51] lozandier commented on #1963
@chriseppstein @nex3  @tabatkins This all makes sense to me. Thanks @xzyfer for reminding me to not forget about the awesomeness of `unquote`.

[2016-01-14 11:32] zolotov opened #1967 "supports() clause doesn't support declaration-syntax"
`supports()` clause support, that was introduced in 3.4.20 is not fully compatible with W3C CSS spec.

According to [CSS Cascading and Inheritance Level 4](https://www.w3.org/TR/2015/WD-css-cascade-4-20150908/#typedef-supports-condition) it's allowed to place `supports_conditions` **OR** `declaration` inside `supports()` clause.

[code]

So the following imports are both valid and  equivalent:

[c

[2016-01-14 23:12] chriseppstein commented on #1966
Hi Arun, do you have the `wdm` ruby gem installed?

[2016-01-14 23:13] chriseppstein commented on #1967
Thanks, we'll get that fixed in the next patch release.

[2016-01-14 23:40] chriseppstein commented on #1966
It would be great if you could do some profiling on your project and let us know where you're seeing the bottlenecks.

[2016-01-15 08:02] harvey-woo opened #1968 "is_map function"
Really need a function to return if param is a map or others. The `type_of` function return `list` if i pass it a map as param.

[2016-01-15 10:16] KittyGiraudel commented on #1968
The `type-of` function returns `map` for maps.

[2016-01-15 18:02] chriseppstein commented on #1968
@Alphmega What @HugoGiraudel says is true:

[code]

If you're getting a different result, I'm very confused as to how. I guess you can tell us what version and implementation you are using -- maybe you just need to upgrade -- I dunno.

[2016-01-15 18:02] #1968 closed, assigned to nobody

[2016-01-15 22:12] nex3 commented on #1963
:+1:

[2016-01-15 22:44] chriseppstein opened #1969 "Integrate sass-spec into stable for 3.4 compat"

[2016-01-16 04:32] harvey-woo commented on #1968
@chriseppstein @HugoGiraudel After upgrading sass, it returns correct return. Thanks for answering

[2016-01-17 03:19] mgreter opened #1970 "List as map keys are only parsed when wrapped in parentheses"
Related to https://github.com/sass/libsass/issues/1537

The following sass

[code]

Results in

[code]

While

[code]

Produces:

[code]

IMO if lists are allowed keys, the first syntax should also be valid?
Currently libsass does happily parse both, so I wanted to clarify!

[2016-01-17 18:49] davidkpiano commented on #1956
@chriseppstein Do you think that with adding the simple restriction that properties can not be repeated for declaration blocks assigned to variables, my original proposal can be feasible?

I think it would be valuable since, even today, maps currently _are_ being used as declaration blocks, and the syntax isn't the best, nor is the need to convert the map to a declaration block.

I'm willing to he

[2016-01-18 06:31] CodyCahoon opened #1971 "Commenting out undefined SCSS variables"
When you comment out an undefined variable using /\* */ in your SCSS file, sass does not compile.

[code]

[code]

[2016-01-18 12:16] davidkpiano commented on #1971
That's because in CSS comments, which are `/* these comments */` and not `// these comments`, variables can be interpolated:

[code]

**Output:**

[code]

[2016-01-18 13:06] cimmanon commented on #1971
Duplicate of https://github.com/sass/sass/issues/1123

[2016-01-18 17:53] chriseppstein commented on #1970
@mgreter Looks like our list parsing code raises the error without letting it fall back to the map's parsing. I don't know whether @nex3 considers this a bug or not.

[2016-01-18 17:55] chriseppstein commented on #1971
This is not a bug. Interpolation is a feature of CSS comments. Use Sass comments (`//`) to comment out sass code.

[2016-01-18 17:55] #1971 closed, assigned to nobody

[2016-01-20 08:22] coilysiren opened #1974 "Multiple include on one line - Indented Syntax"
I'm trying to do a multiple includes on one line and I cant seem to get it to work. My use case right now is

[code]

I believe related to #216 ?

[2016-01-20 09:34] artch commented on #1934
@chriseppstein I'd like to bump this as I didn't receive an answer here.

[2016-01-20 12:11] jaisonkuriakose opened #1975 "user interface"

[2016-01-21 14:53] davidzoli opened #1976 "Ampersand and multi line parent rule set parse error"
Multi line parent rule set may parsed incorrectly. Next rule start right after the coma char and contains the `\n` char too.
In outputStyle nested and expanded the generated css will a bit weird (but valid even so, I hope).

Example:

[code]

In this case the parent `.b` will be `\n.b`, so the compiled css will be:

[code]

Notice the new line after the second `.c`

[2016-01-21 15:37] karstenvds commented on #429
Any updates on this?
To me it seems like this is still open when I tried to dynamically create '@support' rules.

[2016-01-21 15:47] davidkpiano commented on #429
@KarstenBuckstegge Can you post your Sass code that's not working? This works:

[code]

[2016-01-21 19:15] chriseppstein commented on #1974
Use `@function` for this.

[code]

[2016-01-21 19:15] #1974 closed, assigned to nobody

[2016-01-21 19:16] chriseppstein commented on #1975
issues should have more information like

[2016-01-21 19:16] #1975 closed, assigned to nobody

[2016-01-21 19:35] chriseppstein commented on #1976
I've noticed this too.

[2016-01-22 05:45] ebidel commented on #1128
/sub

[2016-01-22 20:56] nex3 commented on #1970
I'm happy with Ruby Sass's current restriction here. It makes it easier to visually identify the difference between an element of a key and an entirely new key-value pair, and it protects against strange behavior if a user accidentally leaves out a `:` in something they were intending to be a map key. It also removes ambiguity in cases like `(foo : bar , baz , bang : qux)`.

[2016-01-23 14:04] semisedlak commented on #116
+1

[2016-01-23 16:01] matovas commented on #116
hi,
I wrote an article about the targeting of styles in Sass
http://www.matov.pro/blog/adaptivity-targeting-styles
it is realy now

[2016-01-24 19:32] mgcrea commented on #1094
:+1: for `import (reference)`, that's really a key feature when you work with large frameworks.

[2016-01-25 19:42] #1970 closed, assigned to nex3

[2016-01-25 21:13] mgreter commented on #1970
Acknowledged

[2016-01-25 23:59] chriseppstein opened #1 "Namespace sigil"
The current proposal suggests using a `-` to separate a namespace from the identifier. The reasons for this are indicated in the proposal. I move that we use a sigil that is not part of a legal identifier. This completely avoids the possibility for a namespace collision, but there are other reasons.

Here is a chat log from some out-of-band discussion on this topic:

(@mirisuzanne) Miriam Suzanne

[2016-01-25 23:59] chriseppstein opened #2618 "Namespace sigil"
The current proposal suggests using a `-` to separate a namespace from the identifier. The reasons for this are indicated in the proposal. I move that we use a sigil that is not part of a legal identifier. This completely avoids the possibility for a namespace collision, but there are other reasons.

Here is a chat log from some out-of-band discussion on this topic:

(@mirisuzanne) Miriam Suzanne

[2016-01-26 00:07] nex3 commented on #2618
I'd like to wait until after the first draft of the proposal is complete before deciding this for sure, but I'm leaning towards adding an explicit namespace sigil and no longer considering placeholder selectors to be module members in the second draft.

@tabatkins How likely do you suppose it is that notation like `foo.bar` will become meaningful in CSS in a property-value context? What about `foo

[2016-01-26 01:11] tabatkins commented on #2618
`foo.bar`, `foo:bar`, or `foo::bar` are all totally fine.  We don't anticipate ever doing anything with syntax that looks like that.  The only place where they'll maybe show up is a selector in a value context, but that'll be wrapped in a function of some kind (because selector syntax is too wide to use naked, and would prevent us from putting anything else in the syntax). As long as that's okay,

[2016-01-26 12:37] DanielApt commented on #350
+1

[2016-01-27 13:19] narayanwaraich commented on #1562
Had the same problem [ on Windows ], @ideeaco solution works for me.

[2016-01-27 17:50] albybarber commented on #350
@joevandyk if you are using grunt as part of your build process then you could just throw - `grunt-scss-lint` https://github.com/ahmednuaman/grunt-scss-lint into one of your tasks.

Also a cool trick i have done in the past (before SCSS and GRUNT) is add banners to your site that say `IE RULE LIMIT REACHED` then add `display:none` styles right at the bottom of your stylesheet. This way if you reac

[2016-01-28 15:43] nooperpudd opened #1978 "undefined method `to_tree' for nil:NilClass"
ruby 2.0.0p481 (2014-05-08 revision 45883) [universal.x86_64-darwin14]
Sass 3.4.21 (Selective Steve)
Compass 1.0.3 (Polaris)

[Listen warning]: Change block raise an execption: undefined method `to_tree' for nil:NilClass
Backtrace:
        /Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/staleness_checker.rb:184:in`tree'
        /Library/Ruby/Gems/2.0.0/gems/sass-3.4.21/lib/sass/plugin/st

[2016-01-28 17:14] mmase opened #1979 "Sass doesn't maintain order of selectors when using loops"
I'll demonstrate this quickly with an example.

This:

[code]

Compiles to:

[code]

For HTML:

[code]

As you can tell, this is a problem because the `background-size` property will be ignored by the browser unless I use `!important`.

Shouldn't sass maintain this order?

[2016-01-28 20:40] ngryman opened #1980 "Top most parent selector"
Hi guys,

I know this has been already discussed (i.e. #1804, #218).
But I think `sass` is still missing some sugar in its syntax :)

When we speak about nesting, we inevitably speak about states / modifiers of parents. This is components era!

Currently, it is very frustrating to style a child whose parent is mutating and the only choices are:

[code]

Either it is unnecessary verbose or we lose

[2016-01-28 22:50] jeremydelacasa commented on #1980
+1

[2016-01-29 02:27] Jean-Xu commented on #1980
+1

[2016-01-29 16:12] dellow opened #1981 "SASS converts color string to HEX value but only in 'compressed' output style."
I have a map of colors, if I try to loop through these and output the key for each colour some of them get converted to a HEX value but only when using the 'compressed' output style:

[code]

Outputs:

**Compressed:**

[code]

**Expanded:**

[code]

[2016-01-29 17:58] chriseppstein commented on #1979
Pretty sure this is a duplicate but I can't find it. This is how Sass has worked since before I got here. I don't like it, but changing it is a big deprecation -- though maybe worth doing at 4.0. Maybe @nex3 can weigh in.

For now, the direct properties of a selector are not split up by child selectors when nesting. If you need to maintain this order, you'll need to repeat the `.photo` selector or

[2016-01-29 17:59] cimmanon commented on #1981
Duplicate of https://github.com/sass/sass/issues/1256

[2016-01-29 18:01] mmase commented on #1979
Awesome, thanks for that tip. I don't mind the `&` as much as I mind `!important`.

I suppose it might also get tricky if there is a loop in the middle of properties and not at the top or bottom.

[2016-01-29 19:38] chriseppstein commented on #1980
The ability for `&` to be used in SassScript means that the language doesn't need to define sugar for every possible type of selector manipulation (many such types of manipulation has been suggested over the years). Here's some Sass code you can use _right now_ that does this for you:

https://gist.github.com/chriseppstein/476836b0488e293b258e

[2016-01-29 19:38] #1980 closed, assigned to nobody

[2016-01-29 19:39] chriseppstein commented on #1981
Use quotes for color names that are actually strings and not references to a css color.

[2016-01-29 19:39] #1981 closed, assigned to nobody

[2016-01-29 20:08] chriseppstein commented on #1978
I set up a fresh project using compass 1.0.3 and sass 3.4.21 using ruby 2.0.0p481 and ran the watcher, made several edits and everything worked fine. I will need better steps to reproduce this issue.

[code]

[2016-01-29 20:08] #1978 closed, assigned to nobody

[2016-01-29 20:10] ngryman commented on #1980
Thanks for the gist. I expected this, but it's worth trying.

Still, I keep thinking that usage/best practices are constantly evolving. `sass` is now old and my use case is the use case of more and more people. `sass`, and other tools should follow usage, not principles.

Defining components and styling children is something **very** usual, it's a common pattern. That's why `&` was introduced. It

[2016-01-29 20:22] chriseppstein commented on #1979
Found it. Duplicate of #1243

[2016-01-29 20:22] #1979 closed, assigned to nobody

[2016-01-30 17:19] JD-Robbs commented on #1094
+1 for `import (reference)`.

Just wondering if `@import (reference)` is planned? I can't see any other ways of achieving partial code re-use from other frameworks _unless_ they offer mixins for _everything_.  LESS's `@import (reference)` makes this super simple.

[2016-02-01 23:01] MCTaylor17 opened #1982 "Allow extending within loops and if statements"
I'm trying to build utility classes for styling tables.  My basic classes consist of the following:

[code]

This works as expected, however, I want to fill the gaps between height classes with the following:

[code]

Practicality aside, why would this be prohibited?

[2016-02-01 23:10] cimmanon commented on #1982
It's not restricted because you're using a loop or an if statement, it's restricted because you're extending outside of a selector.  The purpose of extend is to consolidate selectors and you don't have one here.

[code]

Once you put it inside of a selector, you get a different error instead:

Which, of course, is solved by removing `table` from your extend statement.

[2016-02-02 05:46] actuallymentor commented on #1710
Getting 40-60% CPU usage on an i7 (ruby process specifically) as a result of sass --watch.

EDIT: Debugging complete. Run 'gem install listen'. For whatever reason the listen gem is not a dependency anymore which makes sass's ruby process go haywire.

[2016-02-02 17:59] #1982 closed, assigned to nobody

[2016-02-02 18:08] MCTaylor17 commented on #1982
Thank you @cimmanon.  Clearly I locked onto the wrong problem.  My final code looked like this:

[code]

[2016-02-04 01:41] dartess opened #1983 "style compressed, BOM and @font-face"
style compressed and his BOM breaks first @font-face rule:
https://i.gyazo.com/075571ab196119ff877f24f9d2c63b33.png
https://i.gyazo.com/7043c4f2f0053a87a42b725e175e8fb9.png
with BOM my first rule with regular font not work

[2016-02-04 19:16] chriseppstein commented on #1983
I actually don't know what this bug is about.

Please provide a sass file with no dependencies that reproduces this issue and what the expected output should be and how it's different from the actual output.

[2016-02-04 21:52] telekid opened #1984 "Parser should throw error if invalid whitespace appears in input sass file"
If a non-standard whitespace character is included in a SASS file, SASS will silently include that whitespace in the emitted file. This can become a debugging nightmare.

Example:
http://codepen.io/anon/pen/jWvJRe?editors=1100

[2016-02-05 19:09] lencioni opened #1985 "SCSS parser fails with CRLFs under JRuby 1.9"
In fixing [a bug related to CRLFs in SCSS-Lint](https://github.com/brigade/scss-lint/pull/701), I found that our test suite fails under JRuby 1.9 with errors like the following:

[code]

The input being parsed here is

[code]

where the `^M`s are CRLFs typed in Vim by pressing `<Ctrl>+v<Ctrl>+m`.

[2016-02-08 10:08] alexhass opened #1986 "Code style with parent selector get's destroyed"
Based on "@mixin does-parent-exist" in sass documentation I created a mixin with this code to generate RTL css:

[code]

The scss file looks like this:

[code]

and generated this broken RTL output:

[code]

but should generate this output:

[code]

Is there a way to fix this? e.g. change the mixin code - or is this just a bug? I'm using compass.app that is based on jruby.

[2016-02-08 13:19] veke commented on #1094
This would be nice. LESS reference import is really handy.

[2016-02-08 15:36] mootari commented on #851
@nex3 According to http://sass-compatibility.github.io/ libsass 3.3 has reached full feature parity. What compatibility issues that block this issue are still left?

[2016-02-08 18:25] chriseppstein commented on #1986
Duplicate of #1976.

[2016-02-08 18:25] #1986 closed, assigned to nobody

[2016-02-08 18:45] chriseppstein commented on #1985
I [added a test case to make sure CRLF parses correctly](https://github.com/sass/sass/commit/ffa19a651be1cf9973cd18527744f554621c4dbd). I couldn't reproduce this issue. [Even on JRuby](https://travis-ci.org/sass/sass/jobs/107838138). Maybe there's some very specific set of configuration, platform, and environment. If so, someone needs to break this down into something I reproduce and fix.

[2016-02-08 18:45] #1985 closed, assigned to nobody

[2016-02-08 18:45] chriseppstein commented on #1983
Closing due to nonresponsiveness.

[2016-02-08 18:45] #1983 closed, assigned to nobody

[2016-02-08 18:47] chriseppstein commented on #1984
Duplicate of #1976.

[2016-02-08 18:47] #1984 closed, assigned to nobody

[2016-02-08 18:55] chriseppstein commented on #1710
@actuallymentor Recent versions of listen have a _lot_ of ruby dependencies. We ship a version of listen that is older and did not have as many dependencies. Ideally, we'd use a lighter weight library, and extract the CLI to it's own gem so people who are just using the core compiler can do so without all the CLI dependencies.

[2016-02-08 20:34] lencioni commented on #1985
@chriseppstein Thanks so much for looking into this! I'll report back here if I am able to find out any more info.

[2016-02-09 06:06] actuallymentor commented on #1710
@chriseppstein lighter dependencies is great, but not if it makes my i7 spin half of it's power to the ruby process :)

I'd gladly trade a sucky dependency structure for battery life and a silent computer. I literally only noticed something was up because it was blowing like an airplane while just working in sublime.

[2016-02-10 15:16] mburger81 commented on #1713
@mikemonteith can you share with us the work-around? I have the same thing to do.

[2016-02-10 15:26] mikemonteith commented on #1713
@mburger81 I wish I could remember what I was working on back then to find the code. I've changed job since then so it's likely I don't have access to the code any more anyway. Sorry :disappointed:

[2016-02-10 15:38] mburger81 commented on #1713
np ;)

[2016-02-11 01:12] chriseppstein commented on #1710
@actuallymentor I hear you. Fortunately, there's a work around (installing a newer version of listen that we will use instead), while you wait for us to refactor.

[2016-02-11 06:05] arpanpatel commented on #1562
great..@ideeaco solution work for me (on windows)

[2016-02-11 16:15] thepian opened #1987 "How to handle Ampersand in mixins"
If you use & in a mixin the mixin is limited to being nested in a selector.

In older LibSass `&` would be replaced by blank if used globally, which supports some very useful solutions.

In the Sass tool I get an error;

[code]

Why could this not be a warning rather than an error. Or alternately, how would an if construct be made to test for the mixin being inside/outside a rule.

The sort of mix

[2016-02-11 18:23] chriseppstein commented on #1987
The way to write this mixin to handle root-level inclusion is like this:

[code]

[2016-02-11 18:23] #1987 closed, assigned to nobody

[2016-02-11 23:23] gkiely commented on #626
Hi @nex3 @chriseppstein has there been any update on this feature?

[2016-02-12 10:24] smiLLe opened #1988 "any way to test if @content has content?"
Hey guys,

is there any way to test @content for any content? like length(@content) ?

[2016-02-12 19:15] nex3 commented on #851
It's not compatibility that's blocking this, it's getting a module system in place.

[2016-02-12 19:22] nex3 commented on #1710
Specifically, the dependencies in the newer version of listen are incompatible with Ruby 1.8.7, which Sass still supports because it was installed by default on OS X until relatively recently.

[2016-02-12 19:40] chriseppstein commented on #851
Note that for node-sass users, using eyeglass + the eyeglass-math module will get you all of this functionality in the interim.

[2016-02-12 19:42] chriseppstein commented on #1988
No, but it would be easy enough to add a function that can check this.

[2016-02-12 19:43] chriseppstein commented on #1988
Maybe `content-exists()`. @nex3 thoughts?

[2016-02-12 20:41] nex3 commented on #1988
Sounds reasonable to me.

[2016-02-12 21:31] lencioni opened #1989 "sass-convert integration with Vim quirk"
I have set Vim's `equalprg` for scss files to be:

[code]

Which works well for things that look like regular CSS. However, when run it on the following code:

[code]

it fails with the following trace:

[code]

After thinking about this for a bit, I realized that it probably wasn't detecting the filetype properly (I'm guessing that Vim passes content through via stdin) so it was using the default

[2016-02-13 13:20] nooperpudd opened #1990 "Change block raise an execption: undefined method `to_tree' for nil:NilClass"
ruby:2.3.0
sass:3.4.21

[code]

[2016-02-15 00:58] MareoRaft commented on #1965
How can I find the most easy "Help Wanted" issues?  I'm new but would like to contribute.

[2016-02-16 09:31] medzhidov opened #1991 "Why i can't call function inside map-item?"
I use in my scss:

[code]

But if i use `map-get($body, sm)`, i get:

`
calc(100% - #{70px / $font_size} )
`

What i do wrong?

[2016-02-17 09:53] Buslowicz commented on #1128
I've read briefly all the above and still miss 1 use case.
What if developer creates a SASS mixin to be used inside of SASS, but then will want to export that to be used outside (as CSS mixin). Ideally that would look like:

[code]

Sadly, none of the above would work, while this would be used a lot (I was actually in need of such thing myself). Any ideas if that will be possible and eventually wh

[2016-02-17 10:19] heikoholland opened #1992 "Different behavior expected when using &"
I don't know if I am misunderstanding the & operator or this should behave different.
I expect this

[code]

to become this

[code]

but instead it becomes this

[code]
### Possible use case would be something like this

[code]

Would be a little bit shorter than

[code]

[2016-02-17 16:26] krom commented on #1983
The problem appears if the original file contains UTF-8 characters

[code]

Command
`scss file.scss file.css
`

Result files is

[code]

Command
`scss -t compressed file.scss file.css`

Result files is

[code]

[2016-02-19 03:21] bra-kodairakenya opened #1995 "Why scope success?"
Sorry!!!
I have poor English.

Look so described the problem under.

[code]

[2016-02-19 03:28] cimmanon commented on #1995
I cannot reproduce this.  If you are using LibSass, you will need to file a bug report with that repo.

[2016-02-19 03:33] bra-kodairakenya commented on #1995
Thanks. I use LibSass. Write a report from now.

https://github.com/sass/libsass/issues/1923

[2016-02-19 14:45] nathell commented on #1976
I've played with this and here's what I noticed:
- The currently-generated CSS appears to be valid. I'm not sure where in the CSS specification this is, but browsers seem to render the following HTML properly even despite the newline:

[code]
- The code that preserves newlines appears to be in [StaticParser#selector_comma_sequence](https://github.com/sass/sass/blob/stable/lib/sass/scss/static_pars

[2016-02-19 20:30] whaaaley commented on #1992
I think you'd have better luck just switching them around instead. It's more straightforward that way.

[code]

[2016-02-19 20:32] nex3 commented on #1128
@Draccoz Your code as written will almost certainly not work. Your `--my-mixin` declaration is valid plain CSS, and we want to limit the degree to which we step on plain CSS syntax as much as we possibly can. If we want to support people injecting statement-level CSS into custom properties—which I agree seems useful—we need to find a way to do it within `#{}`.

We've already talked about treating

[2016-02-22 04:49] nscarcella commented on #216
+1 I want this so much!

[2016-02-24 05:52] Kazzaky commented on #1094
sass has similar functionality like less `import (reference)` and its partial css with leading underscore as first character in name

[2016-02-24 07:53] JD-Robbs commented on #1094
@Kazzaky while it won't be compiled if you grab a directory containing it, it'll still be compiled into the file importing it, though. Unless there's an undocumented option?

[2016-02-24 08:52] Kazzaky commented on #1094
@JD-Robbs you are right... my bad

[2016-02-24 11:49] JD-Robbs commented on #1094
No probs. Just thought that, if I missed it, that'd be a dream come true.

[2016-02-24 18:07] ncoden commented on #1713
:disappointed: wanted the solution too

[2016-02-24 18:26] #1995 closed, assigned to nobody

[2016-02-24 18:29] chriseppstein commented on #1992
Sass doesn't know what identifiers are element names and what identifiers are just meant to be tacked onto the existing name. element names are tricky from this perspective where other combinators for compound selectors have specific syntax.

We have no plans to address this issue at this time.

[2016-02-24 18:29] #1992 closed, assigned to nobody

[2016-02-24 18:32] mkstix6 commented on #1019
@phaza I was experiencing the same thing with Foundation(6). I was also extending .rows and .columns (the way I think they encourage, I could be wrong). Perhaps we should relay that to @zurb for an answer. It may be that those classes spider down deeply.

[2016-02-24 18:33] chriseppstein commented on #1991
I can't reproduce this with either ruby sass or libsass. Probably you just need to upgrade or something.

[2016-02-24 18:33] #1991 closed, assigned to nobody

[2016-02-24 20:20] chriseppstein commented on #1990
Thanks for the bug report. I can't reproduce it. using the latest sass and ruby 2.3. Please provide steps to reproduce.

[2016-02-24 20:20] #1990 closed, assigned to nobody

[2016-02-24 20:22] chriseppstein commented on #1989
Auto detection is not very reliable. We use the filename. the `--from` option is necessary when using std input.

[2016-02-24 20:22] #1989 closed, assigned to nobody

[2016-02-24 20:28] chriseppstein opened #1996 "separate sass engine and cli into separate gems."
The code for for the CLI is unnecessary when using just the core engine and this has made installing dependencies etc more complex than needed.

I think it's better to extract the sass engine to it's own gem (sass-core) than to move the CLI out (sass-cli). This way `gem install sass` still just works as it always has for people who are following install guides etc.

[2016-02-24 20:28] chriseppstein commented on #1996
@nex3 :+1: on this idea?

[2016-02-24 20:31] chriseppstein opened #1997 "Upgrade to latest listen"
Make listen a proper dependency now that it no longer depends on celluloid.

This requires deprecating our support of old versions of ruby (at least < 1.9.3).

We might want to do this once #1996 happens if we agree that's the right direction.

[2016-02-24 22:28] chriseppstein commented on #1996
## Proposal

### Gems:
- sass-core will be the Sass Engine and supporting ruby code.
- sass will be cli and depend on sass-core.

### Git:
- sass-core will be fork of sass git repo.
- sass will have the core code removed and remain the main git repo.

### Existing Issues:
- Leave them in sass/sass

### New issues:
- either repo is fine. we won't police users about it.

### Versioning:
- a release

[2016-02-24 22:33] chriseppstein opened #1998 "error message changes in ruby 2.3"
[code]

Used to be:

[code]

[2016-02-25 20:14] mr21 opened #2000 "Feature: factorise the same values"
Hi :)

I didn't find an issue about this, but why can't we do something like this:

[code]

Or maybe something like:

[code]

[2016-02-25 20:15] cimmanon commented on #2000
Duplicate of https://github.com/sass/sass/issues/109

[2016-02-25 20:17] mr21 commented on #2000
Oh my bad, I didn't search enough...

[2016-02-26 00:40] ArmorDarks commented on #626
I really hope to see this feature too. Without it It's impossible to do some very basic things.

Functions can be called with `call()`, and it basically allows to do whatever you want with their names and calls. I'm quite ensured that mixins which are in it's nature very similar to functions should have `call` method too.

Maybe even like this

[code]

Nunjucks/Jinja, for example, using something

[2016-02-26 11:54] ArmorDarks commented on #871
Just for the information, Jinja has quite similar solution with macros: http://jinja.pocoo.org/docs/dev/templates/#call

Transfering it into Sass would look like this:

[code]

Or for mentioned by @chriseppstein example at the beginning:

[code]

Very simple and clean. And fully backward compatible.

[2016-02-26 15:01] grigory-leonenko commented on #1094
+1 for import (reference).

At moment I use css modules with sass and foundation, and it critically import only mixins and variables. Because each small module contain all foundation styles.

[2016-02-26 17:57] #2000 closed, assigned to nobody

[2016-02-26 20:49] paravozz opened #2001 "pseudo elements"
When SCSS generates CSS, there whitespace between selector and him pseudo classes.

Example:

<pre><code> **SCSS:**
a {
    some css;
    :hover {
        morecss;
    }
}
</pre></code>

It compiles to

<pre><code> **CSS:**
a {
    some css;
}
a :hover { /\* whitespace after 'a' and some browsers can't correct read it */
    morecss;
}
</pre></code>

[2016-02-26 21:04] davidkpiano commented on #2001
Try this:

[code]

Add the ampersand: `&` to "attach" the parent selector.

[2016-02-26 21:10] paravozz commented on #2001
Thank You!

Closed.

[2016-02-26 21:10] #2001 closed, assigned to nobody

[2016-02-26 23:21] nex3 commented on #1996
:+1:

[2016-02-27 01:18] nex3 commented on #1997
Chris and I discussed this and agreed to drop support for Ruby 1.8.7 and 1.9.3 as of Sass 3.5. The details will be in a blog post to be posted Monday.

[2016-02-27 13:50] lowenthal-jason commented on #1827
@chriseppstein There's really not many steps to reproduce this. My environment is Mac OSX.

Once SASS is installed:

![image](https://cloud.githubusercontent.com/assets/7915144/13373213/b4317e42-dd26-11e5-8c4b-fccd5f69140b.png)

If I include the backtrace, it looks just like what @wildpine posted

[2016-02-28 08:12] typical000 commented on #216
+1 Because in SASS it's so hard to write something like this:

[code]

[2016-02-28 11:12] DeoThemes opened #2004 "Sass source maps with Google Chrome"
Hello.

I'm trying to make source maps working with Google Chrome so instead of compiled style.css it will show me .scss style. I'd tried to add sass folder in dev tools workspaces and than go to sources tab and right click on style.css then map it to style.scss. But after this I still see style.css line in a dev tools.

What am I doing wrong?

Hope you can help with that.
Best Regards.

[2016-02-28 12:05] alesak opened #2005 "comma in parent cause duplicate class name when inside of pseudoclass"
`section.map, section.results {
            .fa:not(.fa-inverse) {
                color: black;
            }
    }`

results in :not(.fa-inverse, .fa-inverse)

`body section.map .fa:not(.fa-inverse, .fa-inverse), body section.results .fa:not(.fa-inverse, .fa-inverse) {
    color: black; }`

sassc: 3.3.0-10-g8d3d-dirty
libsass: 3.3.3-13-g5069
sass2scss: 1.0.5

[2016-02-28 16:32] cimmanon commented on #2005
I cannot reproduce this with version 3.4.20.  If you are using LibSass, you need to file your bug report with that repo.

[code]

[2016-02-28 22:37] alesak commented on #2005
sorry, wrong repo

[2016-02-28 22:37] #2005 closed, assigned to nobody

[2016-02-29 20:00] ubergeekzone commented on #2004
@DeoThemes See if this will help you out any at all https://robots.thoughtbot.com/sass-source-maps-chrome-magic

[2016-02-29 20:45] nex3 commented on #1996
Another possibility would be to rename this repo to `sass-core`, so that it preserves all its existing issues, then create a new repo called `sass-cli` that's a fork of this one. We'd still release the code in the `sass-cli` repo as a gem named `sass`.

[2016-02-29 22:14] chriseppstein commented on #2004
It'd be good to have a HOWTO on our website for this.

[2016-02-29 22:16] ubergeekzone commented on #2004
@chriseppstein i am working on a HOWTO for this tonight for you guys, found out about this where it asked if someone wanted to do it on twitter.

[2016-03-01 01:32] DeoThemes commented on #2004
@chriseppstein  Hi, thanks for advice, but I've already checked this article and tried to follow all steps. But on a step **Map to network resource** when I right click on style.scss there are no options to choose file. Here is screenshot  - http://clip2net.com/s/3uZ2fab

Maybe the problem can be cuz I'm running file on a local machine and a format is file:/// instead of localhost?

It might be ve

[2016-03-01 04:16] ubergeekzone commented on #2004
What OS are you on? I think the issue is because you are trying to access
it via file://

On Monday, February 29, 2016, DeoThemes notifications@github.com wrote:

##

Amy Bridges
Owner
P: (404) 487-6003 ext 700
E: amy.bridges@invoate.com
LinkedIn https://www.linkedin.com/in/amy-bridges-ab33b336 | Invoate
http://www.invoate.com | Behance https://www.behance.net/ubergeekzone

[2016-03-01 04:30] DeoThemes commented on #2004
I'm on Windows 10. If it's important to use local server, what soft would you recommend?

Thanks.

[2016-03-01 04:32] ubergeekzone commented on #2004
Download XAMPP https://www.apachefriends.org/index.html

On Monday, February 29, 2016, DeoThemes notifications@github.com wrote:

##

Amy Bridges
Owner
P: (404) 487-6003 ext 700
E: amy.bridges@invoate.com
LinkedIn https://www.linkedin.com/in/amy-bridges-ab33b336 | Invoate
http://www.invoate.com | Behance https://www.behance.net/ubergeekzone

[2016-03-01 15:30] stevenvachon commented on #1847
I think that a second argument for `round()` makes sense for this. Less.js offers such. Custom functions add complexity around a standard documentation (like Sass'). Compass is useless to me and is just bloat.

[2016-03-02 08:27] tigrr opened #2006 "sass --watch directory also watches other directories causing high CPU usage"
Suppose we have a directory structure like the following: sass, css, other files and folders.
`sass --watch sass:css`
watches not only "sass" directory, as you would expect, but the entire current working directory. Sass doesn't process them though. This causes high CPU usage, especially if you have many files in your active directory.

Perusing into other issues I've found out that this behavior

[2016-03-02 21:55] #1562 closed, assigned to nobody

[2016-03-02 21:55] #1966 closed, assigned to nobody

[2016-03-02 21:55] #2006 closed, assigned to nobody

[2016-03-02 21:56] chriseppstein commented on #2006
This was how it was always supposed to work, but there was a hard-to-find bug that watching the current directory papered over for most users. I found the hard-to-find bug and removed the hack we had added to watch the current working directory.

[2016-03-02 21:57] chriseppstein commented on #1562
I found the proper fix for issues #1393 and #1411

[2016-03-02 21:58] chriseppstein commented on #1966
I found the bug and fixed it.

[2016-03-03 04:41] DeoThemes commented on #2004
Hi.

Finally it's working, now I can see sass files in Google Chrome. But now I'm having another problem. If I make some changes to sass file, it doesn't change file in browser. Here is screenshot - http://clip2net.com/s/3v5wvXU

Thanks.

UPD: found the problem, it's because my compiler still was working with an old files located not on the localhost.

Thanks a lot for your help. Someone definitel

[2016-03-03 05:15] arpanpatel commented on #1562
i started using [prepros](https://prepros.io/) for sass compilation..it work great for me

[2016-03-03 08:06] abose commented on #1966
Thanks!

[2016-03-03 14:43] fabiospampinato opened #2007 "Better support for :not(%placeholder) where %placeholder hasn't been extended"
At the moment the following SCSS:

[code]

will compile to nothing, in my opinion this is not the expected behaviour, it should get compiled to:

[code]

the fact that `%foo` has never been extended, in the case where it's inside a `:not()`, doesn't mean that the selector will never match anything.

[2016-03-03 15:01] cimmanon commented on #2007
This does not seem to be consistent with how placeholder behaves under any other circumstance.  I do not see why anyone else would believe that a selector that contains a placeholder selector would exist in the compiled output when it hasn't been extended.

[code]

[2016-03-03 18:39] fabiospampinato commented on #2007
I'm only talking about when inside a `:not` pseudo-class, not in general.

If fact in the example that you provided nothing should change at all. `.foo%bar` matches an element that has the class `foo` and also extends `%bar`, therefor if `%bar` is not extended then the selector won't match anything and shouldn't compile.

But in the example I provided an element matches the selector if has the cla

[2016-03-03 19:05] chriseppstein commented on #2007
Sass is working correctly here. `.bar:not(%foo)` means "All the elements with class `bar` that are not also `%foo`". There is no `%foo`, so there's no need for the `not()` pseudoclass. To verify this logic, consider `.bar:not(span)` in a world where you can verify without a doubt that there is no `span` element with class `.bar`; the `not` is pointless in that situation and can be safely removed.

[2016-03-03 19:05] kaelig opened #2008 "Improve backtrace terminal usability"
In iTerm2 (and maybe in other terminals), any pattern like such:

[code]

e.g.

[code]

…becomes clickable (CMD+click) and links to said file, pointing at said line.

Currently, Sass's backtraces look like this:

[code]
1. Is this something that could be modified so that developers can easily navigate to the right line in a file?
2. Would it make sense, or am I the only one to care about these ter

[2016-03-03 19:08] chriseppstein commented on #2008
for historical reasons, Sass matches ruby's stack trace format. I suggest iTerm add support for other kinds of stack trace formats (maybe there's a regex config or something?)

[2016-03-03 19:08] #2008 closed, assigned to nobody

[2016-03-03 19:09] #2004 closed, assigned to nobody

[2016-03-03 19:26] chriseppstein commented on #1847
This is complicated because `round()` returns a number and Sass will still round that number to the global precision setting unless we somehow set that number with a flag that says "this instance of this number has this particular precision." Alternatively it can return a string but that number could no longer be used for further math calculations. @nex3 is against the idea of flagging a number to

[2016-03-03 19:46] stevenvachon commented on #1847
A second argument would override the global default. Does Less.js solve any of the string stuff in its `round()`?

[2016-03-03 20:46] fabiospampinato commented on #2007
There are at least 2 fundamental flaws in your reasoning:
1. In the example case I provided we know for sure that the pseudo-class is not needed, but what if we couldn't know? Just to provide a real life scenario that may actually happen: I'm writing a front-end framework and the user can choose to partially build it, basically avoiding the compilation of some files, and it's a possibility that sa

[2016-03-04 06:45] #1143 closed, assigned to nobody

[2016-03-04 08:42] TangMonk opened #2009 "error message not shows proper file path"
I am using rails for compile all sass assets file. when I run  `RAILS_ENV=production rake assets:precompile` comamnd, it shows following error:

![image](https://cloud.githubusercontent.com/assets/3498786/13522037/ef4418b8-e227-11e5-9beb-60c4770cb831.png)

I do not know where is error occurs

[2016-03-04 08:42] #2009 closed, assigned to nobody

[2016-03-04 09:08] tigrr commented on #2006
@chriseppstein , sorry, I am not sure what you're talking about. The reason I complained was very high CPU usage and messages from sass in the terminal about changes made (new files detected) in sass files in other directories.
Also, I'm using version 3.4.21

[2016-03-04 18:30] chriseppstein commented on #2007
We _can know_ because placeholders are a sass stylesheet concept and the compiler has examined the entire stylesheet and all imported stylesheets and knows definitively that there are not elements matching `%bar` because it was not extended by a concrete selector.

Agreed. you're making my point here.  `body:not(html)` is always equivalent to `body`; removing the not has no functional difference.

[2016-03-04 18:47] chriseppstein commented on #2007
@fabiospampinato ah I think I see the issue here. we're in violent agreement. I thought you were requesting that we don't output anything instead of just omitting the `:not()`.

TL;DR we both fail at reading comprehension.

[2016-03-04 20:32] Jujucristine opened #2010 "Output indentation levels"
In non-compressed output modes, the indenting seems to get all messed up if you're using nesting in the sass file. You might get something like this in your result:

[code]

When it should all be outputted like so:

[code]

There's also another indenting/spacing problem with these output modes in which any nested sass returns without a new line between each selector. This is a problem with the "tr

[2016-03-04 20:37] nex3 commented on #1847
One possibility would be to add a `$precision` parameter to `inspect()` that would control the precision of any numbers emitted while converting the value to a string. Tying it to `inspect()` makes it very clear that you're getting a string, not a number, out the other end.

[2016-03-04 20:45] fabiospampinato commented on #2007
My bad for haven't been clearer.

Outputting nothing is exactly what currently happens, as said in my first post.

I'm glad the we finally come to a mutual understanding.

[2016-03-04 21:07] #1997 closed, assigned to nobody

[2016-03-05 05:36] whaaaley commented on #1847
I like @stevenvachon's idea. Seems simple from a user's perspective. Plus it has more use than simply limiting decimals for output. I can't think of any scenario where I had wanted to round to the nearest whatever decimal and wanted it to be a string. If that were the case I'd imagine there would be lots of people casting strings to numbers for more math.

[2016-03-07 18:56] Jujucristine commented on #2010
The source of the problems seems to be in the following lines on /visitors/to_css.rb:

Line 248:

[code]

Trailer on line 332 seems to not be getting to line 347:

`trailer = "\n" if node.group_end`
`output("}" + trailer)`

[2016-03-07 21:11] #1827 closed, assigned to nobody

[2016-03-07 21:25] chriseppstein commented on #1847
@nex3 The semantics of inspect is that it is for debugging. I don't want to confuse that by telling people inspect is sometimes how you put a css value into css output. I'd rather just make an entirely new function for this.

But tbh, my pref is still to just set an instance level precision for the numbers where it matters and let the sass numeric output code do it's thing.

[2016-03-07 23:23] stevenvachon commented on #1847
@charlesroper via `precision()`? I think it looks too cryptic and is not self-documenting.

[2016-03-08 09:21] sick-sad-world opened #2011 "Problem with paths occured after reinstalling ruby"
This is occured when gulp-ruby-sass in running

[code]

ruby 2.2.4p230 (2015-12-16 revision 53155) [x64-mingw32]
gem 2.6.1
Sass 3.4.21 (Selective Steve)
Compass 1.0.3 (Polaris)
nodejs 4.3.2 LTS
gulp 3.9.1
gulp-ruby-sass 2.0.6

PATH `C:\Ruby22-x64\bin;C:\Program Files\MongoDB\Server\3.2\bin;C:\Users\Steeve\AppData\Roaming\npm`

Running from `gulp-ruby-sass`
When running clean compass or sass from c

[2016-03-08 15:27] whaaaley opened #2012 "Pipeline operators?"
Maybe we wouldn't call them that, but nested functions are kind of ugly, especially when you're dealing with map stuff and parens can get deep. I'm not really a fan of mentally keeping track of how many parens you go by while reading. You could store each "action" in a variable but that can be equally confusing.

The pseudo code below is just saying put the first item in the chain into the next it

[2016-03-08 15:44] davidkpiano commented on #2012
@dustindowell22 You can use [Sassdash](https://github.com/davidkpiano/sassdash) if you want that functionality right now, using the [`_(...)` function](http://davidkpiano.github.io/sassdash/sassdoc/index.html#function-_).

Here's your pseudocode brought to life:

[code]

When I talked to @nex3, she told me she envisioned Sass as an imperative language that _creates_ declarative CSS code, instead o

[2016-03-08 16:54] whaaaley commented on #1847
If self-documenting is the goal, how about `place-value()` or `round-to-place-value()` or maybe just `round-to()`...? I still like the idea of it being added to `round()`, because that's exactly that's what it's doing, it's just more specific.

[2016-03-08 17:40] stevenvachon commented on #1847
@dustindowell22 I think that's too wordy. `round()` is pretty clear, I think. But if necessary, what do you think of `decimal-round()` ?

[2016-03-08 18:33] whaaaley commented on #1847
@stevenvachon I totally agree. Its too long and round is clear.. `decimal-round()` is fine, but since this is sort of a variant of rounding I would go with `round-decimal()` instead.

[2016-03-08 20:31] jamen commented on #2012
I would personally be behind this.  Despite Sass being _envisioned as an imperative language_, I still can't deny that it is greatly functional, and there is nothing wrong with it being functional (that is a good thing in my eyes).

With that, I think a pipe operator would make code more clean and concise with the functional aspect of things in Sass: to have functions be "lined up" rather than som

[2016-03-08 22:13] chriseppstein commented on #2011
I'd start by letting the `gulp-ruby-sass` folks know about this and if they can narrow this down to a Sass bug, we'll happily address it.

[2016-03-08 22:13] #2011 closed, assigned to nobody

[2016-03-08 22:31] chriseppstein commented on #2012
I understand that many nested infix functions can decrease readability. I highly encourage the use of intermediate variables. Yes, it's more verbose. But it also is a lot more readable than deeply nested function calls and functional chaining with implicit arguments.

[code]

Our goal is not to turn SassScript into a highly ergonomic programming language. SassScript is a lightweight scripting synt

[2016-03-08 22:31] #2012 closed, assigned to nobody

[2016-03-09 19:00] bdkjones opened #2013 "Sass Multiline Comment: Docs Need Clarification?"
I have a user who sent me this Sass file, using `*.sass` syntax:

[code]

I was very surprised that this file did anything because the multiline comment-start-delimiter `/*` is not paired with a comment-end-delimiter `*/` The example in the Sass docs shows the comment properly closed:

http://sass-lang.com/documentation/file.SASS_REFERENCE.html#comments

Is it the case that in the indented syntax,

[2016-03-09 20:54] chriseppstein commented on #2013
Yes.

The indented syntax for comments is documented here:

http://sass-lang.com/documentation/file.INDENTED_SYNTAX.html#comments

Basically, the outdent terminates all comments (`/*` and `//`) in the indented syntax. The closing comment delimiter (`*/`)is actually removed from any multi-line css comment to avoid it being output twice.

[2016-03-09 20:54] #2013 closed, assigned to nobody

[2016-03-09 21:12] bdkjones commented on #2013
Thanks; that's exactly what I needed but could not find.

Sent from my iPhone

[2016-03-10 14:20] mkimont opened #2014 "@each converts numbers to string"
Example

[code]

$skew with throw nothing as map-get is type sensitive ( $number is passed as string)

Right now I change all profile to be strings ( $reasonColors: ('1':$beta-color, '2':$gamma-color ... )  ) and it's work. I know that in future somebody somewhere will need here a numbers for calculations.

I will be grateful for any help. Did I miss something here ?

[2016-03-10 14:47] davidkpiano commented on #2014
The `#{$profile}` interpolation always converts to a string. Try `$number: $profile`

[2016-03-10 16:43] cherscarlett commented on #851
I'm definitely going to +1 this here. I'm currently trying to get a number of colleagues to use SASS over LESS and these are core features in LESS that they'd need to utilize eyeglass + eyeglass-math to use.

[2016-03-11 20:19] nex3 commented on #1847
I'm still against setting instance-specific flags if we can avoid it. If we don't want to use `inspect()`, I'd rather add a function called `to-css()` or `to-string()` that explicitly converts its argument into a string containing a plain-CSS value.

[2016-03-11 20:48] stevenvachon commented on #1847
Our opinions are on opposite poles and I can't think of a middle ground.

[2016-03-11 22:37] chriseppstein commented on #2010
What is the source sass file that causes this output issue? We'd like to reproduce this first.

[2016-03-11 23:38] chriseppstein commented on #2014
@davidkpiano has got it right. no need for interpolation there.

[2016-03-11 23:38] #2014 closed, assigned to nobody

[2016-03-12 07:57] jamen commented on #2012
@chriseppstein: Well, Stylus is good too.  :)  Thanks for at least considering the idea.  I think that viewpoint the Sass maintainers have is good as well, good intentions.  It was worth a shot at least.  :P

[2016-03-12 12:00] glebm commented on #1988
How about `content-given()`?

[2016-03-15 19:12] patrickhayescom commented on #1827
How do I get/run the fixed version?  I just got the latest versions of Sass and Compass for Windows, and the bug fix isn't there:
_gem uninstall compass
gem uninstall sass
gem install sass -v 4.0.0.alpha.1
gem install compass -v 1.1.0.alpha.3
gem clean
sass-convert -R C:\Users\phayes\css_to_scss --from css --to scss --trace_
**sass_convert.rb:246:in `block in process_file': undefined method`read'

[2016-03-17 15:03] anujaykumar1 opened #2017 "how to use/define variable names with variable name"
like in less i can use @@var to [get value of a value](http://lesscss.org/features/#variables-feature-variable-names), how may i use this in sass ?

[2016-03-17 15:05] cimmanon commented on #2017
Duplicate of https://github.com/sass/sass/issues/132

[2016-03-17 16:39] cimmanon commented on #1909
If you write in `hsl(340, 80%, 95%)` using Chrome's inspector, you can see how it is interpreted in other formats.  It thinks that color is equal to `#fce8ef`.  But if you fill out the hex value instead, you get `hsl(339, 77%, 95%)`.  Sass is not wrong here.  Two different sets of HSL values can be equal to the same RGB value.

What values are you expecting for those other colors?

[2016-03-17 18:39] chriseppstein commented on #2017
As noted in the issue linked by @cimmanon, the correct solution here is to use Sass maps which we added a couple versions ago to handle this use case.

[2016-03-17 18:39] #2017 closed, assigned to nobody

[2016-03-17 19:01] chriseppstein commented on #1909
It's true that both of these colors map to the same value in RGB, but if you look here at this example, you will see that there is a visual distinction (albeit very minor) between the two when specified in hsl. As such, I think we need to consider this a bug.

http://codepen.io/chriseppstein/full/PNWQRg/

It's not a simple fix. There are browser support concerns. We may need to add a work around v

[2016-03-17 19:59] cimmanon commented on #1909
I don't know if this is worth mentioning or not, but Chrome's inspector says that hsl(30, 100%, 50%) is equivalent to rgb(255, 127, 0).  Meanwhile writing in rgb(255, 128, 0) results in hsl(30, 100%, 50%).  I've been over the formula provided by the W3C hundreds of times and the G channel in this case comes back as 127.5.  I don't know how this value is rounding down to 127 unless it is supposed t

[2016-03-17 20:28] chriseppstein commented on #1909
@tabatkins are there colors expressible in hsl() that the browser will display that cannot be expressed in rgb? Trying to decide if this is a fundamental flaw in Sass's treatment of hsl or just a small bug in our hsl -> rgb algorithm.

[2016-03-17 20:31] tabatkins commented on #1909
No, HSL and RGB are equivalent color-spaces.  This is just a matter of different rounding/floating-point error accumulation between implementations.

(And at extreme light/dark values, the color-space is very small - those are the corners of the RGB cube, so not much left to discriminate.  There's a lot of quantization going on there, so _in general_ values won't round-trip exactly.  A _good_ impl

[2016-03-17 21:14] chriseppstein commented on #1909
Hmmm. I wonder if this rounding is the culprit: https://github.com/sass/sass/blob/stable/lib/sass/script/value/color.rb#L651

[2016-03-18 06:32] fritx opened #2018 "[question] How can I prepend a selector to the current scope?"
Sorry for my poor sass experience.
I mean something like this:

[code]

[code]

[2016-03-18 07:21] MarthSantos commented on #2018
I usually use the & symbol. You can do something like this.

[code]

and the output will be

[code]

You can also check http://thesassway.com/intermediate/referencing-parent-selectors-using-ampersand for more info

[2016-03-18 08:22] fritx commented on #2018
Wow, fantastic!

[2016-03-18 08:22] #2018 closed, assigned to nobody

[2016-03-19 13:14] vecerek opened #2019 "Programmatic usage of the Engine"
Hi Guys!
I am working on an AST-based Less to Sass converter for my bachelor's thesis. I'm just studying how your code works and I would like to closer examine the Sass AST structure, as well. I managed to get a part of the AST with the following code:

[code]

However, if I pass a file containing an import statement, the import node in the AST has no children.
**I'd like to ask you 2 questions:**

[2016-03-21 18:15] chriseppstein commented on #2019
Import nodes are resolved lazily during the "perform" phase of processing. So you'll need to ask each import node (recursively) for it's engine's tree. You can make a simple Visitor object that does this for you by copying the perform visitor and only keeping the import processing code. after running that visitor over your sass file you'll have a tree that represents the sass file after imports ar

[2016-03-21 18:15] #2019 closed, assigned to nobody

[2016-03-21 23:39] chriseppstein commented on #1998
Fixed by 2064470288b4d3e6141010f1ac2277a752aafef0

[2016-03-21 23:39] #1998 closed, assigned to nobody

[2016-03-22 21:32] #1953 closed, assigned to chriseppstein

[2016-03-28 20:26] #1128 closed, assigned to nex3

[2016-03-28 20:34] nex3 opened #2021 "Reformat CSS variable values"
#1128 added support for CSS variables, but we currently do no processing of their values. This can result in bizarre-looking output for multi-line values, where indentation levels don't look right in the output and the values aren't compressed in compressed mode.

There are two (specced) uses of CSS variables: they can be referred to in CSS using `var()`, or they can be loaded from JS using `getPr

[2016-03-29 15:07] TxHawks opened #2022 "Bug in extending pseudo elements with the universal selector"
The following:

[code]

Produces:

[code]

Expected result:

[code]

[code]

 does produce the expected output.

[2016-03-29 15:16] davidkpiano commented on #2022
It's worth pointing out that `:before` and `*:before` are congruent, in both specificity and selector intent.

[2016-03-29 16:55] chriseppstein commented on #2022
As @davidkpiano mentioned, `*:before` and `:before` are semantically identical. There is no bug here.

[2016-03-29 16:55] #2022 closed, assigned to nobody

[2016-03-30 14:19] yajo opened #2023 "Error: @charset may only be used at the root of a document."
Take this document `one.sass`:

[code]

Then this another `_other.sass`:

[code]

Then:

[code]

Says:

[code]

... but I need UTF8 for ©! And [docs say that `@charset` only goes into CSS when there's any non-ASCII character](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#encodings), so it should even be automatic.

[2016-03-30 16:00] chriseppstein commented on #2023
@nex3 thoughts?

[2016-03-30 21:01] nex3 commented on #2023
There are plenty of non-`@charset` ways to load files as UTF-8. Most OSes these days are configured to use UTF-8 by default, and Sass will pick up on that. You can also pass the `-E` parameter to control the default encoding. If you really need to put something in the file itself, you can use a BOM. But `@charset` is explicitly a CSS directive, and we can't emit it as a CSS directive if it's in th

[2016-03-31 06:33] yajo commented on #2023
But docs say it's automatic. Shouldn't it be ignored unless it is at the top?

[2016-04-01 12:56] Stav88 commented on #1596
Same issue for other override:

[code]

Actual results:

[code]

Expected results:

[code]

[2016-04-02 21:02] bkazi commented on #512
Hi,
I was hoping to get some guidance on this issue being a new contributor. I have come up with an implementation for `gray()` that is based on the way `rgb()` is done and it seems to work. I would like to know what would be the proper way to go about adding such a feature and what considerations should be taken.
Thanks

[2016-04-04 19:58] nex3 commented on #2023
We do automatically choose to add or remove a `@charset` declaration at the beginning of the output file depending on whether it's necessary to preserve the semantics of that file. But if you're writing a `@charset` in the middle of your stylesheet—which is effectively what it means for it to be in a partial that you import—there's no way we can compile that while preserving the CSS semantics, bec

[2016-04-04 19:59] nex3 commented on #512
@bkazi Just send a pull request and we'll walk you through the process :smiley:

[2016-04-05 07:14] yajo commented on #2023
I know, I understand the bug. But it seems it's not a bug in the implementation but in the design.

If you really need to declare the partial as UTF8 as is my case, then you cannot compile at all unless removing all `@charset` declarations and passing the `-E` flag. But that's not good. What happens if I want to use 2 libraries and both have the `@charset` at the top? What if both are different? I

[2016-04-06 08:31] adampoczatek opened #2024 "Feature Request: "@import as""
I was thinking about difficulties with implementing third-party extensions in your CSS, mainly due to class name collisions and then I thought it would be nice to have something like `@import as` syntax, similar to [import](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/import) and [export](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/export)

[2016-04-06 14:39] amonger opened #2025 "Feature Request: Import with named parameters"
I've started looking at implementing a colour map for certain projects, which is a nice way of grouping colours based on a base colour.

I was looking at being able to set parameters based on the @content block.

For instance:

[code]

If I wanted to add these colours as a button block, id have to do something like the following:

[code]

This would be nicer, and more reusable if we could do this

[2016-04-06 15:16] amonger commented on #2025
Figured it out using maps...

[2016-04-06 15:16] #2025 closed, assigned to nobody

[2016-04-06 15:22] cimmanon commented on #2023
Why can't it just bubble up to the top the same way CSS `@import` statements are handled?  There are people that are surprised when the location of the import changes because they don't realize that what they've written is isn't valid.  Why can't `@charset` be handled the same way?

[code]

Output:

[code]

[2016-04-06 22:36] ubergeekzone commented on #2004
Hello,

 My account was hijacked earlier today, if you have something form me about
a proposal agreement do not open it. I have took the appropriate measures
to ensure this will not happen again.

Thanks

##

Amy Bridges
Owner
P: (404) 487-6003 ext 700
E: amy.bridges@invoate.com
LinkedIn
https://t.yesware.com/tt/24554823f0769e3928dc2ff821448567077d1807/cc7947eb285eaae542a5318d220bf049/afeb9aa266b2

[2016-04-07 22:28] hairarrow commented on #871
This might be a silly idea, but how about passing content as a variable?

[code]

[2016-04-08 08:23] georgestavos opened #2026 "License clarifications"
Hi,
I'm part of a team developing and maintaining websites for several big players in the adult entertainment industry. We would like to adopt SASS into our projects as it looks very promising.
However I just wanted to make sure it is fine, license wise, to use SASS in commercial projects. We will NOT be releasing any of our code. We will certainly report issues as we encounter them though.

Long

[2016-04-08 09:31] mprins commented on #2026
Yes, see: https://github.com/sass/sass/blob/stable/MIT-LICENSE

[2016-04-08 11:33] ArmorDarks commented on #871
@hairarrow it seems to be fragile, since variable names can easily collide with already existing mixin arguments.

[2016-04-08 15:50] evanhuang8 opened #2027 "Import CSS inline"
This is a duplicate of #556, but since that issue is locked I just feel like bringing it up here again.

Is there a reason an inline option is still not available? It's ridiculous to have to set up a whole compass toolchain just to be able to import an CSS file inline in a SCSS file

[2016-04-08 16:32] whaaaley commented on #2027
They're revamping the import system entirely. There's a thread about stuff here #1094

[2016-04-08 22:56] giacomo-cosimato commented on #871
+1

[2016-04-09 06:15] Falven commented on #116
+1

[2016-04-09 17:52] kirahowe commented on #216
Any word on this becoming a reality? I'll add yet another +1.

[2016-04-09 18:09] scottbaggett commented on #216
Add more $$ to the bounty. :)

[2016-04-09 18:29] calidion opened #2028 "pseudo class not working with element selector?"
[code]

expected

[code]

not generated.

[2016-04-09 18:33] #2028 closed, assigned to nobody

[2016-04-11 11:20] paulozoom opened #2030 "Request: Allow nesting under selector without class/id name"
I was writing a mixin that would namespace a selector by prefixing it with a  breakpoint name. However, I also want to output a non-prefixed version, that works across all viewports. As I see it, this is a very common RWD situation.

Example:

[code]

Output:

[code]

For this, I tried to write such a mixin:

[code]

However, the third line, `#{.} {`, isn’t valid Sass, because it expects a class n

[2016-04-11 11:54] cimmanon commented on #2030
No, only bad designers write selectors like you're trying to write.  What you're trying to do is worse than "pollute[s] the global namespace", you're bloating your markup with unsemantic selectors with an added twist of having to modify your markup when your design changes.  You've created an unmaintanable mess in your CSS _and_ the markup.

The best case scenario for doing this in Sass is going t

[2016-04-11 13:15] paulozoom commented on #2030
@cimmanon: I’d be happy to debate the pros and cons of developing with immutable utility classes, but that’s not what this request is about. Whether it makes sense for your/one’s projects or not, whether you/one likes it or not, it’s undeniable that **it is** a philosophy for CSS development, one already widely used in many responsive layout frameworks, and one that, I’d argue, is only growing in

[2016-04-11 14:49] kuon opened #2031 "How to handle new interpolation near operators"
I have the following warning on my sass file:

[code]

My code is the following:

[code]

but if I replace with

[code]

as suggested by the error message, it does not produce the right output.

For example, with `$i: 20` I want:

[code]

[2016-04-11 17:49] chriseppstein commented on #2023
@nex3 this seems like a bug to me. The `@charset` is needed in partials to declare the charset but then it cannot be imported except at the top level. This seems like an oversight in the implementation.

[2016-04-11 17:54] chriseppstein opened #2 "Selector Rewriting"
Should the new module system have a selector rewriting capability?

https://github.com/sass/sass/issues/2024

[2016-04-11 17:54] chriseppstein opened #2620 "Selector Rewriting"
Should the new module system have a selector rewriting capability?

https://github.com/sass/sass/issues/2024

[2016-04-11 17:54] chriseppstein commented on #2024
We are currently re-designing `@import` for Sass 4.0. See #353 and https://github.com/sass/proposal.module-system

That said, there is not currently any selector re-writing capability in this new module system. I opened an issue against that spec for discussion.

[2016-04-11 17:54] #2024 closed, assigned to nobody

[2016-04-11 18:03] #2026 closed, assigned to nobody

[2016-04-11 18:05] chriseppstein commented on #2026
Sass releases its code under an unmodified MIT license.

[2016-04-11 18:08] chriseppstein commented on #2027
It's locked because we've heard enough feedback at this point. The feature is being included in Sass 4.0.

Despite the name, you don't have to use compass to use compass-import-once. See the readme here: https://github.com/Compass/compass/tree/stable/import-once

[2016-04-11 18:08] #2027 closed, assigned to nobody

[2016-04-11 18:26] chriseppstein commented on #2030
We get a lot of requests for `@include my-mixin($args) !important` which would then mark every property declaration in that mixin as important. We have rejected this feature not because it's hard but because it is bad to use `!important` like that. As such, we are frequently in the position of deciding whether language features in Sass encourage "Good CSS" or "Bad CSS" and we frequently have to us

[2016-04-11 18:26] #2030 closed, assigned to nobody

[2016-04-11 18:34] chriseppstein commented on #2031
I cannot reproduce the deprecation warning locally using your code example. I only get it if I use it in a SassScript expression like so:

[code]

[2016-04-11 18:51] kuon commented on #2031
I should have posted the complete code, here it is:

[code]

[2016-04-11 19:37] paulozoom commented on #2030
@chriseppstein:

You're right, and as a general statement, I don’t agree with it myself 😄

Totally understand that position of making life much easier on an use case that a lot more people will run into. Opened the issue with the hopes that both scenarios could be covered, but alas not. I’ll find a workaround.

As for @cimmanon’s suggestion, I appreciate it, but it’d imply calling the mixin for ea

[2016-04-11 20:10] chriseppstein commented on #2031
Ok. so it seems that being inside the `@media` declaration is what causes the deprecation to happen. @nex3 I think this is a bug.

[2016-04-11 20:53] chriseppstein commented on #1908
color names are color values and will be compressed when being output. Use quotes to avoid this.

[2016-04-11 20:53] #1908 closed, assigned to nobody

[2016-04-11 21:09] chriseppstein opened #2032 "Sass warnings are not thread safe"
Sass uses a global logger instance which makes parallelizing sass compiler instances with warnings not work reliably.

Solution: change `Sass.logger` to create or return a thread local variable. This should be initialized by accepting a `:logger` option as a Sass engine option.

See: https://github.com/sass/sass-spec/issues/499

[2016-04-14 19:09] Sorendil opened #2033 "Extending a selector/placeholder two times doesn't work"
Hello,

Since 2 days, i'm searching for why my extend doesn't work. I didn't find any reply so i'm opening a new issue.

I finally found why but I can't explain it.

From my project, I have 2 components, as showed here : https://gist.github.com/Sorendil/a205bffb40addffd5678d40abb376582

But first, some explanations.

In cards actions (file card.scss line 7), I want all buttons to have the button s

[2016-04-14 21:46] chriseppstein commented on #2033
Hi, I spent 10 minutes trying to understand this issue and failed. So maybe you can simplify your code down to the smallest possible amount of code that represents the issue you are having and not omit any code that you are having in your example (E.g. these are mixins that are never invoked in this code example and there are mixins used in the code example that are not defined.) I need to be able

[2016-04-15 12:29] Sorendil commented on #2033
Hi,

Thanks for the response ! You're right, my example was not minimal. After some tests, I reproduce the bug with this code :

https://gist.github.com/Sorendil/ac0ea8261843a3980ddb3cd4527aa175

Same way that in my first code, you have to comment either the line 36 or 37.

In the first test,
`.card .card_image .actions .button:hover {
  color: grey;
}` is never generated so my CSS fallback to `.c

[2016-04-15 13:19] davidkpiano commented on #2033
You're probably not getting the expected results because (and correct me if I'm wrong @nex3) `@extend` tries to match the specificity of the extendee. That probably results in the simplification of the output selector.

[2016-04-15 13:31] Sorendil commented on #2033
Probably, I don't know SASS enough to understand why the output in first test is optimized...

If you're right, how could I get around the problem ?

On my project, I have a mixin for card and a mixin for button. Since the selector is passed as an argument for both mixins, my card mixin doesn't know the button selector.

So I wanted to tell that all my buttons in `.card .card_image .actions {@exte

[2016-04-15 19:19] nex3 commented on #2620
I think this falls under the "extend-only imports" non-goal. If we had that, you'd be able to write something like

[code]

[code]

and get the behavior you want.

Alternately, if you just want to scope the existing selectors, you can do that in the current proposal:

[code]

[code]

Either way, I don't think the proposal should be extended to include specific support for this use case.

[2016-04-15 19:34] nex3 commented on #2033
This isn't quite right. For every extending selector, `@extend` guarantees that the generated selector will contain at least one complex selector with two properties:
1. the complex selector matches all elements that are matched by the extending selector, and
2. the complex selector has specificity greater than or equal to the extending selector.

It's possible for those two properties to be satis

[2016-04-15 20:16] #2031 closed, assigned to nex3

[2016-04-18 18:16] #2033 closed, assigned to nobody

[2016-04-18 18:17] chriseppstein commented on #2023
I discussed this with @nex3 and we decided that it should be considered a bug.

[2016-04-19 12:57] jrauh commented on #818
Has anyone ever run into the issue of calc functions not compiling with grunt? Here's my code:

[code]

The output I get is `padding: calc(#{$grid-gutter} / 2);` instead of the expected `padding: 0.5rem;`

Here's the other catch. In one of my projects, this is working fine. Not problems. In the other, I'm getting this issue. All calc functions with Sass interpolated variables won't work.

HELP!

[2016-04-19 13:23] cimmanon commented on #818
@jrauh Using `calc()` isn't _supposed_ to evaluate the expression.  I cannot reproduce what you're claiming.  When I compile it, I get the expected output of this:

[code]

[2016-04-19 13:26] jrauh commented on #818
You're right, I misspoke. I would expect the output to be what you mentioned. And I typically do in most projects. All but this one. I'm assuming it then is not sass related... just another bug somewhere else...? :/ I wasn't sure if anyone else had ever seen this issue.

[2016-04-19 14:36] harrislapiroff commented on #216
I added more :moneybag: to the bounty! I encourage anyone else who wants this to do the same. Let's make it worth someone's while, since it sounds like a tricky thing to implement. :) https://www.bountysource.com/issues/395405-multiline-expressions-in-indented-syntax

[2016-04-19 17:14] chriseppstein commented on #818
@jrauh Sass does not evaluate `calc` expressions. Are you running your compiled CSS through any other compressors or processors?

[2016-04-19 17:26] chriseppstein commented on #216
@ellioseven Hi, I sent you a tweet. I'd like to chat with you if you have a few minutes.

[2016-04-19 17:29] jrauh commented on #818
@chriseppstein Yepp I just figured it out. I'm using `grunt` and I needed to updated a version number. That was a big headache for such a small fix... 😐  Thanks for your help, all.

[2016-04-20 17:38] lambdabaa opened #2034 "Calling mixin from mixin not working (node-sass@3.4.2)"
[code]

outputs

[code]

Why isn't `$percent` being replaced with `100%` here?

[2016-04-20 17:58] chriseppstein commented on #2034
I can't reproduce this using either node-sass or ruby sass.

Please file node-sass bugs at https://github.com/sass/node-sass/issues

[2016-04-20 17:58] #2034 closed, assigned to nobody

[2016-04-21 23:31] erichummel opened #2035 "question about the scope of using @extend with selectors"
I'm in the process of trying to upgrade Sass from 3.2.19 to 3.4.22 (my main goal is updating sprockets, but since the 3.2.19 version of sass is locking sprockets to an older version, I need to update sass).

Basically, I'm getting numerous errors running our test suite like

[code]

For many of these, it makes sense, as the selector in question was removed by our front end guy some time ago and th

[2016-04-21 23:35] cimmanon commented on #2035
Sounds like your imports are not partials.

[2016-04-21 23:39] erichummel commented on #2035
@cimmanon the only difference between a partial and a regular css file is the leading underscore, right?

`@import "common/icons"` is referring to the file common/_icons.scss, likewise, `@import "desktop/modals"` is referring to desktop/_modals.scss

[EDIT] and both of them are imported in a manifest file that `@imports` loads of partials

[2016-04-22 19:19] chriseppstein commented on #2035
@erichummel I cannot reproduce this issue according to your description unless I try to compile `desktop/modals` directly (since you say it doesn't import `common/icons` itself (which I think was what @cimmanon was trying to say. if you run `sass --update` or `sass --watch` and desktop/modals is not a partial then sass will try to compile it.

[2016-04-22 19:24] erichummel commented on #2035
thanks for looking into it, @chriseppstein - I'm trying to create a super simple test case on a fresh rails app to reproduce the issue.

I'll either reproduce it, in which case I'll push the test case to github and share it here, or I won't be able to reproduce it and I'll have to dissect what the difference between my app and the test app is, in which case I will post my findings here and close t

[2016-04-22 20:26] erichummel commented on #2035
welp, try as I might, I couldn't reproduce the issue in a new rails app, and in the process of noting the difference between my app and the test case I tracked down a few more erroneous `@extends` and voila, the problem has disappeared.

I guess I must have been so bleary eyed while stuck in the weeds with this yesterday that I misread the error or something.

At any rate, if anyone else runs into

[2016-04-22 20:26] #2035 closed, assigned to nobody

[2016-04-23 05:00] mgreter opened #2036 "[FR] Explode/expand wrapped selectors (`:not`)"
LibSass will [merge a change](https://github.com/sass/libsass/pull/2032) that fixes the most urgent issues with handling `:not` wrapped selectors. Unfortunately I'm not able to avoid a breaking\* change. For illustration see the following sample:

[code]

Compile to (with ruby sass):

[code]

With libsass this will yield:

[code]

The only difference is that `:not(.asd, .qwe)` is expanded to `:not

[2016-04-23 06:33] dangreen opened #2037 "Variable using is broken"
prints error:

[code]

doesn't print error:

[code]

[2016-04-23 08:17] dangreen opened #2038 "Math operations."
libsass 3.3.5

[code]

output is

[code]

[2016-04-23 08:28] xzyfer commented on #2038
@dangreen any time LibSass and Sass differ it is a LibSass bug. Please open an issue with LibSass.

[2016-04-25 17:37] chriseppstein commented on #2036
This seems reasonable to me. The syntax we're generating is legal in selectors level 4, but not in level 3 and does not currently work for chrome.

[2016-04-25 17:37] chriseppstein commented on #2036
@nex3 thoughts?

[2016-04-25 17:45] chriseppstein commented on #2037
This is because `%` is the "modulo" operator. The error you're getting is the same error you would be getting if you had typed `#{"5"}+ #{"5"}+`. Sass is basically saying "this operator is missing an operand". You can fix this by moving the percent sign into your variable or by using string interpolation instead of bare interpolation. Or even better, by using the percent unit properly by attaching

[2016-04-25 17:45] #2037 closed, assigned to nobody

[2016-04-25 17:46] chriseppstein commented on #2038
https://github.com/sass/libsass/issues/2042

[2016-04-25 17:46] #2038 closed, assigned to nobody

[2016-04-27 08:04] ranska commented on #216
+1

[2016-04-27 09:21] aaronwng opened #2039 "old bug appears again,like https://github.com/sass/sass/issues/1260#issuecomment-213566682"
modified sass/pages/css/global/global.sass
[Listen warning]: Change block raise an execption: undefined method `to_tree' for nil:NilClass
Backtrace:
        /Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/staleness_checker.rb:184:in`tree'
        /Library/Ruby/Gems/2.0.0/gems/sass-3.4.18/lib/sass/plugin/staleness_checker.rb:174:in `compute_dependencies'
        /Library/Ruby/Gems/2.0.0/g

[2016-04-27 10:48] Pentasis commented on #626
Add my vote to this (for what it is worth).
I am currently trying to do this:

[code]

Only to be stumped by the fact it is impossible,

[2016-04-27 19:29] chriseppstein commented on #2039
Please upgrade to `3.4.22` and let us know if you're still seeing it.

[2016-04-27 19:29] #2039 closed, assigned to nobody

[2016-04-27 19:32] chriseppstein commented on #2039
Also, if you're still seeing it please show us how you're running sass and provide steps to reproduce.

[2016-04-27 19:33] #1969 closed, assigned to chriseppstein

[2016-04-28 18:35] chriseppstein commented on #1946
@mgreter No work has been done on this yet, but I think it makes sense to not do any static parsing when in compressed mode so that we can always compress output the best.

[2016-04-28 23:10] halcyonandon commented on #690
For what its worth, we recently discussed our own naming conventions on my team... we decided not to use _index.scss but instead have the name of the file match the parent directory. This way we don't have a bunch of files named _index.scss, so its easier for devs to follow in their IDEs and when searching by filename.

It would be nice, when implementing this in 4.0, if it behaves similarly to co

[2016-04-29 18:09] nex3 commented on #2036
This is intended behavior. The `:not(.asd, .qwe)` selector is what the user originally authored; Sass won't create new Selectors 3-incompatible code if it can help it, but we also won't stop the user from doing so.

In general, we don't do _any_ modificiation of user-authored selectors beyond what's necessary to resolve `@extend`. Doing it in this particular instance would be a special case that w

[2016-04-29 18:10] #1623 closed, assigned to nobody

[2016-04-29 18:14] chriseppstein commented on #2032
fixed

[2016-04-29 18:14] #2032 closed, assigned to nobody

[2016-04-29 21:11] chriseppstein opened #2042 "Listen 3.1 requires ruby 2.2; causing CI failures"
investigate

[2016-04-29 21:27] chriseppstein opened #2043 "Sass-Spec failing against next and master"
investigate

[2016-04-30 00:10] #1963 closed, assigned to nobody

[2016-04-30 00:11] nex3 commented on #1963
This is implemented to spec, with the exception that we decided to use `join()` to control bracketedness rather than `bracket()` and `unbracket()` to match the way list separators are manipulated.

[2016-04-30 18:59] sassanh commented on #1484
+1

[2016-05-03 09:43] michalweiser opened #2044 "Nested @import selector misinterpretation when concatenating parent selector"
Using nested import with parent selector creates incorrect output:

[code]

Since this behavior, I expected:

[code]

In case this is expected behavior, please close this issue.

[2016-05-03 19:08] chriseppstein commented on #2043
The following tests give a deprecation warning against `stable`, but no warning on `next`.

[code]

The deprecation warnings should be the same on both branches.

I did a spot check in `spec/scss/function-names`: The value `un#{quo}te("hello")` used to compile to `unquote("hello")` but in 4.0 it compiles to `unquo te("hello")`, On stable this gives a deprecation warning, but on next it does not.

[2016-05-04 09:14] wouter-muller opened #2047 "Setting SASS variables inside a loop"
I am having problems putting something like the following repetitive variable declarations inside a loop:

[code]

I thought i could just do this:

[code]

But SCSS is complaining that it is invalid CSS, but i am not trying to write CSS, i am just trying to set some variables that i can use later on.

Is there a way to set variables dynamically like this, without declaring any CSS?

[2016-05-04 11:54] michalweiser commented on #2047
There is no way to interpolate variable name in SCSS, this is the reason why $px#{$i} is now working.

[2016-05-04 11:56] cimmanon commented on #2047
Duplicate of https://github.com/sass/sass/issues/132

[2016-05-04 11:59] xzyfer commented on #2047
To do this you need a list

[code]

Now you can access you px via `nth`

[code]

[2016-05-04 12:02] davidkpiano commented on #2047
^ Was just about to post what @xzyfer said, haha. Except, you should probably use `$i * 1px` instead of `#{$i}px` so it's an actual length value and not a string.

[2016-05-04 12:03] xzyfer commented on #2047
@davidkpiano makes sense, updated.

[2016-05-04 12:15] wouter-muller commented on #2047
OK, thanks guys!

@xzyfer Interesting example with the list!

I will only need a handful of these variables, so i'll just write them out without a loop...

[2016-05-04 18:47] #2047 closed, assigned to nobody

[2016-05-04 20:44] chriseppstein commented on #2042
For now I've locked our dependency to listen 3.0.x

[2016-05-04 20:44] #2042 closed, assigned to chriseppstein

[2016-05-04 20:44] chriseppstein commented on #2042
Bug filed against https://github.com/guard/listen/issues/390

[2016-05-05 13:08] nazar-pc opened #2048 "Nested calc(var()) and SASS variables doesn't substitute variables"
[code]

Code above compiles to:

[code]

While expected result is:

[code]

However, workaround like this results in proper compiled CSS:

[code]

But it is quite ugly.

[2016-05-05 19:10] chriseppstein commented on #2048
Hi, thanks for the report. This is a duplicate of #818.

[2016-05-05 19:20] chriseppstein opened #2049 "Interpolation Regression in 4.0"
If a identifier ends with parens indicating it is a function call. E.g. `un#{quo}te(asdf)` then in Sass 3.5: we get `unquote(asdf)` as output but in Sass 4.0 we get `unquo te(asdf)` (note: the introduction of a space).

According to @nex3 this is an unintended change.

[2016-05-05 19:30] nazar-pc commented on #2048
Thanks, I've subscribed to it

[2016-05-05 19:30] #2048 closed, assigned to nobody

[2016-05-05 20:19] chriseppstein opened #2050 "False positive deprecations in 3.4"
These specs issue deprecation warnings about interpolation in 3.4 & 3.5 but the output in 4.0 is unchanged so the warnings seem unnecessary. Unsure how likely actual users are to be tripped up by this but it seems like we should investigate.

[code]

[2016-05-05 20:39] chriseppstein commented on #2043
all fixed.

[2016-05-05 20:39] #2043 closed, assigned to nex3

[2016-05-05 22:30] chriseppstein opened #2051 "Add bracketed lists to the SASS_REFERENCE"
this new feature needs documentation.

[2016-05-06 20:29] marek-saji opened #2052 "Invalid order of properties defined after nested media query"
# Input

[code]
# Expected output

[code]
# Output

All of the following produce the same output:
- sass-3.4.22
- libsass-3.3.6 (node-sass-3.6.0)
- libsass-3.3.6 ([via source map inspector](http://libsass.ocbnet.ch/srcmap/#Zm9vCnsKICAgIEBtZWRpYSBzY3JlZW4KICAgIHsKICAgICAgICBiYXI6IDI7CiAgICB9CiAgICBiYXI6IDE7Cn0K))

[code]

Note that `bar: 1` has been moved before media query.
# Use case

The example

[2016-05-06 20:59] #2021 closed, assigned to nobody

[2016-05-06 22:19] cimmanon commented on #2052
Duplicate of https://github.com/sass/sass/issues/1751

[2016-05-07 00:07] nex3 commented on #2049
This is more complicated than it looks. In Sass 3.5, `un#{quo}te(asdf)` parses as ``un#{quo}#{te(asdf)}``—meaning that it is actually _calling a function_. In this case, there's no function named `te()` defined,  so the function call returns the unquoted string ``te(asdf)``, but that's not necessarily true. For example, if you write `b#{o}red(#abc)` in 3.5, you get ``bo170``, since `red(#abc)` is

[2016-05-08 06:22] bvsatyaram opened #2054 "Name spacing for mixins"
In JavaScript, I would namespace functions as follows:

[code]

I would like to do the same with Sass mixins too, to make sure that the mixins I define won't have any conflict with mixins defined by other third party sass files. I tried searching for the same, but couldn't find a good solution. Is there a way in which I can namespace mixins in Sass? If yes, please help me with a pointer. Else, is

[2016-05-08 06:45] xzyfer commented on #2054
Duplicate https://github.com/sass/sass/issues/353

[2016-05-08 11:49] hayatbiralem commented on #161
I have an idea for this and I am already using for solving my issue.

If you use the Grunt you can solve your problem with [grunt-replace](https://github.com/outaTiME/grunt-replace):

### Gruntfile.js

[code]

### main.scss

[code]

### main.css

[code]

Hope this helps :)

[2016-05-09 18:19] chriseppstein commented on #2054
This is planned for 4.0

[2016-05-09 18:19] #2054 closed, assigned to nobody

[2016-05-09 18:30] chriseppstein commented on #2052
Knowing what I know now, I prefer Sass to work how you suggest, but for better or worse, this is how Sass has worked for a very long time and for reasons that seemed good at the time.
Changing this would require an onerous deprecation process and the work that people would need to do for that isn't (imo) justified by the net benefit.

Note: there is a more trivial work around than you posted. Just

[2016-05-09 18:30] #2052 closed, assigned to nobody

[2016-05-09 22:53] #2050 closed, assigned to nex3

[2016-05-10 11:00] ghost commented on #871
+1

[2016-05-10 19:16] NicosKaralis commented on #1646
I'm a little late for this issue.

I have in my rails app some vendor `js` and `css` files. They are downloaded and compiled during every deploy. And currently I'm facing this problem:

This css code:

[code]

Generates this css:

[code]

[code]

Funny thing is that `.drawer--sidebar .drawer-hamburger` behave as expected but `.drawer--sidebar.drawer--left .drawer-nav` is not detected.

I want to r

[2016-05-10 19:29] NicosKaralis opened #2055 "Semicolon appearing after a comment and breaking rules"
I've reported this issue [in this closed issue comment](https://github.com/sass/sass/issues/1646#issuecomment-218261257) but after some digging I found that my problem is something else.

Just to explain my issue again:

I have in my rails application many vendor assets, `js` and `css`, that are downloaded and compiled on each deploy.

After the last deploy some css rules stopped working. After a

[2016-05-10 19:47] NicosKaralis commented on #2055
After more digging I found a possible cause for this problem.

Inside `@media` declaration each comment, `\* *\` or `\*! *\`, will have a semicolon after it. They shouldn't.

This is the only place where I found this happens

[2016-05-11 06:51] Kasheftin opened #2056 "Function doesn't support keyword arguments"
I try to compile input.scss to output.scss (both in scss format, that's preparation for future work that's not under my control).
This is input.scss content (there's undefined function in it):

[code]

It compiles successfully, the result is:

[code]

It means compiler does not know about undefined function and just includes it as is. That's the expected behavior.

Next, let's change input.scss to

[2016-05-11 08:27] drgullin commented on #626
What about an extra function for retrieving variable's value using the dynamic name?

Something like

[code]

That should be much simpler, since it changes the current runtime specs only inside `get-color()` function.
`get-color()` would look into the current selector's scope, than parent's and so on.

Variable interpolation is really needed, since sometimes number of variables is overheaded just

[2016-05-11 10:08] ArmorDarks commented on #626
@fronteed For such cases we already have maps. During retrieving process from maps you can form path in whatever form you need. Please, take a look at https://github.com/sass/sass/issues/132 for details.

[2016-05-11 17:26] chriseppstein commented on #2049
I agree that #1 is best, I think that if this is in use in actual stylesheets, it's probably to avoid functions from being interpreted as sass functions.

[2016-05-11 17:34] chriseppstein commented on #2055
I'm pretty sure this isn't a sass bug. I can't reproduce it using the Sass CLI and it's unlikely that such a bug could go unnoticed in Sass for so long since I can't imagine any recent change to our stable branch that could have affected this.

If you can provide a failing test case, outside of your rails asset pipeline, we will be happy to dig into it further.

[2016-05-11 17:34] #2055 closed, assigned to nobody

[2016-05-11 17:37] chriseppstein commented on #2056
Your expected result is invalid CSS. We give an error here because keyword arguments tell us this is intended to call a Sass function and since it doesn't exist, this is a coding mistake. If it worked how you suggest developers would spend more time debugging their typos and then would wonder why we didn't give them an error.

[2016-05-11 17:37] #2056 closed, assigned to nobody

[2016-05-11 17:57] Kasheftin commented on #2056
Then why don't you give an error in the first case, with `myundefinedfunc(100)`? I expect the same behaviour nevertheless if there's keyword argument or not.

[2016-05-11 18:03] chriseppstein commented on #2056
@Kasheftin That syntax is indistinguishable from CSS syntax so for forward-compatibility with future versions of CSS that may occur between Sass releases, we do not have a white-list of legal CSS functions.

[2016-05-11 21:20] vecerek opened #2058 "Error report: Extend inside directives"
According to the Sass language specification, the use of _&#64;extend_ within _&#64;media_ (or other CSS directives) may only extend selectors that appear within the same directive block. However, if the referenced selector by the &#64;extend is also present in the outer scope, it fails applying the &#64;extend rule and throws an error message.

An example SCSS code:

[code]

The error message rec

[2016-05-11 22:06] marek-saji commented on #2052
@chriseppstein I agree that it is not a common enough use case to worry about, if it requires too many changes. I'm using SASS for few years now and bumping into this just now. Also thank you for the work around, it does look better than separate block. {:

[2016-05-12 14:01] keichinger opened #2059 "@at-root with #{&} inside a comma-separated selector generates wrong code"
**Tested versions**: v3.3.6 via node-sass (sorry, I can't run/test it against the ruby implementation directly)

Given the following input:

[code]

You'll get the following output:

[code]

The problem here is that `#{&}`, which I used here in this example to prepend some selector (`.something-at-root`) right at the beginning, which causes the compiler to generate wrong output.

I'd expect the fo

[2016-05-12 14:03] xzyfer commented on #2059
@cH40z-Lord you can test Ruby Sass output online with http://sassmeister.com/

[2016-05-12 14:21] keichinger commented on #2059
@xzyfer great, though the output is the same no matter what version I test it against: http://www.sassmeister.com/gist/caaadc02bbacce49790781fa2b122fbd

[2016-05-12 14:26] cimmanon commented on #2059
See https://github.com/sass/sass/issues/1556

[2016-05-12 15:50] igoradamenko commented on #216
+1. it will be great for instance for box-shadows:

[code]

[2016-05-12 19:36] chriseppstein commented on #2059
Yes, that's what `#{}` does. It inserts the SassScript expression as a string at that location.

What you wanted was `@at-root #{selector-append(".something-at-root", &)}`

[2016-05-12 19:36] #2059 closed, assigned to nobody

[2016-05-12 21:09] chriseppstein commented on #2058
Duplicate of #1050

[2016-05-12 21:09] #2058 closed, assigned to nobody

[2016-05-12 21:10] chriseppstein commented on #216
Depends on #1942

[2016-05-12 22:03] caiotarifa opened #2060 "Sass Mixin: Callback or Replace @content"
Hey,

I originally posted this question on StackOverflow, but as got no answer (even after a bounty), I am asking for your help through this channel.

http://stackoverflow.com/questions/37128950/sass-mixin-callback-or-replace-content

Is there any way to do this? Thank you.

[2016-05-13 17:53] chriseppstein commented on #2060
Duplicate of #871

[2016-05-13 17:53] #2060 closed, assigned to nobody

[2016-05-13 23:31] nex3 commented on #2049
Thinking this through further, I think `#{$name}(foo)` should actually be parsed as ``#{$name}(#{foo})``. This follows from [the CSS grammar for a function token](https://drafts.csswg.org/css-syntax-3/#ref-for-typedef-function-token-2) and the fact that in Sass, `#{$name}` is in and of itself a valid identifier.

[2016-05-15 11:12] KittyGiraudel commented on #1996
I believe it would be nice to centralise issues so that searching through existing issues returns more relevant results?

[2016-05-15 11:14] KittyGiraudel commented on #1988
`content-exists(..)` would be better in order to stay consistent with `feature-exists(..)` and the like.

[2016-05-16 18:06] chriseppstein commented on #1988
I think this function should return the arity of the content block or nil if none given. Right now this would always be zero, but after #871 it could be a positive value. All of which is "truthy" so `@if content-given()` can be used without testing for zero.

[2016-05-16 18:15] chriseppstein commented on #1996
@HugoGiraudel That's a good point. maybe we'll just turn issues off on the new repo.

[2016-05-19 08:09] byzg commented on #127
+

[2016-05-19 13:39] jalarson1 opened #2062 "sass error when trying to run gulp local webserver"
I have node.js and gulp.js installed, npm install works fine but then when I try to run the gulp local webserver it stops at 'sass' with the error messages below.

I have tried uninstalling node.js and gulp.js as well as wiping out the node_modules folder and running npm install again but no luck yet. Any suggestions?

`[09:50:25] Starting 'generate-sass-index'...
[09:50:26] Finished 'generate-sas

[2016-05-19 17:32] chriseppstein commented on #2062
Your sass code has an error in it.

[2016-05-19 17:32] #2062 closed, assigned to nobody

[2016-05-19 17:37] jalarson1 commented on #2062
Ok. Clearly this wasn't the place to go to get help with how to fix my problems with sass.

[2016-05-19 19:12] nex3 commented on #1988
@chriseppstein I'm not a fan of overloading functions like that—it makes it difficult for people unfamiliar with the function to read code that uses it. It should do exactly what the name says. I'd prefer to have a separate `content-arity()` function for that.

[2016-05-19 19:28] chriseppstein commented on #1988
@nex3 Agreed. I actually had come to the same realization before I read your comment 👍

[2016-05-19 19:34] davidkpiano opened #2063 "[Feature Request] Partially Applied Functions in 4.x"
As discussed on Slack...

**Creating partially applied functions**

[code]

[2016-05-20 17:54] chriseppstein commented on #127
The module system in Sass 4.0 will provide the ability to control a public API and avoid naming collisions across modules. Once we have that, I can't think of a use case for nested `@mixin` definitions.

[2016-05-20 17:54] #127 closed, assigned to nobody

[2016-05-20 21:52] nex3 commented on #2051
Closed by 7f9c81620764d3d6f0fd57423f46e9050abbc549

[2016-05-20 21:52] #2051 closed, assigned to nex3

[2016-05-20 21:52] #2049 closed, assigned to nex3

[2016-05-20 21:56] nex3 commented on #1817
I think we're heading in a more `as mixin` direction with `@use` than anything where nested directives would make sense.

[2016-05-20 21:56] #1817 closed, assigned to nex3

[2016-05-20 21:59] nex3 commented on #1390
@chriseppstein Can this be closed out, or is there more you want to do?

[2016-05-20 22:15] #1967 closed, assigned to chriseppstein

[2016-05-23 17:55] ArmorDarks commented on #2063
Oh my, will we finally receive calls for functions? I hope we'll also get `apply`, which will spread provided list into function parameters? Or spread `...params` operator will do nicely too...

Necessity to create references manually with `function-reference()` after JavaScript sounds like a heresy to me, but I understand that with Sass we don't have much other options... Though, I get feeling li

[2016-05-23 18:22] ArmorDarks opened #2066 "Variables referencing"
To be honest, I'm not sure how exactly that issue should be named, since I can't tell for sure is it more related to referencing itself, or mutability.

Instead of long explanations, let's go straight to examples:

[code]

This seem fine. Now, imagine that somewhere you need to _write_ to that global map. You could imagine something like this:

[code]

But it won't work for obvious reasons. Sass v

[2016-05-23 18:30] ArmorDarks commented on #2063
And one more thing. Wouldn't that work too?

[code]

Defining of reference here seems to be not needed unless you want to put function as expression into some variable. First argument of `call` is always a name of a function, so why we should always put there a defined reference? If string provided, why won't it just search for a straight match with a name of one of already defined functions?

In

[2016-05-23 20:38] chriseppstein commented on #2066
All Sass values are immutable. Code will need to be structured around return values instead of being based on side-effects. That is, the code that is calling `test-set` should look like `$global-map: test-set($test, $value, $global-map) !global`

[2016-05-23 20:38] #2066 closed, assigned to nobody

[2016-05-23 20:40] chriseppstein commented on #1390
This is now in place. I will review contribution documentation to make sure that the workflow is clear.

[2016-05-23 20:54] ArmorDarks commented on #2066
Hi @chriseppstein

Thanks for your reply!

Ah, I see, as I've supposed they're indeed immutable. That's fine, of course.

Though, I'm trying really hard to apply you code and understand how does it solve described issue, without any luck. Am I missing something?

[2016-05-23 20:59] chriseppstein commented on #2063
@ArmorDarks Sass already has the `call` function for invoking functions by value. And we already have variable arguments. See the release notes for Sass 3.3: http://sass-lang.com/documentation/file.SASS_CHANGELOG.html#330_7_march_2014

[2016-05-23 21:04] chriseppstein commented on #2063
It does right now. But we are changing this behavior in 4.0 to only accept references because of how name resolution is changing in 4.0. See #2061 for more details.

[2016-05-23 21:11] ArmorDarks commented on #2063
@chriseppstein Thanks for explanation, I didn't see that PR. My bad. That was exactly what I've been asking about. So, no more strings in calls, as I've thought. Sadly enough.

Won't it be possible to automatically call `$__tempFuncRef__: function-reference({{ functionName }});` by Sass itself before any `call`, which uphold string as first argument? This will allow to preserve previous behavior a

[2016-05-23 21:24] chriseppstein commented on #2063
@ArmorDarks No. In 4.0, the issue is that in many cases the code performing the call is in a different module than the code specifying the name of the function to invoke. In 4.0 global functions don't exist. Lexical scoping rules mean that it's quite unlikely that the code performing the call would be able to resolve the function name from that scope or worse, it may resolve to a different functio

[2016-05-23 22:00] chriseppstein commented on #1390
Docs in bbc7663c1e24ed7f8e7014f356af1f6c4209aac9

[2016-05-23 22:00] #1390 closed, assigned to chriseppstein

[2016-05-23 23:57] nex3 opened #2067 "Interpolation regression in master"
There's a case where the interpolation in master doesn't match the stable behavior and where 3.4 doesn't emit a deprecation warning: if interpolation appears before text that could be the middle part of an identifier but not the start, master will treat that as a list rather than a single identifier. That is, `foo#{bar}12` is parsed as ``foo#{bar}` 12`.

The 3.4 behavior is correct here. The inter

[2016-05-26 07:27] nazar-pc opened #2068 "Feature request: inline sourcemap as Data URI"
I was surprised by `--sourcemap=inline`, since it actually includes source into map, but not map into source.
What do you think about having option for embedding sourcemap into resulting CSS?

My use case is that generally my Apache and Nginx configs only allow css/js/fonts//images files to be accessible from the web, but not scss/ls/map files.
So having source map bundled with CSS seems really co

[2016-05-26 18:34] tam5 commented on #779
what is the status of this... is there a way to include a partial only if it exists?

[2016-05-26 19:09] yordis commented on #779
@tam5 I don't think that @nex3 will change her opinion. She closed it!

[2016-05-27 18:30] #2067 closed, assigned to nex3

[2016-05-28 03:42] camsong opened #2069 "Stop remove empty selectors"
Sass will remove empty selectors by default, Is there an options to disable this?

Such as

[code]

will compile to nothing, but I want it compile to `.empty{}`, otherwise I got error when using css-modules.

ref: https://github.com/sass/node-sass/issues/1569
https://github.com/css-modules/css-modules/issues/140

[2016-05-31 11:31] guoyunhe opened #2070 "Undefined variable error but variable is indeed defined"
[code]

[code]

Error:

[code]

I am using Gulp.

[2016-06-01 01:49] paul-codes-1 commented on #2010
I was able to reproduce this issue. Taking a crack at it.

[2016-06-01 02:15] paul-codes-1 commented on #2010
![selection_012](https://cloud.githubusercontent.com/assets/14105031/15696288/8a6fa33e-275b-11e6-882c-56670c3a2ea7.png)
![selection_011](https://cloud.githubusercontent.com/assets/14105031/15696286/8808c756-275b-11e6-95bf-717c6d34ca4f.png)

Here are images of the input scss file and its output to css with improper indentation.

[2016-06-01 04:27] guoyunhe commented on #2070
Found the reason, I import in a wrong way.

[2016-06-01 04:27] #2070 closed, assigned to nobody

[2016-06-01 13:39] andypinet commented on #2069
i have a idea
like this

[code]

[2016-06-01 21:02] paul-codes-1 commented on #2010
@Jujucristine do you remember how you fixed this locally?

[2016-06-02 09:35] mgreter commented on #2069
[Can be done with important comments](http://libsass.ocbnet.ch/srcmap/#LmVtcHR5IHsKICAgIC8qISBrZWVwICovCn0=)

[code]

[2016-06-02 21:02] chriseppstein commented on #2069
What @mgreter said. Although, a random weird comment isn't very self documenting so maybe wrap it up in a mixin:

[code]

[2016-06-02 21:02] #2069 closed, assigned to nobody

[2016-06-02 21:05] chriseppstein commented on #2068
Is there a reason why you can't change your config to make your source map files available?

[2016-06-02 21:56] Jujucristine commented on #2010
I edited the lines I mentioned above. The only problem is that the fix I made makes all indents fixed to one level, so if you nest something like @media queries they will not double indent. Because of this it's more of a palliative, as it works for the majority of the code you'd be writing, but not all.

For the indenting I edited the above line as such:

to_css line 248:
`tab_str = '    ' * (@tab

[2016-06-02 21:57] nazar-pc commented on #2068
Obviously, it is technically possible, but there are 2 files already: source and compiled, and I'd like to avoid having third one for each source.

[2016-06-02 22:05] chriseppstein commented on #2068
I'm not opposed to adding another sourcemap output type. But we have much bigger issues on our plate right now so if someone makes a pull request against the `next` branch. we will accept it after code review.

[2016-06-02 22:09] paul-codes-1 commented on #2010
Ok, so what condition could I test for to see if double indents should be possible? I'm thinking I could set it up like:

[code]

[2016-06-03 00:26] camsong commented on #2069
It works, thanks @mgreter. Could you tell more about why sass remove empty selectors?

[2016-06-03 13:56] Wolfr opened #2072 "Unexpected output when using negative value and division operator in margin shorthand"
Reduced test case: http://www.sassmeister.com/gist/5720b6f7aac53433123f71395a6708f8

Is this intended? I would expect "margin: 0 -15px" as output.

[2016-06-03 14:05] douglasdeodato commented on #2072
try this:

.modal-body {
  .row {
    margin: 0 -#{$grid-gutter-width/2};
  }
}

http://www.sassmeister.com/gist/4474904b97d170f48a5ffd1d0642282f

Check  the documentation about: **Interpolation: #{}, Operators and Numbers** . You will understand better :) http://sass-lang.com/documentation/file.SASS_REFERENCE.html

I hope it helped you,

[2016-06-06 08:53] Wolfr commented on #2072
Yes. Thank you!

[2016-06-06 08:53] #2072 closed, assigned to nobody

[2016-06-06 11:26] alexcracea opened #2073 "@extend across files failure"
Hello,

So as I believe there was some updates recently that I found out only by reinstalling my whole OS. Now with a fresh reinstall of nodejs & gulp - sass won't get me to render extends across files:

Here's the file structure
├── styles.scss - imports _style-main
├── _styles-main.scss - imports _extends and _icons
├── _extends.scss
├── _icons.scss

in _icons.scss I declare an extend:

[code]

[2016-06-06 17:40] chriseppstein commented on #2073
It looks like you're trying to compile a partial by itself.

[2016-06-06 17:40] #2073 closed, assigned to nobody

[2016-06-06 17:45] chriseppstein commented on #2069
@camsong
1. A selector with no properties has no meaning to a browser.
2. It is the selector analog of pruning out properties that are set to `null`.
3. It cleans up the use case of including a mixin into a selector that conditionally produces no output based on configuration settings, global state, etc. In those cases, a selector is undesired as is an additional conditional at the call site.

[2016-06-06 21:57] hon2a opened #2074 "Allow @extending selectors defined with empty body"
At the moment `@extend`ing a selector that is defined just with empty body

[code]

throws the following error

[code]

suggesting that the `%pattern` definition, being empty, is discarded right away. The code above should be self-explanatory as to why this might be undesirable. Seeing as making the body not empty, e.g. adding a compiled `/* css comment */` makes it work just fine, wouldn't it mak

[2016-06-06 23:05] davidgoli commented on #216
👍

[2016-06-07 07:41] alexcracea commented on #2073
@chriseppstein not really, I include an extend from _icons.scss inside _extends.scss that are both imported in _styles-main in a correct order, plus, there are more .scss files in the project.

There is something wrong with the package version after the sass update on this project.

I tried downgrading gulp and npm and it didnt help, couldn't downgrade node-sass though.

Curious is that if i make

[2016-06-07 08:06] dswwsd commented on #116
+1

[2016-06-07 08:13] andypinet commented on #2074
this can work

[code]

[2016-06-07 08:32] hon2a commented on #2074
@andypinet Yeah, I said that near the end of the description. Still, it'd be nicer if it worked without the work-around.

[2016-06-07 10:10] dmitry commented on #116
Please use emoji, instead of +1. Use comments for something really helpful for the issue.

[2016-06-07 11:00] Herokid commented on #116
Ok, sorry for that.

El 7/6/16 a las 12:10, Dmitry Polushkin escribió:

##

_David Saenz_ / david@herokidstudio.es mailto:david@herokidstudio.es /
www.herokidstudio.es http://www.herokidstudio.es / 93 320 90 90 ·
Pamplona 89, 3 · 08018 Barcelona

_Herokid Studio_™

[2016-06-07 12:55] alexcracea commented on #2073
Found the issue source, it was all because the import partials was wrong.

The only thing mattered was the fact that by the time of developing we used an older version of sass and were getting no errors.

[2016-06-07 18:11] himedlooff commented on #687
Removing leading zeroes would be great. I asked my sass linter to remind me not to add them but in the compiled css they come back sometimes.

[2016-06-08 00:41] franciscop opened #2075 "Are operations inside interpolation allowed?"
Is this allowed at all officially?

[code]

It compiles without problem and as expected:

[code]

However I cannot find any reference. The [SASS Reference for Interpolation](http://sass-lang.com/documentation/file.SASS_REFERENCE.html#interpolation_) only talks about interpolating simple variables and nothing remotely similar to an operation inside the interpolation itself.

[code]

It prints the s

[2016-06-08 11:40] gligoran opened #2076 "Support embedding other selectors"
It would be very handy to have an alternative to `@extend`, that imports the ruleset from another selector. LESS does this in this way:

[code]

Output:

[code]

P.S. I hope this is not a duplicate, but I didn't find a name for this functionality, so it was rather hard to search for it.

[2016-06-08 21:43] chriseppstein commented on #2074
What is the use case here? Extending a selector that will be pruned from output is just as confusing as extending a selector that didn't exist and silently ignoring. You can add `!optional` to your extend directive to make it succeed if the base selector isn't output.

[2016-06-08 22:15] chriseppstein commented on #2075
Interpolation allows any script expression to be inside.

[2016-06-08 22:15] #2075 closed, assigned to nobody

[2016-06-08 22:18] chriseppstein commented on #2076
We considered this feature and decided against it. The reasoning is that mixins should be used in this case. When you change a mixin, you know you are changing other things that use it. But if we add this feature, you never know if you change some selector whether you're changing other selectors that incorporate it; that creates code paralysis that prevents a stylesheet from evolving.

[2016-06-08 22:18] #2076 closed, assigned to nobody

[2016-06-09 07:51] hon2a commented on #2074
@chriseppstein Thanks for that, you prompted me to try the full use-case I put in the description on [SassMeister](http://www.sassmeister.com/) and it actually works as long as there is a non-empty use of `%abstract` later in the code. That means your `!optional` suggestion is also applicable to flag `.instance` as `%abstract` without being sure that `%abstract` will be used anywhere.

Originally

[2016-06-09 07:51] #2074 closed, assigned to nobody

[2016-06-10 00:05] chriseppstein opened #2077 "Better error messages for operators with types that don't support them"
Currently if you try to divide a map or multiple function references you get an error about the type not being able to be output to css. Instead we should give an error like "cannot divide with a map".

[2016-06-10 16:32] stevenvachon opened #2078 "support CSS color level 5 functions"
[code]

It currently throws:

[code]

Now, I don't expect Sass to do anything with this, as that's the job of a post-processor.. but Sass should at least not throw an error.

[2016-06-12 13:19] andypinet commented on #2078
+1

[2016-06-13 11:40] douglasdeodato commented on #2078
Have you tried use sass palettes? its a nice feature and I think can help you on that.

you can use: saturate, desaturate, lighten, darken to match your colours, as well you can usex rgba,rgb, hex.

see that:  https://gist.github.com/douglasdeodato/09e64152c8f3a81f0bea794f88e29c39

not sure if that resolve your problem.

[2016-06-13 13:15] stevenvachon commented on #2078
Yes, that is what I am transitioning away from. I want to write mostly standard CSS.

[2016-06-13 13:34] douglasdeodato commented on #2078
ok, sorry maybe that should work?
- (Sass::Script::Value::Color) rgba($color, $alpha)
  Sets the opacity of an existing color.

Examples:

rgba(#102030, 0.5) => rgba(16, 32, 48, 0.5)
rgba(blue, 0.2)    => rgba(0, 0, 255, 0.2)

https://gist.github.com/douglasdeodato/6b7951c2090e673a526324ceaac4c56f

[2016-06-13 13:43] stevenvachon commented on #2078
http://cssnext.io

[2016-06-14 00:13] xzyfer commented on #2078
If I understand correctly this is referring to the CSS Color Module Level 4 (not 3) [`color` function](https://drafts.csswg.org/css-color-4/#color-function)?

This spec appears to still be an editors draft which means it has the potential to change. Sass traditionally does not implement new specifications before they're stable (read: implemented in a browser) because if the spec changes we're stuc

[2016-06-14 00:16] tabatkins commented on #2078
And in particular, `color()` did change - what was previously there now lives at `adjust-color()` (and has an issue noting that it needs some serious changes), and the current `color()` is about referring to a color in an arbitrary colorspace defined by a `@color-profile` rule.

I highly recommend not trying to copy whatever we're doing in this case until browsers start shipping it.  (That's a pre

[2016-06-14 00:39] stevenvachon commented on #2078
Please re-read my original post:

[2016-06-14 00:40] stevenvachon commented on #2078
A possible solution is providing the option to prefix all Sass functions:

[code]

[2016-06-14 03:37] ghost opened #2081 "Nesting type selector with reference to its parent"
Apologies if this has been discussed before, I couldn't find it in the issues section.

I'm after a feature, which would allow nesting a type selector (plain element) and chain it with a parent using the `&` notation to produce the following output:

[code]

Obviously the following example is invalid, but it illustrates the issue:

[code]

I have always worked around this by writing out the chaine

[2016-06-14 23:37] chriseppstein commented on #2078
This is a feature of Sass 4.0.

In Sass 3.5, there will be a generic work around that could be done in the stylesheet, without needing a patch release.

In sass 3.4 (current release), we will need to do a patch release to handle this.

@tabatkins There's a ton of functions here that will stomp all over a bunch of Sass functions and probably some user-defined ones. That's fine, obv, but what is the

[2016-06-14 23:50] chriseppstein commented on #2078
@stevenvachon According to @tabatkins this spec is still very much in flux, especially around the `color()` function that you're using here. What is your current use case?

[2016-06-15 00:01] chriseppstein commented on #2081
Duplicate of #282.

This works right now:

[code]

It's not as concise, but it's a decent work around.

[2016-06-15 00:01] #2081 closed, assigned to nobody

[2016-06-15 09:25] wheresrhys opened #2082 "Confusing variable scope in blocks - bug?"
If a variable is used in an `@if` block its scope behaves differently depending on whether or not the variable already exists in an outer/the global scope.
- if it exists in an outer scope then the variable references the one in the outer scope
- if it doesn't exist then a new local variable is created

http://www.sassmeister.com/gist/dd6ef43ddeefc4fa499b5b43daaca5da

Which is confusing, and leads

[2016-06-15 12:25] entozoon commented on #871
+1

[2016-06-15 17:31] davidjpfeiffer commented on #871
+1

[2016-06-15 20:05] chriseppstein commented on #2082
@wheresrhys that url is a 404 for me.

However, the block of an `@if` or `@else` follow the same scoping rules as every other conditional block and loop. These are "semi-global" scopes. The follow slightly different scoping rules when used directly in the global scope (as opposed to when they are used in the local scope of a function, mixin, or selector). This is by design because conditionals and

[2016-06-16 06:57] aktywnitu opened #2083 "Is really fast - my simply first test show that shoudl be better."
Hi,

compilation must be fast like visual graphic programs. Yes?
Why I use less:

[code]

[code]

[2016-06-16 18:16] chriseppstein commented on #2083
We agree. Ruby is slow, that's why we built libsass.

[code]

[code]

Which, as you can see here is **14 times** faster than less on equivalent stylesheets. For details on how to install a version of libsass that is best for your particular development environment, please see http://sass-lang.com/libsass.

[2016-06-16 18:16] #2083 closed, assigned to nobody

[2016-06-16 23:56] ezrafree opened #2084 "Add option to remove double spacing and new lines from sass-convert output"
Hello,

This is an enhancement request, specifically it's an enhancement/feature request for `sass-convert`.

Is there any chance we could get an option added to `sass-convert` to allow for the result to not be formatted to contain new lines between statements?

For example, currently it formats the code as such:

[code]

Note the blank lines between statements. If there were an option to also rem

[2016-06-17 10:07] chinajoy opened #2085 "有这样一个需求....."
先有这样一个scss
.a{
    xxxx: xxxx;

[code]

}

.c{
    这里面我需要.b里面的样式;
  }

我不希望在.b前面加@at-root
有解决方法嘛？

[2016-06-17 10:15] douglasdeodato commented on #2085
well if you at least translate this to English I will be able to help you.

[2016-06-17 10:18] chinajoy commented on #2085
First there is such a SCSS
.a{
       XXXX xxxx;
     .b{
          XXXX xxxx;
         XXXX xxxx;
         XXXX xxxx;
     }
}
.c{
     I need the style inside of.B;
}

I don't want to add @at-root to the front of the.B.
Is there a way to solve it?

@douglasdeodato

[2016-06-17 11:57] xzyfer commented on #2085
The easiest way is to make the styles inside of B a mixin. Then include
that mixin in both B and C.
On 17 Jun 2016 8:18 PM, "混在成都" notifications@github.com wrote:

[2016-06-17 15:59] entozoon commented on #779
He is a she.
A she that should re-open the issue, as optional imports would also let you catch the situation where an import file doesn't exist, in a useful way..
Say you're bowering in some sass junk but the dev forgot to run bower install.

You could have `$packageIsLoaded: true` in the imported file and then after the optional import, something like
`@if $packageIsLoaded != true { @error "You h

[2016-06-17 19:08] #2085 closed, assigned to nobody

[2016-06-20 16:37] stevenvachon commented on #2078
@chriseppstein I'm currently using Less followed by  [cssnext](https://www.npmjs.com/package/postcss-cssnext). I'd like to swap out Less for Sass/SCSS, but currently cannot because I get errors.

**Edit:**
Without [less-plugin-future-compat](https://www.npmjs.com/less-plugin-future-compat), Less will error as well. I had tried to do the same for libsass ([libsass#1911](https://github.com/sass/libs

[2016-06-22 00:11] chriseppstein commented on #2084
The sass-convert tool aims to create a sass output file that is well formatted, but it is not designed to be a generic code formatting tool for Sass. This option is one of a class of potential formatting options that would take sass-convert down a code path of increasing complexity and away from its core purpose (converting one syntax to another). Lots of editors do use sass-convert as a code beau